<a class="btn8 btn-8f btn-8 pull-right" href="<?php echo $this->url('measuring-unit', array('action'=>'add'));?>">Add Measuring Unit</a>

<?php

$title = 'Measuring Unit';
$this->headTitle($title);
?>

    <h2><?php echo $this->escapeHtml($title); ?></h2>

    <!--    <div class="table-responsive">-->
    <section>
        <table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
            <thead class="head_event">

            <tr>
                <th style="width:15%">Measuring Group Name</th>
                <th style="width:15%">Measuring Unit Name</th>
                <th style="width:15%">Status</th>
                <th style="width:10%" class="hidden-phone">Action</th>

            </tr>
            </thead>
            <tbody>

            <?php
            $c= 1;
            $count= count($this->paginator);
            if($count > 0) {
                foreach ($paginator as $measuringunit) :
                    ?>
                    <tr>
                        <td><?php echo $measuringunit['description']; ?></td>
                        <td><?php echo $measuringunit['unit_description']; ?></td>
                        <td><?php echo $measuringunit['is_active']=='1'?'Active':'Block'; ?></td>
                        <td>
                            <a class='btn btn-xs btn-primary' href="<?php echo $this->url('measuring-unit', array('action' => 'edit', 'id' =>$measuringunit['id'])); ?>">Edit</a>
                        </td>

                    </tr>
					<div class="clearfix"></div>
                    <?php
                    $c++;
                endforeach;
            } ?>

            </tbody>
        </table>
    </section>
    <div class="clearfix"></div>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'measuring-unit',
        'child' => '/list'
    )
);
?>