<?php

$title = 'Community Partnership';
// partners name
//print_r($partners);
$c= 0;
foreach($partners as $partner){
    if($c == 0){
        $p1= $partner->partner_name;
        $p1_id= $partner->community_partner_id;
    }
    else if($c == 1){
        $p2= $partner->partner_name;
        $p2_id= $partner->community_partner_id;
    }
    else if($c == 2){
        $p3= $partner->partner_name;
        $p3_id= $partner->community_partner_id;

    }
    else if($c == 3){
        $p4= $partner->partner_name;
        $p4_id= $partner->community_partner_id;

    }
    else if($c == 4){
        $p5= $partner->partner_name;
        $p5_id= $partner->community_partner_id;

    }
    else if($c == 5){
        $p6= $partner->partner_name;
        $p6_id= $partner->community_partner_id;
    }
    $c++;
}
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

<div class="col-sm-12 col-md-12 col-lg-12 heading_back">
    <h2><?= $p1?></h2>

</div>

<div class="clearfix"></div>

<section>
<?php
$form->setAttribute('action', $this->url('community', array('action' => 'add','id'=> $p1_id)));
$form->prepare();
echo $this->form()->openTag($form);
/*echo $this->formRow($form->get('company'));*/
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Pins</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_pins')).'</div></div>';
/*echo $this->formRow($form->get('no_pins'));*/
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Employee Engage</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_employee_engage')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Employee Trained</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_employee_trained')).'</div></div>';
echo '<div class="clearfix"></div>';

//echo $this->formRow($form->get('no_employee_engage'));
//echo $this->formRow($form->get('no_employee_trained'));

echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
echo $this->form()->closeTag(); ?>
</section>

<h3>List</h3>
<section>
<div class="table-responsive scale">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">

        <tr>
            <th>Serial No</th>
            <th>No of Pins</th>
            <th>No of Employee Engaged</th>
            <th>No of Employee Trained</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>


        <?php
        $c= 1;
        $count= count($communities);
        if($count > 0) {
            foreach ($communities as $community) : ?>
                <tr>
                    <td><a  href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community->id,'community_partner_id'=>$p1_id));?>"><?php echo $c; ?></a></td>
                    <td><?php echo $community->no_pins; ?></td>
                    <td><?php echo $community->no_employee_engage;?></td>
                    <td><?php echo $community->no_employee_trained;?></td>
                    <td><?php echo date('y-m-d',strtotime($community->create_date)) ;?></td>
                    <td><a  class="btn btn-default" href="<?php echo $this->url('community', array('action'=>'delete', 'id' => $community->id));?>">Delete</a><span class="hide"><?=_P_?></span></td>
                    <!--<td>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'edit', 'id' => $album->id));*/?>">Edit</a>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'delete', 'id' => $album->id));*/?>">Delete</a><span class="hide"><?=_P_?></span>
        </td>-->
                </tr>
                <?php
                $c++;
            endforeach;
        }
        /* else { ?>
              <tr>
                   <td colspan="6"> No Record Found</td>
               </tr>
               <?php    } */   ?>
        </tbody>
    </table>

</div>
</section>

    <h2><?= $p2?></h2>
    <div class="clearfix"></div>
<section>
<?php

$form->setAttribute('action', $this->url('community', array('action' => 'add','id'=> $p2_id)));
$form->prepare();

echo $this->form()->openTag($form);
/*echo $this->formRow($form->get('company'));*/
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Pins</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_pins')).'</div></div>';
/*echo $this->formRow($form->get('no_pins'));*/
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Employee Engage</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_employee_engage')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Employee Trained</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_employee_trained')).'</div></div>';
echo '<div class="clearfix"></div>';

//echo $this->formRow($form->get('no_employee_engage'));
//echo $this->formRow($form->get('no_employee_trained'));

echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
echo $this->form()->closeTag(); ?>
</section>
<h3>List</h3>
<section>
<div class="table-responsive scale">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">

        <tr>
            <th>Serial No</th>
            <th>No of Pins</th>
            <th>No of Employee Engaged</th>
            <th>No of Employee Trained</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($communities2);
        if($count > 0) {
            foreach ($communities2 as $community) : ?>
                <tr>
                    <td><a  href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community->id,'community_partner_id'=>$p2_id));?>"><?php echo $c; ?></a></td>
                    <td><?php echo $community->no_pins; ?></td>
                    <td><?php echo $community->no_employee_engage;?></td>
                    <td><?php echo $community->no_employee_trained;?></td>
                    <td><?php echo date('y-m-d',strtotime($community->create_date)) ;?></td>
                    <td><a  class="btn btn-default" href="<?php echo $this->url('community', array('action'=>'delete', 'id' => $community->id));?>">Delete</a><span class="hide"><?=_P_?></span></td>
                    <!--<td>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'edit', 'id' => $album->id));*/?>">Edit</a>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'delete', 'id' => $album->id));*/?>">Delete</a><span class="hide"><?=_P_?></span>
        </td>-->
                </tr>
                <?php
                $c++;
            endforeach;
        }
        /*else { ?>
            <tr>
                <td colspan="6"> No Record Found</td>
            </tr>
            <?php
        }*/

        ?>
        </tbody>
    </table>
</div>
    </section>

<h2><?= $p3?></h2>
<div class="clearfix"></div>

<section>
<?php


$form->setAttribute('action', $this->url('community', array('action' => 'add','id'=> $p3_id)));
$form->prepare();

echo $this->form()->openTag($form);
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Student in Literacy Center</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('no_student_literacy_center')).'</div></div>';
//echo $this->formRow($form->get('no_student_literacy_center'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Student Scholars</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('no_student_scholar')).'</div></div>';
//echo $this->formRow($form->get('no_student_scholar'));
echo '<div class="clearfix"></div>';
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
//echo $this->formButton($form->get('cancel'));
echo $this->form()->closeTag(); ?>
</section>
<h3>List</h3>
<section>
<div class="table-responsive scale">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">

        <tr>
            <th>Serial No</th>
            <th>No of Student In Literacy Center</th>
            <th>No of Student Scholars</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($communities3);
        if($count > 0) {
            foreach ($communities3 as $community) :


                ?>
                <tr>
                    <td><a  href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community->id,'community_partner_id'=>$p3_id));?>"><?php echo $c; ?></a></td>
                    <td><?php echo $community->no_student_literacy_center; ?></td>
                    <td><?php echo $community->no_student_scholar; ?></td>

                    <td><?php echo date('y-m-d'); ?></td>
                    <td><a  class="btn btn-default"
                           href="<?php echo $this->url('community', array('action' => 'delete', 'id' => $community->id)); ?>">Delete</a><span class="hide"><?=_P_?></span>
                    </td>

                    <!--<td>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'edit', 'id' => $album->id));*/
                    ?>">Edit</a>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'delete', 'id' => $album->id));*/
                    ?>">Delete</a><span class="hide"><?=_P_?></span>
        </td>-->
                </tr>
                <?php



                $c++;
            endforeach;
        }
        /*else { ?>
            <tr>
                <td colspan="5"> No Record Found</td>
            </tr>
            <?php
        }*/

        ?>
        </tbody>
    </table>
</div>

</section>


<h2><?= $p4?></h2>
<section>

    <?php
$form->setAttribute('action', $this->url('community', array('action' => 'add','id'=> $p4_id)));
$form->prepare();

    echo $this->form()->openTag($form);
    echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company')).'</div></div>';
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency')).'</div></div>';
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">No of Employee Engaged in Beach Cleanup</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('no_employee_engage_beachcleanup')).'</div></div>';
    echo '<div class="clearfix"></div>';
    echo $this->formSubmit($form->get('submit'));
    echo '<div class="clearfix"></div>';
    //echo $this->formButton($form->get('cancel'));
echo $this->form()->closeTag(); ?>
</section>
<h3>List</h3>
<section>
<div class="table-responsive scale">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">

        <tr>
            <th>Serial No</th>
            <th>No of Employee Engaged in Beach Cleanup</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($communities4);
        if($count > 0) {
            foreach ($communities4 as $community) : ?>
                <tr>
                    <td><a  href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community->id,'community_partner_id'=>$p4_id));?>"><?php echo $c; ?></a></td>
                    <td><?php echo $community->no_employee_engage_beachcleanup;?></td>
                    <td><?php echo date('y-m-d',strtotime($community->create_date)) ;?></td>
                    <td><a  class="btn btn-default" href="<?php echo $this->url('community', array('action'=>'delete', 'id' => $community->id));?>">Delete</a><span class="hide"><?=_P_?></span></td>
                    <!--<td>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'edit', 'id' => $album->id));*/?>">Edit</a>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'delete', 'id' => $album->id));*/?>">Delete</a><span class="hide"><?=_P_?></span>
        </td>-->
                </tr>
                <?php
                $c++;
            endforeach;   }
        /*else { ?>
            <tr>
                <td colspan="4"> No Record Found</td>
            </tr>
            <?php
        }*/

        ?>
        </tbody>
    </table>
</div>
</section>

    <h2><?= $p5?></h2>

<section>
<?php


$form->setAttribute('action', $this->url('community', array('action' => 'add','id'=> $p5_id)));
$form->prepare();

echo $this->form()->openTag($form);
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Employee Engage</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_employee_engage')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Workshop</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_workshop')).'</div></div>';
echo '<div class="clearfix"></div>';
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
//echo $this->formButton($form->get('cancel'));
echo $this->form()->closeTag(); ?>
</section>
<h3>List</h3>
<section>
<div class="table-responsive scale">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">

        <tr>
            <th>Serial No</th>
            <th>No of Employee Engaged</th>
            <th>No of Workshop</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($communities5);
        if($count > 0) {
            foreach ($communities5 as $community) : ?>
                <tr>
                    <td><a  href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community->id,'community_partner_id'=>$p5_id));?>"><?php echo $c; ?></a></td>
                    <td><?php echo $community->no_employee_engage;?></td>
                    <td><?php echo $community->no_workshop;?></td>
                    <td><?php echo date('y-m-d',strtotime($community->create_date)) ;?></td>
                    <td><a  class="btn btn-default" href="<?php echo $this->url('community', array('action'=>'delete', 'id' => $community->id));?>">Delete</a><span class="hide"><?=_P_?></span></td>   <!--<td>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'edit', 'id' => $album->id));*/?>">Edit</a>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'delete', 'id' => $album->id));*/?>">Delete</a><span class="hide"><?=_P_?></span>
        </td>-->
                </tr>
                <?php
                $c++;
            endforeach;   }
        /*else { ?>
            <tr>
                <td colspan="5"> No Record Found</td>
            </tr>
            <?php
        }*/

        ?>
        </tbody>
    </table>
</div>
    </section>

    <h2><?= $p6?></h2>
<section>

<?php


$form->setAttribute('action', $this->url('community', array('action' => 'add','id'=> $p6_id)));
$form->prepare();

echo $this->form()->openTag($form);
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Employee Engage</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_employee_engage')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">No of Tree Planted</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('no_tree_planted')).'</div></div>';
echo '<div class="clearfix"></div>';
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
echo $this->form()->closeTag(); ?>
</section>
<h3>List</h3>
<section>

<div class="table-responsive scale">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">

        <tr>
            <th>Serial No</th>
            <th>No of Employee Engaged</th>
            <th>No of Tree Planted</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($communities6);
        if($count > 0) {
            foreach ($communities6 as $community) : ?>
                <tr>
                    <td><a  href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community->id,'community_partner_id'=>$p6_id));?>"><?php echo $c; ?></a></td>
                    <td><?php echo $community->no_employee_engage;?></td>
                    <td><?php echo $community->no_tree_planted;?></td>
                    <td><?php echo date('y-m-d',strtotime($community->create_date)) ;?></td>
                    <td><a  class="btn btn-default" href="<?php echo $this->url('community', array('action'=>'delete', 'id' => $community->id));?>">Delete</a><span class="hide"><?=_P_?></span></td>
                    <!--<td>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'edit', 'id' => $album->id));*/?>">Edit</a>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'delete', 'id' => $album->id));*/?>">Delete</a><span class="hide"><?=_P_?></span>
        </td>-->
                </tr>
                <?php
                $c++;
            endforeach;   }
        /*else { ?>
            <tr>
                <td colspan="6"> No Record Found</td>
            </tr>
            <?php
        }*/

        ?>
        </tbody>
    </table>
</div>
</section>