<?php

$title = 'Community Partnership';
$this->headTitle($title);
?>
<!--<h1><?php /*echo $this->escapeHtml($title); */?></h1>-->

    <div class="col-sm-12 col-md-12 col-lg-12 heading_back">
        <h2><?php echo $this->escapeHtml($title); ?></h2>
    </div>
          <table class="table table-condensed table-striped table-bordered table-hover table-responsive">
            <thead class="head_event">
            <tr>
                <th style="width:5%">Champion</th>
                <th style="width:15%">Company</th>
       <!--       <th style="width:20%" class="hidden-phone">Department</th>  -->
                <th style="width:15%">Region</th>
                <th style="width:15%">Country</th>
                <th style="width:15%" class="hidden-phone">Type</th>
                <th style="width:20%" class="hidden-phone">Value</th>
                <th style="width:15%" class="hidden-phone">Submitted Date</th>
                <th style="width:10%" class="hidden-phone">Frequency</th>
                <th style="width:10%" class="hidden-phone">Next Date</th>
                <th style="width:10%" class="hidden-phone">Status</th>
              </tr>
            </thead>
            <tbody>
<?php
    $c= 1;
    $count= count($this->paginator);
    if($count > 0) {
        foreach ($paginator as $community) :


            ?>
            <tr>
            <?php if($community['status']== _P_) { ?>
                <td><a href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community['id'],'community_partner_id'=>$community['community_partner_id']));?>"><?php echo $community['user_name']; ?></a></td>
          <?php } ?>
 <?php if($community['status']== _A_) { ?>
                        <td><?php echo $community['user_name']; ?></td>

                    <?php } ?>
                        <?php if($community['status']== _W_) { ?>
                            <td><?php echo $community['user_name']; ?></td>

                        <?php } ?>
                <td><?php echo $community['company_name']; ?></td>
                <td><?php echo $community['region_description']; ?></td>
                <td><?php echo $community['country_name']; ?></td>
                <td><?php echo $community['name']; ?></td>
                <td><?php echo number_format($community['value']); ?></td>
                <!-- <td><?php // echo $community['department_name']; ?></td> -->


                <td><?php echo date('d-m-y',strtotime($community['create_date'])) ;?></td>
                <td><?php echo $community['frequency_name'] ;?></td>
                <td><?php echo date('d-m-y',strtotime($community['expiry_date'])) ;?></td>
                <?php if($community['status']== _P_) { ?>
                    <td><a  href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community['id'],'community_partner_id'=>$community['community_partner_id']));?>"><span class="status_p"> </span><span class="hide"><?=_P_?></span></a></td>
                <?php }  ?>
              <?php if($community['status']== _W_) { ?>
<!--                            <td><a  data-toggle="modal" data-target="#myModal" href="--><?php //echo $this->url('email' ,array('action' => 'index', 'id'=>0,'email_id' => $community['user_email']));?><!--"><span style="background-color:#c12e2a;width: 20px;border-radius: 50% 50%;height: 20px;display: block;margin-left: 10px;"> </span></a></td>-->

                            <td><a href="javascript:window.open('<?php echo $this->url('email' ,array('action' => 'index', 'id'=>0,'email_id' => $community['user_email']));?>','email','width=700,height=500')" ><span class="status_w"> </span><span class="hide"><?=_E_?></span></a></td>

                        <?php } ?>
                <?php if($community['status']== _A_) { ?>
                    <td><span class="status_a" > </span><span class="hide"><?=_A_?></span></td>

                <?php } ?>

                <!-- <td><a  class="btn btn-default"
                       href="<?php /*echo $this->url('community', array('action' => 'delete', 'id' => $community->id)); */?>">Delete</a><span class="hide"><?=_P_?></span>
                </td>-->

                <!--<td>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'edit', 'id' => $album->id));*/
                ?>">Edit</a>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'delete', 'id' => $album->id));*/
                ?>">Delete</a><span class="hide"><?=_P_?></span>
        </td>-->
            </tr>
            <?php



            $c++;
        endforeach;
    }
 /*   else { ?>
        <tr>
            <td colspan="9"> No Record Found</td>
        </tr>
        <?php
    }*/

    ?>
            </tbody>
          </table>

    <div class="clearfix"></div>

<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'community'
    )
);
?>