<?php
extract($_REQUEST);
?>
<!-- search criteria Modal -->
<img id="wheel_loader" style="display: none;background: transparent;" src="<?php echo $this->basePath('img/wheel_loader.gif') ?>">
<div class="modal fade" id="set_criteria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


          <!-- <div id="wheel_loader" class="center" style="display: none;"><img
                    src="<?php /*echo $this->basePath('img/wheel_loader.gif') */?>"></div>-->
            <div >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Set Criteria</h2>
                </div>
                <?php echo $this->partial('partial/Gfilter.phtml'); ?>
            </div>
        </div>
    </div>
</div>
<!-- search criteria Modal -->

<h2>Community</h2>

<div class="carbon-main-container">
    <!--main panel-->

    <div class="panel panel-default" style="display:<?= (empty($GData)) ? 'block' : 'none' ?>">
        <div class="panel-body center">
            <img src="<?php echo $this->basePath('img/Comunity.png') ?>" class="btn" width="180px">
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-start btn-lg" data-toggle="modal" data-target="#set_criteria">
                Start
            </button>
        </div>
    </div>
    <!--main panel-->
    <!--applied filter panel-->
    <div class="panel panel-primary" style="display:<?= (empty($GData)) ? 'none' : 'block' ?>">
        <div class="panel-heading">Applied Filter</div>
        <div class="panel-body">
            <div>
                <div class="col-lg-6">
                    <div><b>Company</b></div>
                    <div><?php echo $company_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Region</b></div>
                    <div><?php echo $region_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Country</b></div>
                    <div><?php echo $country_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Group</b></div>
                    <div><?php echo $group_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Date</b></div>
                    <div><?php echo date('M,Y', strtotime($fromyear)) . '-' . date('M,Y', strtotime($toyear)); ?></div>
                </div>
            </div>
        </div>
    </div>
    <!--applied filter panel-->
    <!--graph panel-->
    <div class="panel panel-default " style="display:<?= (empty($GData)) ? 'none' : 'block' ?>">
        <div class="panel-heading panel-heading-custom"><?= $group_name; ?> Graph

            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-bar-chart"></i>
                    </button>
                    <ul class="dropdown-menu" style=" min-width:0px !important;">
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/bar-chart.png') ?>" id="bar">
                        </li>
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/pie-chart.png') ?>" id="pie">
                        </li>
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/line-chart.png') ?>" id="line">
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#set_criteria">Filters
                    </button>
                </div>

            </div>
        </div>
        <div class="panel-body" id="canvas_body">
            <canvas id="CommunityChart" class="col-sm-12 col-md-12 pull-right" style="width:100%;"></canvas>
        </div>
    </div>
    <!--graph panel-->
    <?php
    if ($GData) {
        $total_carbon_emission = null;
        $avg_carbon_emission = null;
        $year_count = null;
        $year_arr = array();
        $starting_year = null;
        $ending_year = null;
        $carbon = array();
        $mons = array(1 => "Jan", 2 => "Feb", 3 => "Mar", 4 => "Apr", 5 => "May", 6 => "Jun", 7 => "Jul", 8 => "Aug", 9 => "Sep", 10 => "Oct", 11 => "Nov", 12 => "Dec");
        $i = 0;
        $j = 1;
        $indicator_status = null;
        $first_indicator_name = '';
        $carbon1 = array();
        $len = count($GData);
        foreach ($GData as $GData1):
            if ($GData1['indicator_status'] == 'noindicator') {
                $indicator_status = $GData1['indicator_status'];
            }
            if ($i == 0) {
                // first
                $starting_year = "'" . ltrim(date("Y", strtotime($GData1['date'])), '0') . "'";
            } else if ($i == $len - 1) {
                // last
                $ending_year = "'" . ltrim(date("Y", strtotime($GData1['date'])), '0') . "'";
            }
            // …

            $label = $GData1['label'];
            $month = ltrim(date("m", strtotime($GData1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
            // if different type

            if ($i == 0) {
                $carbon[] = $GData1['value'];
                $carbon_str = implode(',', $carbon);
                $first_indicator_name = $GData1['indicator_name'];

            } else if ($GData[$i - 1]['type'] == $GData[$i]['type']) {

                if ($j > 1) {
                    ${"carbon" . $j}[] = $GData1['value'];
                    ${"carbon_str" . $j} = implode(',', ${"carbon" . $j});

                } else {
                    $carbon[] = $GData1['value'];
                    $carbon_str = implode(',', $carbon);
                }

            } else if ($GData[$i - 1]['type'] != $GData[$i]['type']) {
                $j++;
                ${"carbon" . $j}[] = $GData1['value'];
                ${"carbon_str" . $j} = implode(',', ${"carbon" . $j});
                ${'indicator_name' . $j} = rtrim($GData1['indicator_name']);
            }

            $i++;
        endforeach;
        $year_count = count($year_arr);
        //$carbon= array_sum($carbon);
        $year = implode(',', $year_arr);

        $year_f = current($year_arr);
        $year_l = end($year_arr);

        $carbon = implode(',', $carbon);
        $carbon1 = implode(',', $carbon1);
        if ($ending_year == '' || empty($ending_year)) {
            $ending_year = $starting_year;
        }
    }
    ?>

    <script>
        $(document).ready(function () {
            var ctx = document.getElementById("CommunityChart");
            var backgroundColor = ['#2F93D1','#F15D61','#5BC3B8','#0D3B58','#E7E7E7','#FF9800','#FFC107','#4CAF50','#00BCD4','#CDDC39'];
            var labels = [
                <?php
                $carbon_exp = explode(',', $carbon_str);
                if($indicator_status == 'noindicator'){
                for ($c = 2; $c <= $j; $c++) {
                    $carbon_exp1 = explode(',', ${"carbon_str" . $c});
                }
                //count($carbon_exp);
                for ($cs = 0; $cs < count($carbon_exp); $cs++) {
                    ${"carbon_sum" . $cs} = $carbon_exp[$cs] + $carbon_exp1[$cs];
                    $carbon_sum_arr[] = ${"carbon_sum" . $cs};
                    $carbon_sum_str = implode(',', $carbon_sum_arr);
                }
                ?>
                '<?php echo rtrim($label); ?>',
                <?php
                //$carbon_sum = array_sum($carbon_exp) + array_sum($carbon_exp1);
                }else{ ?>

                '<?php echo rtrim($first_indicator_name); ?>',

                <?php  }
                for($c = 2;$c <= $j;$c++){

                $indicator_name = ${'indicator_name' . $c};
                if($indicator_status != 'noindicator'){ ?>
                '<?php echo rtrim($indicator_name); ?>',
                <?php
                }
                }
                ?>
            ];
            var data = {
                labels: [<?php echo $year; ?>],
                datasets: [
                    <?php
                    $carbon_exp = explode(',', $carbon_str);
                    if($indicator_status == 'noindicator'){
                    for ($c = 2; $c <= $j; $c++) {
                        $carbon_exp1 = explode(',', ${"carbon_str" . $c});
                    }
                    //count($carbon_exp);
                    for ($cs = 0; $cs < count($carbon_exp); $cs++) {
                        ${"carbon_sum" . $cs} = $carbon_exp[$cs] + $carbon_exp1[$cs];
                        $carbon_sum_arr[] = ${"carbon_sum" . $cs};
                        $carbon_sum_str = implode(',', $carbon_sum_arr);
                    }
                    ?>
                    {
                        fill: false,
                        label: '<?php echo rtrim($label); ?>',
                        data: [<?php
                            $total_carbon_emission = array_sum($carbon_sum_arr);
                            echo $carbon_sum_str; ?>],
                        backgroundColor: "#CDDC39",
                        borderColor: "#CDDC39"
                    },
                    <?php
                    //$carbon_sum = array_sum($carbon_exp) + array_sum($carbon_exp1);
                    }else{ ?>
                    {
                        fill: false,
                        label: '<?php echo rtrim($first_indicator_name); ?>',
                        data: [<?php
                            $total_carbon_emission = array_sum($carbon_exp);
                            echo $carbon_str; ?>],
                        backgroundColor: "#3396D2",
                        borderColor: "rgba(75,192,192,1)"
                    }
                    <?php  }
                    for($c = 2;$c <= $j;$c++){

                    $indicator_name = ${'indicator_name' . $c};
                    if($indicator_status != 'noindicator'){ ?>
                    , {
                        fill: false,
                        label: '<?php echo rtrim($indicator_name); ?>',
                        data: [<?php
                            $total_carbon_emission += ${"carbon_str" . $c} + ${"carbon_str" . $c};
                            echo ${"carbon_str" . $c}; ?>],
                        backgroundColor:backgroundColor[<?=$c;?>],
                        borderColor: backgroundColor[<?=$c;?>]
                    }
                    <?php
                    }
                    }
                    ?>
                ]
            };
            var data_pie = {
                labels: labels,
                datasets: [
                    <?php
                    $carbon_exp = explode(',', $carbon_str);
                    if($indicator_status == 'noindicator'){
                    for ($c = 2; $c <= $j; $c++) {
                        $carbon_exp1 = explode(',', ${"carbon_str" . $c});
                    }
                    //count($carbon_exp);
                    for ($cs = 0; $cs < count($carbon_exp); $cs++) {
                        ${"carbon_sum" . $cs} = $carbon_exp[$cs] + $carbon_exp1[$cs];
                        $carbon_sum_arr[] = ${"carbon_sum" . $cs};
                        $carbon_sum_str = implode(',', $carbon_sum_arr);
                    }
                    ?>
                    {
                        fill: false,
                        label: '<?php echo rtrim($label); ?>',
                        data: [<?php
                            $total_carbon_emission = array_sum($carbon_sum_arr);
                            echo $carbon_sum_str; ?>],
                        backgroundColor: "#CDDC39",
                        borderColor: "#CDDC39"
                    },
                    <?php
                    //$carbon_sum = array_sum($carbon_exp) + array_sum($carbon_exp1);
                    }else{ ?>
                    {
                        fill: false,
                        label: '<?php echo rtrim($first_indicator_name); ?>',
                        data: [<?php
                            $total_carbon_emission = array_sum($carbon_exp);
                            echo $carbon_str; ?>],
                        backgroundColor: "#3396D2",
                        borderColor: "rgba(75,192,192,1)"
                    }
                    <?php  }
                    for($c = 2;$c <= $j;$c++){

                    $indicator_name = ${'indicator_name' . $c};
                    if($indicator_status != 'noindicator'){ ?>
                    , {
                        fill: false,
                        label: '<?php echo rtrim($indicator_name); ?>',
                        data: [<?php
                            $total_carbon_emission += ${"carbon_str" . $c} + ${"carbon_str" . $c};
                            echo ${"carbon_str" . $c}; ?>],
                        backgroundColor:backgroundColor[<?=$c;?>],
                        borderColor: backgroundColor[<?=$c;?>]
                    }
                    <?php
                    }
                    }
                    ?>

                ]
            };
            var canvas = document.getElementById('CommunityChart');
            var context = canvas.getContext('2d');
            $("#pie").click(function () {
                $(".chartjs-hidden-iframe").remove();
                $("#CommunityChart").remove();
                $('<canvas>').attr({
                    id: 'CommunityChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("CommunityChart");
                var ctx = canvas.getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data_pie
                })
            });
            $("#bar").click(function () {
                $(".chartjs-hidden-iframe").remove();
                $("#CommunityChart").remove();
                $('<canvas>').attr({
                    id: 'CommunityChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("CommunityChart");
                var ctx = canvas.getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            });
            $("#line").click(function () {
                $(".chartjs-hidden-iframe").remove();
                $("#CommunityChart").remove();
                $('<canvas>').attr({
                    id: 'CommunityChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("CommunityChart");
                var ctx = canvas.getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: data
                })
            });
            new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
        });
    </script>
    <!--total carbon  emission-->
    <!--<div class="row" style="display:<?/*= (empty($GData)) ? 'none' : 'block' */?>">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading  panel-heading-custom">Total <?/*= $group_name; */?></div>
                <div class="panel-body panel-heading-custom center">
                    <div class="content">
                        <?php
    /*                        if ($GData1) {
                                echo $total_carbon_emission;
                            }
                            */?>
                    </div>
                </div>
            </div>
        </div>-->

    <!--total carbon  emission-->
    <!--avg carbon  emission-->

    <!--  <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading  panel-heading-custom1">Average <?/*= $group_name; */?></div>
                <div class="panel-body panel-heading-custom1 center">
                    <div class="content">
                        <?php
    /*                        if ($GData1) {
                                echo $avg_carbon_emission = ($total_carbon_emission) / ($year_count);
                            }
                            */?>
                    </div>
                </div>
            </div>
        </div>-->
    <!--    </div>-->
    <!--avg carbon  emission-->
</div>