<?php

$title = 'Community Partnership';

// partners name

//print_r($partners);
$c= 0;
foreach($partners as $partner){

    if($c == 0){
        $p1= $partner->partner_name;
        $p1_id= $partner->community_partner_id;
    }
    else if($c == 1){
        $p2= $partner->partner_name;
        $p2_id= $partner->community_partner_id;
    }
    else if($c == 2){
        $p3= $partner->partner_name;
        $p3_id= $partner->community_partner_id;

    }
    else if($c == 3){
        $p4= $partner->partner_name;
        $p4_id= $partner->community_partner_id;

    }
    else if($c == 4){
        $p5= $partner->partner_name;
        $p5_id= $partner->community_partner_id;

    }
    else if($c == 5){
        $p6= $partner->partner_name;
        $p6_id= $partner->community_partner_id;

    }

    $c++;
}

/*$p1 = 'Partner 1';
$p2 = 'Partner 2';
$p3 = 'Partner 3';
$p4 = 'Partner 4';
$p5 = 'Partner 5';*/
$this->headTitle($title);
?>

    <h2><?php echo $this->escapeHtml($title); ?></h2>


<?php $community_partner_id =$this->community_partner_id;
if($community_partner_id == $p1_id) { ?>


        <h4><?= $p1?></h4>

<section>
    <?php

    $form->setAttribute('action', $this->url('community', array('action' => 'edit', 'id' => $this->id,'community_partner_id'=>$p1_id)));
    $form->prepare();
    echo $this->form()->openTag($form);
     echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
    echo $this->formElementerrors($form->get('create_date'));
    echo '<div class="clearfix"></div>';
    /*echo $this->formRow($form->get('frequency_id'));*/
    //echo '<div class="form-group"><label class="control-label col-sm-2">Kg Paper Purchased</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('kg_paper')).'</div></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
    echo '<div class="clearfix"></div>';

    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo '<div class="clearfix"></div>';
    echo $this->formElement($form->get('cancel'));
    echo $this->formSubmit($form->get('submit'));
    echo '<div class="clearfix"></div>';
    //echo $this->formButton($form->get('cancel'));
    echo $this->form()->closeTag();

}
?>
</section>





<?php
if($community_partner_id == $p2_id) { ?>


        <h4><?= $p2?></h4>
        </div>
<section>
    <?php


    $form->setAttribute('action', $this->url('community', array('action' => 'edit', 'id' => $id,'community_partner_id'=>$p2_id)));
    $form->prepare();

    echo $this->form()->openTag($form);
     echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
    echo $this->formElementerrors($form->get('create_date'));
    echo '<div class="clearfix"></div>';
    /*echo $this->formRow($form->get('frequency_id'));*/
    //echo '<div class="form-group"><label class="control-label col-sm-2">Kg Paper Purchased</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('kg_paper')).'</div></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
    echo '<div class="clearfix"></div>';

    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo '<div class="clearfix"></div>';
    echo $this->formElement($form->get('cancel'));
    echo $this->formSubmit($form->get('submit'));
    echo '<div class="clearfix"></div>';
    //echo $this->formButton($form->get('cancel'));
    echo $this->form()->closeTag();

}
?>
</section>


<?php
if($community_partner_id == $p3_id) { ?>


        <h4><?= $p3?></h4>

<section>
    <?php


    $form->setAttribute('action', $this->url('community', array('action' => 'edit', 'id' => $id,'community_partner_id'=>$p3_id)));
    $form->prepare();
    echo $this->form()->openTag($form);
    echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
    echo $this->formElementerrors($form->get('create_date'));
    echo '<div class="clearfix"></div>';
    /*echo $this->formRow($form->get('frequency_id'));*/
    //echo '<div class="form-group"><label class="control-label col-sm-2">Kg Paper Purchased</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('kg_paper')).'</div></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
    echo '<div class="clearfix"></div>';

    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo '<div class="clearfix"></div>';
    echo $this->formElement($form->get('cancel'));
    echo $this->formSubmit($form->get('submit'));
    echo '<div class="clearfix"></div>';
//echo $this->formButton($form->get('cancel'));
    echo $this->form()->closeTag();
    }
    ?>
</section>





<?php
if($community_partner_id == $p4_id) { ?>


        <h4><?= $p4?></h4>

<section>
    <?php


    $form->setAttribute('action', $this->url('community', array('action' => 'edit', 'id' => $id,'community_partner_id'=>$p4_id)));
    $form->prepare();

    echo $this->form()->openTag($form);
    echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
    echo $this->formElementerrors($form->get('create_date'));
    echo '<div class="clearfix"></div>';
    /*echo $this->formRow($form->get('frequency_id'));*/
    //echo '<div class="form-group"><label class="control-label col-sm-2">Kg Paper Purchased</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('kg_paper')).'</div></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
    echo '<div class="clearfix"></div>';

    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo '<div class="clearfix"></div>';
    echo $this->formElement($form->get('cancel'));
    echo $this->formSubmit($form->get('submit'));
    echo '<div class="clearfix"></div>';
//echo $this->formButton($form->get('cancel'));
    echo $this->form()->closeTag();
    }?>
</section>





<?php
if($community_partner_id == $p5_id) { ?>

        <h4><?= $p5?></h4>

<section>
    <?php


    $form->setAttribute('action', $this->url('community', array('action' => 'edit', 'id' => $id,'community_partner_id'=>$p5_id)));
    $form->prepare();

    echo $this->form()->openTag($form);
    echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
    echo $this->formElementerrors($form->get('create_date'));
    echo '<div class="clearfix"></div>';
    /*echo $this->formRow($form->get('frequency_id'));*/
    //echo '<div class="form-group"><label class="control-label col-sm-2">Kg Paper Purchased</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('kg_paper')).'</div></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
    echo '<div class="clearfix"></div>';

    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo '<div class="clearfix"></div>';
    echo $this->formElement($form->get('cancel'));
    echo $this->formSubmit($form->get('submit'));
    echo '<div class="clearfix"></div>';
//echo $this->formButton($form->get('cancel'));
    echo $this->form()->closeTag();

}?>
</section>



<?php
if($community_partner_id == $p6_id) { ?>

        <h4><?= $p6?></h4>
<section>
    <?php


    $form->setAttribute('action', $this->url('community', array('action' => 'edit', 'id' => $id,'community_partner_id'=>$p6_id)));
    $form->prepare();

    echo $this->form()->openTag($form);
 echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
    echo $this->formElementerrors($form->get('create_date'));
    echo '<div class="clearfix"></div>';
    /*echo $this->formRow($form->get('frequency_id'));*/
    //echo '<div class="form-group"><label class="control-label col-sm-2">Kg Paper Purchased</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('kg_paper')).'</div></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
    echo '<div class="clearfix"></div>';

    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo '<div class="clearfix"></div>';
    echo $this->formSubmit($form->get('submit'));
    echo $this->formElement($form->get('cancel'));
    echo '<div class="clearfix"></div>';
    //echo $this->formButton($form->get('cancel'));
    echo $this->form()->closeTag();

}

?>
</section>
<script>
    $("#create_date").attr('readonly', true);

    $("#company_form_id").children('option:not(:selected)').attr('disabled', true);
    var companyid = $("#company_form_id").val();
    $("#country_form_id option").each(function () {
        if ($(this).attr('data-company-id') == companyid) {
            if ($(this).attr('selected') == 'selected') {

            } else {
                $(this).attr('disabled', true);
            }
        } else {
            $(this).attr('disabled', true);
        }
    });
    $("#region_form_id option").each(function () {
        if ($(this).attr('data-company-id') == companyid) {
            if ($(this).attr('selected') == 'selected') {

            } else {
                $(this).attr('disabled', true);
            }
        } else {
            $(this).attr('disabled', true);
        }
    });
    //$("#country_form_id").children('option:not(:selected)').attr('disabled', true);
    //$("#region_form_id").children('option:not(:selected)').attr('disabled', true);

    $("#indicator_form_id").children('option:not(:selected)').attr('disabled', true);
</script>
