<p>
    <?php
    $form = $this -> form;
    $form->setAttribute('action', $this->url('request', array('action' => 'add')));
    $form->prepare();


    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('category'));
    echo $this->formHidden($form->get('area'));
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();
    ?>
</p>
<!--<a class="btn8 btn-8f btn-8 pull-right" href="<?php /*echo $this->url('community', array('action'=>'add'));*/?>">Update Record</a>-->
<div class="btn-group pull-right ">
    <button class="btn8 btn-8f btn-8 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Add Record <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="<?php echo $this->url('community', array('action' => 'add', 'id' => 0, 'community_partner_id' => 1));?>"><button class="btn8 btn-8f btn-8" >Partner 1</button></a>
        </li>
        <li><a href="<?php echo $this->url('community',array('action' => 'add', 'id' => 0, 'community_partner_id' => 2));?>"><button class="btn8 btn-8f btn-8" >Partner 2</button></a>
        </li>
    </ul>
</div>


<?php
$title = 'Community Partnership';
$this->headTitle($title);
?>
<!--<h1><?php /*echo $this->escapeHtml($title); */?></h1>-->

<h2><?php echo $this->escapeHtml($title); ?></h2>
<section>
    <table class="table table-condensed table-striped table-bordered table-hover table-responsive scale">
        <thead class="head_event">
        <tr>
            <th style="width:15%">Company</th>
            <th style="width:15%">Region</th>
            <th style="width:15%">Country</th>
            <!--    <th style="width:10%" class="hidden-phone">Department</th> -->
            <!-- <th style="width:20%" class="hidden-phone">No of Employee Engaged</th>-->
            <th style="width:15%" class="hidden-phone">Type</th>
            <th style="width:20%" class="hidden-phone">Value</th>
            <th style="width:15%" class="hidden-phone">Submitted Date</th>
            <th style="width:10%" class="hidden-phone">Frequency</th>
            <th style="width:20%" class="hidden-phone">Next Date</th>
            <th style="width:5%">Action</th>
        </tr>
        </thead>
        <tbody>
        <?php
        $c= 1;
        $count= count($this->paginator);
        if($count > 0) {
            foreach ($paginator as $community) :
                ?>
                <tr>
                    <?php if ($community['status'] == _P_) { ?>
                    <td><a href="<?php echo $this->url('community', array('action' => 'edit', 'id' => $community['id'],'community_partner_id'=>$community['community_partner_id']));?>"><?php echo $community['company_name']; ?></a></td>
                <?php } else { ?>
                <td><?php echo $community['company_name']; ?></td>
                <?php } ?>
                    <td><?php echo $community['region_description']; ?></td>
                    <td><?php echo $community['country_name']; ?></td>
                    <td><?php echo $community['name']; ?></td>
                    <td><?php echo number_format($community['value']); ?></td>
                    <td><?php echo date('d-m-y',strtotime($community['create_date'])) ;?></td>
                    <td><?php echo $community['frequency_name'] ;?></td>
                    <td><?php echo date('d-m-y',strtotime($community['expiry_date'])) ;?></td>
                    <?php if($community['status'] == _P_) { ?>
                        <td><a class="btn btn-primary btn-xs "  href="<?php echo $this->url('community', array('action' => 'delete', 'id' => $community['id'],'community_partner_id'=>$community['community_partner_id']));?>">Delete</a><span class="hide"><?=_P_?></span></td>
                    <?php } if($community['status'] == _A_) { ?>
                        <td><span class="status_a"></span><span class="hide"><?=_A_?></span></td>
                    <?php } if($community['status'] == _W_) { ?>
                             <td><span class="status_w"> </span><span class="hide"><?=_E_?></span></td>
                    <?php } ?>
                </tr>
                <div class="clearfix"></div>
                <?php
                $c++;
            endforeach;
        }
        ?>
        </tbody>
    </table>
</section>
<div class="clearfix"></div>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'community'
    ));
?>