

<?php
if ($_SESSION['user']['user_type'] ==  _CHAMPION_) { ?>

    <div class="container">
    <div class="col-lg-12 center">
        <img src="<?php echo $this->basePath('img/EH.png')?>" width="100%">
    </div>
    </div>

<?php } else { ?>

<div class="container">
    <div class="col-lg-12 center">
        <img src="<?php echo $this->basePath('img/EHstatus.jpg')?>" width="100%">
    </div>
</div>

<?php } ?>


