<style>
    .panel-body {
        border: 1px lightgrey solid;
    }
</style>
<?php
$fromyear = '';
$toyear = '';
$indicator = '';
extract($_REQUEST); ?>
<script>

    $(document).ready(function () {
        $(function () {
            var country = $('#country_id');
            var company = $('#company_id');
            var company_opt = $('#company_id option');
            var frequency = $('#frequency');
            var group = $('#group');
            var indicator = $('#indicator');
            var indicator_opt = $('#indicator option');
            var region = $("#region_id");
            var country_opt = $('#country_id option');
            var region_opt = $('#region_id option');
            indicator.multipleSelect({
                width: '100%'
            });
            // $.fn.bootstrapSwitch.defaults.onText = 'ON';
            //  $.fn.bootstrapSwitch.defaults.onColor = 'start';
            // $.fn.bootstrapSwitch.defaults.offText = 'OFF';
//            $("input[type=checkbox],.compare").bootstrapSwitch({
//                onSwitchChange: function (event, state) {
//                    //alert(state);
//                    if (state == 1) {
//                        indicator.attr('multiple', true);
//                    }
//                    else {
//                        indicator.attr('multiple', false);
//                    }
//                }
//            });
            $("input[type=checkbox],#compare").click(function () {
                //alert(state);
                if ($(this).is(':checked') == 1) {
                    indicator.attr('multiple', true);
                }
                else {
                    indicator.attr('multiple', false);
                }
                indicator.multipleSelect('refresh');
            });
            $("#From").text('From Month');
            $("#To").text('To Month');
            $('#datetimepicker1').datetimepicker({
                viewMode: 'months',
                format: 'YYYY-MM-DD'
            });
            $('#datetimepicker2').datetimepicker({
                viewMode: 'months',
                format: 'YYYY-MM-DD'
            });
//Hide all of Select region

            company.on('change', function () {
                region.children('option').show();
                var ids = ($(this).val());
                if ($(this).data('options') == undefined) {
                    /*Taking an array of all options-2 and kind of embedding it on the select1*/
                    $(this).data('options', region_opt.clone());
                }
                var id = $(this).val();
                var options_region = $(this).data('options').filter('[data-company-id=' + id + ']');
                region.empty();
                country.empty();
                region.append('<option value=""></option>');
                region.append(options_region);
                /*remove repeated option of region*/
                var region_repeat = {};
                $("select[name='region_id[]'] > option").each(function () {
                    if (region_repeat[this.text]) {
                        $(this).remove();
                    } else {
                        region_repeat[this.text] = this.value;
                    }
                });
            });

            //Hide all of Select region

            region.on('change', function () {
                country.children('option').show();


                // console.log(filter.join(","));
                if ($(this).data('options') == undefined) {
                    /*Taking an array of all options-2 and kind of embedding it on the select1*/
                    $(this).data('options', country_opt.clone());
                }
                var id = $(this).val();
                var company_id = ($("#company_id").val());
                var options_country = $(this).data('options').filter('[data-region-id=' + id + '][data-company-id=' + company_id + ']');
                country.empty();
                country.append('<option value=""></option>');
                country.append(options_country);
                /*remove repeated option of country*/
                var country_repeat = {};
                $("select[name='country_id[]'] > option").each(function () {
                    if (country_repeat[this.text]) {
                        $(this).remove();
                    } else {
                        country_repeat[this.text] = this.value;
                    }
                });
            });
            //Hide all of Select indicator

            group.on('change', function () {
                if ($(this).val() == 12) {
                    var diversity_options = {1: 'Gender', 2: 'Nationality', 3: 'Age Group', 4: 'Designation'};
                    indicator.empty();
                    //  indicator.append('<option value=""></option>');
                    indicator.append('<option value=""></option>');
                    $.each(diversity_options, function (key, value) {
                        indicator.append($("<option></option>").attr("value", key).text(value));
                    });
                    $('#diversity_filter').show();

                }
                else {
                    if ($(this).data('options') == undefined) {
                        /*Taking an array of all options-2 and kind of embedding it on the select1*/
                        $(this).data('options', indicator_opt.clone());
                    }
                    var id = $(this).val();
                    var options_indicator = $(this).data('options').filter('[data-group=' + id + ']');
                    indicator.empty();
                    indicator.append(options_indicator);
                    $('#diversity_filter').hide();
                }
                indicator.multipleSelect('refresh');
            });

        });
        function toggleChevron(e) {
            $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }

        var accordion = $('#accordion');
        accordion.on('hidden.bs.collapse', toggleChevron);
        accordion.on('shown.bs.collapse', toggleChevron);
    });
</script>
<div class="search-form">
    <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <form method="post" id="searchform" novalidate="novalidate"
          action="<?php echo $this->url($moduleNamespace, array('action' => 'Graph1')) ?>">
        <div id="errorContainer">
            <p>Please Select the following:</p>
            <ul/>
        </div>
        <br>
        <div class="panel-group" id="accordion">
            <!-- company details-->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapseOne">
                            Select Company Information
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </h3>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse  collapse">
                <div class="panel-body">
                    <label class="mandatory" for="company_id">Company</label>
                    <div>
                        <select name="company_id" id="company_id" class="form-control">
                            <option value=""></option>
                            <?php
                            //$i = 0;
                            foreach ($Companies as $key => $value) { ?>
                                <option value="<?php echo $key; ?>">
                                    <?php echo $value; ?>
                                    <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : ''; ?> id="event_desc" value="<?php //echo $event['event_description'];?>"><?php// echo $event['event_description'];?> -->
                                </option>
                                <? //  $companies_arr[$company['company_id']] = $company['company_name'];
                            }
                            ?>
                        </select>
                    </div>
                    <label class="mandatory" for="region_id">Region</label>
                    <div>
                        <select name="region_id" id="region_id" class="form-control">
                            <option value=""></option>
                            <?php
                            //$i = 0;
                            foreach ($Regions as $Region) {
                                if ($Region['value'] != '') {
                                    ?>
                                    <option value="<?php echo $Region['value']; ?>"
                                            data-company-id="<?php echo $Region['attributes']['data-company-id']; ?>">
                                        <?php echo $Region['label']; ?>
                                        <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : '';
                                        ?> id="event_desc" value="<?php //echo $event['event_description'];
                                        ?>"><?php // echo $event['event_description'];
                                        ?> -->
                                    </option>
                                    <?php // } //if($event_desc == $event['event_description']){
                                    ?>
                                    <?php // }
                                    ?>

                                    <?php
                                    //$i++;
                                }
                            }
                            ?>
                        </select>
                    </div>
                    <label class="mandatory" for="country_id">Country</label>
                    <div>
                        <select name="country_id" id="country_id" class="form-control">
                            <option value=""></option>
                            <?php
                            //$i = 0;
                            foreach ($Countries as $Country) {
                                if ($Country['value'] != '') {
                                    ?>
                                    <option value="<?php echo $Country['value']; ?>"
                                            data-region-id="<?php echo $Country['attributes']['data-region-id']; ?>"
                                            data-company-id="<?php echo $Country['attributes']['data-company-id']; ?>">
                                        <?php echo $Country['label']; ?>
                                        <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : '';
                                        ?> id="event_desc" value="<?php //echo $event['event_description'];
                                        ?>"><?php // echo $event['event_description'];
                                        ?> -->
                                    </option>
                                    <?php // } //if($event_desc == $event['event_description']){
                                    ?>
                                    <?php // }
                                    ?>

                                    <?php
                                    //$i++;
                                }
                            }?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <!-- parameters-->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapseTwo">
                            Set Parameters
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </h3>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse  collapse">
                <div class="panel-body">
                    <label class="mandatory" for="group">Group</label>
                    <div>
                        <select name="group" id="group" class="form-control">
                            <option value=""></option>
                            <?php
                            //$i = 0;
                            foreach ($Groups as $Group) { ?>

                                <?php //if($event['event_description'][$i] != ($event['event_description'][$i-1])){
                                ?>
                                <option value="<?php echo $Group['id']; ?>">
                                    <?php echo $Group['label']; ?>
                                    <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : '';
                                    ?> id="event_desc" value="<?php //echo $event['event_description'];
                                    ?>"><?php // echo $event['event_description'];
                                    ?> -->
                                </option>
                                <?php // } //if($event_desc == $event['event_description']){
                                ?>
                                <?php // }
                                ?>

                                <?php
                                //$i++;
                            } ?>

                        </select>
                    </div>
                    <label class="mandatory" for="frequency">Frequency</label>
                    <div>
                        <select name="frequency" id="frequency" class="form-control">
                            <option value=""></option>
                            <?php
                            //$i = 0;
                            foreach ($Frequencies as $Frequency) { ?>

                                <?php //if($event['event_description'][$i] != ($event['event_description'][$i-1])){
                                ?>
                                <option value="<?php echo $Frequency['frequency_id']; ?>">
                                    <?php echo $Frequency['frequency_name']; ?>
                                    <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : '';
                                    ?> id="event_desc" value="<?php //echo $event['event_description'];
                                    ?>"><?php // echo $event['event_description'];
                                    ?> -->
                                </option>
                                <?php // } //if($event_desc == $event['event_description']){
                                ?>
                                <?php // }
                                ?>

                                <?php
                                //$i++;
                            } ?>

                        </select>
                    </div>
                    <!--        <label for="indicator">Comparison</label>-->
                    <!--<div>
                        <input type="checkbox" value="1" name="compare" id="compare">
                    </div>-->
                    <!--        <div class="onoffswitch">-->
                    <!--            <input type="checkbox" name="compare"  class="onoffswitch-checkbox" id="myonoffswitch">-->
                    <!--            <label class="onoffswitch-label" for="myonoffswitch"></label>-->
                    <!--        </div>-->
                    <label for="indicator">Indicator</label>
                    <div>
                        <select name="indicator[]" id="indicator">
                            <option value=""></option>
                            <?php
                            //$i = 0;
                            foreach ($Indicators as $Indicator) { ?>

                                <?php //if($event['event_description'][$i] != ($event['event_description'][$i-1])){
                                ?>
                                <option value="<?php echo $Indicator['id']; ?>"
                                        data-group="<?php echo $Indicator['sub_menu_id']; ?>"
                                        data-frequency="<?php echo $Indicator['frequency_id']; ?>">
                                    <?php echo $Indicator['name']; ?>
                                    <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : '';
                                    ?> id="event_desc" value="<?php //echo $event['event_description'];
                                    ?>"><?php // echo $event['event_description'];
                                    ?> -->
                                </option>
                                <?php // } //if($event_desc == $event['event_description']){
                                ?>
                                <?php // }
                                ?>
                                <?php
                                //$i++;
                            } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <!-- analytics details-->
            <div id="diversity_filter" style="display: none;">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title" data-toggle="tooltip" data-placement="top"
                            title="Set Values For Venn Diagram">
                            <a data-toggle="collapse" href="#collapseThree">
                                Cross Detailed Analytics
                                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </a>
                        </h3>
                    </div>
                </div>
                <div id="collapseThree" class="panel-collapse  collapse">

                    <div class="panel-body">
                        <label for="gender">Gender</label>
                        <div>
                            <select name="gender" id="gender" class="form-control">
                                <option value=""></option>
                                <?php
                                foreach ($genders as $gender) { ?>

                                    <option value="<?php echo $gender['gender']; ?>">
                                        <?php echo $gender['gender']; ?>
                                    </option>
                                    <?php
                                } ?>
                            </select>
                        </div>
                        <label for="nationality">Nationality</label>
                        <div>
                            <select name="nationality" id="nationality" class="form-control">
                                <option value=""></option>
                                <?php
                                foreach ($nationalities as $nationality) { ?>

                                    <option value="<?php echo $nationality['nationality']; ?>">
                                        <?php echo $nationality['nationality']; ?>
                                    </option>
                                    <?php
                                } ?>
                            </select>
                        </div>
                        <label for="designation">Designation</label>
                        <div>
                            <select name="designation" id="designation" class="form-control">
                                <option value=""></option>
                                <?php
                                foreach ($designations as $designation) { ?>

                                    <option value="<?php echo $designation['designation']; ?>">
                                        <?php echo $designation['designation']; ?>
                                    </option>
                                    <?php
                                } ?>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <br>
            </div>
            <!-- time frame-->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapseFour">
                            Set Time Frame
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </a>
                    </h3>
                </div>
            </div>
            <div id="collapseFour" class="panel-collapse  collapse">
                <div class="panel-body">

                    <label for="fromyear"> From</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' value="<?php echo $fromyear != NULL ? $fromyear :  date('Y-01-01'); ?>"
                               name="fromyear"
                               id="fromyear" class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                    <label for="toyear"> To</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' value="<?php echo $toyear != NULL ? $toyear :  date('Y-12-01'); ?>"
                               name="toyear" id="toyear" class="form-control"/>
                <span id="toyearbtn" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>

        </div>

        <input class="filter btn btn-start btn-lg btn-block" type="submit" id="view" value="Search">
        <br>
        <br>
    </form>
</div>
<script>
    $(document).ready(function () {

    });
    /*search form validation*/
    $('#view').click(function(){
        $('.panel-collapse').collapse('show');
        $('.panel-title').attr('data-toggle', '');
    });
    $("#searchform").validate({

        focusInvalid: false,
        // Specify the validation rules make_setup_form add and update forms
        rules: {
            company_id: {
                required: true
            },
            region_id: {
                required: true
            },
            country_id: {
                required: true
            },
            group: {
                required: true
            },
            frequency: {
                required: true
            },
            'indicator[]': {
                required: true
            },
            fromyear: {
                required: true
            },
            toyear: {
                required: true
            }
        },
        // Specify the validation error messages
        messages: {
            company_id: "<span>Please Select Company </span>",
            region_id: "<span>Please Select Region </span>",
            country_id: "<span>Please Select Country </span>",
            group: "<span>Please Select Group </span>",
            frequency: "<span>Please Select frequency </span>",
            'indicator[]': "<span>Please Select Indicator </span>",
            fromyear: "<span>Please Select From Date </span>",
            toyear: "<span>Please Select To Date </span>"
        },
        errorContainer: $('#errorContainer'),
        errorLabelContainer: $('#errorContainer ul'),
        wrapper: 'li',
        submitHandler: function (form) {
            form.submit();
            $('#set_criteria').hide();
            $('#wheel_loader').show();
            $.blockUI(
                {
                    overlayCSS: { opacity:.10 },
                    message: $('#wheel_loader')
                }
            );

            return true;
        }
    });
    /*search form validation*/
</script>