<?php

$fromyear = '';
$toyear = '';
$indicator = '';
extract($_REQUEST);

$paginator;
$principle;
$principle_pie;
//echo $indicator;

?>
<div class="clearfix"></div>
<br>
<div style="background: #deb178;" class="col-sm-4 col-md-3 sidebar">
    <div class="mini-submenu">
    </div>
    <div class="list-group" style="background: #deb178 !important;">

        <form method="post" id="lsearch">
            <label for="inputEmail">Country</label>

            <div>
                <select class="form-control">
                    <option value="one">UAE</option>

                </select>
            </div>

            <label for="inputEmail">Company</label>

            <div>
                <select name="company_id" class="form-control">
                    <option value="1">MCT FZE</option>
                    <option value="2">Allied Enterprise</option>
                </select>
            </div>


            <label for="inputEmail">Location</label>
    <span class="list-group-item">
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Abu Dhabi</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Dubai</label>
                </div>
                <div class="radio">
                    <input type="radio" name="optradio" value=""><label>Sharjah</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Ajman</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Ras Al Khaimah</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Umm Al Quwain</label>
                </div>

    </span>
            <label for="inputEmail">Indicator</label>
            <div id="accordion-first" class="clearfix">
                <div class="accordion" id="accordion2">


                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                <i class=" glyphicon glyphicon-plus "></i> Community Partnership
                            </a>
                        </div>
                        <div style="height: 0px;" id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                <span class="list-group-item">

                             <div><label><input type="checkbox" <?php echo $indicator == 'CP' ? 'checked' : ''; ?> name="indicator" id="indicator"  value="CP">Jusoor</label></div>
                                  <label><input type="radio" <?php echo $indicator == 'CP' ? 'checked' : ''; ?> name="indicator" id="indicator"  value="CP">Jusoor</label>


                        <div >
                            <label><input type="radio"  name="indicator"   value="CP">Friends of Cancer Patients </label>
                        </div>

                        <div >
                            <label><input type="radio"  name="indicator"   value="CP">Dubai Cares </label>
                        </div>

                        <div >
                            <label><input type="radio"  name="indicator"   value="CP">Emirates Marine Group</label>
                        </div>

                        <div >
                            <label><input type="radio"  name="indicator"   value="CP">Give A Ghaf Program </label>
                        </div>
                    </span>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                <i class="icon-fixed-width glyphicon glyphicon-plus"></i> Event
                            </a>
                        </div>
                        <div style="height: 0px;" id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <span class="list-group-item">
                                    <div class="checkbox">
                                       <div> <label> <input type="checkbox" >Event Pie</label></div>
                                        <label> <input type="checkbox" <?php echo $indicator == 'Ev' ? 'checked' : ''; ?>  name="indicator" id="indicator" value="Ev" >Event Bar</label>
                                    </div>
                                    <?php
                                    $i = 0;
                                    foreach($paginator as $event){ ?>
                                        <div class="radio">

                                            <?php if($event['event_description'][$i] != ($event['event_description'][$i-1])){ ?>
                                                <label>
                                                    <input type="radio"  name="event_desc" <?php echo $event_desc == $event['event_description'] ? 'checked' : ''; ?> id="event_desc" value="<?php echo $event['event_description'];?>"><?php echo $event['event_description'];?>
                                                </label>
                                            <?php   } //if($event_desc == $event['event_description']){ ?>
                                            <?php   // }?>
                                        </div>
                                        <?php
                                        $i++;
                                    } ?>
                                 </span>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                <i class="icon-fixed-width glyphicon glyphicon-plus"></i> Education
                            </a>
                        </div>
                        <div style="height: 0px;" id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <span class="list-group-item">
                                   <div class="checkbox">
                                      <label><input type="checkbox" name="i" >Education Pie</label>
                                       <div><label><input type="checkbox" name="i" >Education Bar</label></div>
                                       <div><label><input type="radio" <?php echo $indicator == 'E' ? 'checked' : ''; ?> name="indicator" id="indicator" value="E">Education</label></div>
                                   </div>
                                </span>
                            </div>
                        </div>
                    </div>



                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                <i class="icon-fixed-width glyphicon glyphicon-plus"></i> Training 
                            </a>
                        </div>
                        <div style="height: 0px;" id="collapseFour" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <span class="list-group-item">
                                     <div class="checkbox"> <input type="checkbox"  name="indicator" id="indicator" value="T">Training Pie</div>
		<div class="checkbox"> <input type="checkbox"  name="indicator" id="indicator" value="T1">Training Bar</div>
                                    <?php
                                    foreach($principle as $princplename) { ?>

                                        <div class="radio">
                                            <label><input type="radio" <?php echo $num_training == $princplename['principle_id'] ? 'checked' : ''; ?> name="num_training" id="num_training" value="<?= $princplename['principle_id']; ?>"><?php  $princplename['no_of_training'];?>
                                            <!--<label><input type="radio" <?php /*echo $indicator == 'T1' ? 'checked' : ''; */?> name="indicator" id="indicator" value="T1">-->
                                            <?php switch ($princplename['principle_id']) {
                                               case 1:
                                                    echo "Anti corruption";
                                                    break;
                                                case 2:
                                                    echo "Environment";
                                                    break;
                                                case 3:
                                                    echo "Human Rights";
                                                    break;
                                                case 4:
                                                    echo "Labour Standards";
                                                    break;
                                            } ?> </label>
                                        </div>
                                    <?php } ?>
                                 </span>
                            </div>
                        </div>
                    </div>
                <!--                    <div class="accordion-group">-->
<!--                        <div class="accordion-heading">-->
<!--                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">-->
<!--                                <i class="icon-fixed-width glyphicon glyphicon-plus"></i> Training Bar-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div style="height: 0px;" id="collapseFive" class="accordion-body collapse">-->
<!--                            <div class="accordion-inner">-->
<!--                                <span class="list-group-item">-->
<!--                            <div class="checkbox"> <input type="checkbox"  name="indicator" id="indicator" value="T1">Training</div>-->
<!--                                    --><?php
//                                    foreach($principle_pie as $principlepie) { ?>
<!--                                        <div class="radio">-->
<!--                                            <label><input type="radio" --><?php //echo $training_pie == $principlepie['principle_id'] ? 'checked' : ''; ?><!-- name="training_pie" id="training_pie" value="--><?//= $principlepie['principle_id']; ?><!--">--><?php // $principlepie['no_of_training'];?>
<!--                                            --><?php //switch ($principlepie['principle_id']) {
//                                                case 1:
//                                                    echo "Anti corruption";
//                                                    break;
//                                                case 2:
//                                                    echo "Environment";
//                                                    break;
//                                                case 3:
//                                                    echo "Human Rights";
//                                                    break;
//                                                case 4:
//                                                    echo "Labour Standards";
//                                                    break;
//                                            } ?>
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    --><?php //} ?>
<!--                                    <!--        <div class="radio">-->
<!--                                      <label><input type="radio" --><?php ///*echo $indicator == 'T' ? 'checked' : ''; */?><!-- name="indicator" id="indicator" value="T">Training - PIE Chart</label>-->
<!--                                  </div>-->
<!--                            </span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div><!-- end accordion -->
            </div>



            <input class="filter btn btn-primary pull-right" type="submit" id="view" value="View">
            <br>
            <br>
        </form>
    </div>
</div>
<div class="col-sm-8 col-md-9">
    <div class="col-sm-12 col-md-12" style="background: #deb178;">
        <form method="post" id="searchform" action="<?php echo $this->url($this->modulenamespace, array('action' => 'Graph1')) ?>">
            <?php
            if($indicator == 'CP'){ ?>

                <input type="hidden" name="indicator" value="CP">
            <?php }?>

            <?php if($indicator == 'E'){ ?>
                <input type="hidden" name="indicator" value="E">
            <?php }?>
            <?php if($indicator == 'T'){ ?>
                <input type="hidden" name="indicator" value="T"><input type="hidden" name="training_pie" value="<?= $training_pie ?>">
            <?php }?>
            <?php if($indicator == 'T1'){ ?>
                <input type="hidden" name="indicator" value="T1"><input type="hidden" name="num_training" value="<?= $num_training ?>">
            <?php }?>
            <?php if($indicator == 'Ev'){ ?>
                <input type="hidden" name="indicator" value="Ev"><input type="hidden" name="event_desc" value="<?= $event_desc ?>">
            <?php }?>
       <!--     <div class="col-sm-3 filter">
                <label class="col-sm-3">Chart</label>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <select class="form-control">
                        <option value="one"></option>
                        <option value="one">Bar</option>

                        <option value="one">Pie</option>

                    </select>
                </div>
            </div> -->

            <div class="col-sm-4 filter">
                <label id="From" class="col-sm-4">From Year</label>

                <div class="col-sm-7 form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' value="<?php echo $fromyear != NULL ? $fromyear : date('Y'); ?>"
                               name="fromyear" id="fromyear" class="form-control"/>
                <span id="fromyearbtn" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 filter">
                <label id="To" class="col-sm-3">To Year</label>

                <div class="col-sm-7 form-group">

                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' value="<?php echo $toyear != NULL ? $toyear : date('Y'); ?>" name="toyear"
                               id="toyear" class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-1 filter">
                <input class="btn btn-primary" type="submit" id="search" value="Search">
            </div>
        </form>


        <script type="text/javascript">
            $(document).ready(function () {
                $(function () {

                    <?php if($indicator == 'T'){ ?>
                    $("#From").text('From Month');
                    $("#To").text('To Month');
                    $('#datetimepicker1').datetimepicker({
                        viewMode: 'months',
                        format: 'MM'

                    });
                });
                $(function () {
                    $('#datetimepicker2').datetimepicker({
                        viewMode: 'months',
                        format: 'MM'
                    });
                });
                <?php }
                 else if($indicator == 'T1'){ ?>

                $('#searchform').attr('action','<?php echo $this->url('training', array('action' => 'Graph2')) ?>')
                $("#From").text('From Month');
                $("#To").text('To Month');
                $('#datetimepicker1').datetimepicker({
                    viewMode: 'months',
                    format: 'MM'

                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    viewMode: 'months',
                    format: 'MM'
                });
            });
            <?php }
             else if($indicator == 'Ev'){ ?>

            $("#From").text('From Month');
            $("#To").text('To Month');
            $('#datetimepicker1').datetimepicker({
                viewMode: 'months',
                format: 'MM'

            });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    viewMode: 'months',
                    format: 'MM'
                });
            });
            <?php }
            else{?>
            $('#datetimepicker1').datetimepicker({
                viewMode: 'years',
                format: 'YYYY'

            });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    viewMode: 'years',
                    format: 'YYYY'
                });
            });
            <?php }?>
            //$('#view').click(function(){
            //
            //   $("#container").show();
            //
            //  });

            //left panel

            $("#lsearch").submit(function(){

                if($('input[name=indicator]:checked', '#lsearch').val()=='E'){


                    $(this).attr('action','<?php echo $this->url('education', array('action' => 'Graph1')) ?>')

                }
                if($('input[name=indicator]:checked', '#lsearch').val()=='Ev'){


                    $(this).attr('action','<?php echo $this->url('event', array('action' => 'Graph1')) ?>')

                }
                if($('input[name=indicator]:checked', '#lsearch').val()=='CP'){


                    $(this).attr('action','<?php echo $this->url('community', array('action' => 'Graph1')) ?>')

                }
                if($('input[name=indicator]:checked', '#lsearch').val()=='T'){


                    $(this).attr('action','<?php echo $this->url('training', array('action' => 'Graph1')) ?>')

                }
                if($('input[name=indicator]:checked', '#lsearch').val()=='T1'){


                    $(this).attr('action','<?php echo $this->url('training', array('action' => 'Graph2')) ?>')

                }
            });
            $('input[type="checkbox"]').on('change', function() {
                $('input[type="checkbox"]').not(this).prop('checked', false);
            });
            });
        </script>
    </div>




