<?php

$fromyear = '';
$toyear = '';
$indicator = '';
extract($_REQUEST); ?>
<div class="clearfix"></div>
<br>
<div style="background: #deb178;" class="col-sm-4 col-md-3 sidebar">
    <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="list-group" style="background: #deb178 !important;">

        <form method="post" id="lsearch">
            <label for="inputEmail">Country</label>

            <div>
                <select class="form-control">
                    <option value="one">UAE</option>

                </select>
            </div>

            <label for="inputEmail">Company</label>

            <div>
                <select name="company_id" class="form-control">
                    <option value="1">MCT FZE</option>
                    <option value="2">Allied Enterprise</option>
                </select>
            </div>


            <label for="inputEmail">Location</label>
<span class="list-group-item">
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Abu Dhabi</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Dubai</label>
                </div>
                <div class="radio">
                    <input type="radio" name="optradio" value=""><label>Sharjah</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Ajman</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Ras Al Khaimah</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value="">Umm Al Quwain</label>
                </div>

</span>
            <label for="inputEmail">Indicator</label>
  <span class="list-group-item">
                <div class="radio">
                    <label><input type="radio" <?php echo $indicator == 'CP' ? 'checked' : ''; ?> name="indicator"
                                  id="indicator"  value="CP">Community Partnership</label>
                </div>
      <div class="radio">
          <label><input type="radio" <?php echo $indicator == 'Ev' ? 'checked' : ''; ?> name="indicator" id="indicator" value="Ev">Event</label>
      </div>
      <div class="radio">
          <label><input type="radio" <?php echo $indicator == 'E' ? 'checked' : ''; ?> name="indicator" id="indicator" value="E">Education</label>
      </div>

 <div class="radio">
          <label><input type="radio" <?php echo $indicator == 'T' ? 'checked' : ''; ?> name="indicator" id="indicator" value="T">Training - PIE Chart</label>
      </div>
      <div class="radio">
          <label><input type="radio" <?php echo $indicator == 'T1' ? 'checked' : ''; ?> name="indicator" id="indicator" value="T1">Training - BAR Chart</label>
      </div>
</span>

            <input class="filter btn btn-primary pull-right" type="submit" id="view" value="View">
            <br>
            <br>
        </form>
    </div>
</div>
<div class="col-sm-8 col-md-9">
    <div class="col-sm-12 col-md-12" style="background: #deb178;">
        <form method="post" id="searchform" action="<?php echo $this->url($this->modulenamespace, array('action' => 'Graph1')) ?>">

            <?php



            if($indicator == 'CP'){ ?>

                <input type="hidden" name="indicator" value="CP">
<?php }?>

            <?php if($indicator == 'E'){ ?>

                <input type="hidden" name="indicator" value="E">
            <?php }?>
            <?php if($indicator == 'T'){ ?>

                <input type="hidden" name="indicator" value="T">
            <?php }?>
            <?php if($indicator == 'T1'){ ?>

                <input type="hidden" name="indicator" value="T1">
            <?php }?>
            <?php if($indicator == 'Ev'){ ?>

                <input type="hidden" name="indicator" value="Ev">
            <?php }?>
            <div class="col-sm-5 filter">
                <label id="From" class="col-sm-4">From Year</label>

                <div class="col-sm-6 form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' value="<?php echo $fromyear != NULL ? $fromyear : date('Y'); ?>"
                               name="fromyear" id="fromyear" class="form-control"/>
                <span id="fromyearbtn" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 filter">
                <label id="To" class="col-sm-4">To Year</label>

                <div class="col-sm-6 form-group">

                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' value="<?php echo $toyear != NULL ? $toyear : date('Y'); ?>" name="toyear"
                               id="toyear" class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 filter">
                <input class="btn btn-primary" type="submit" id="search" value="Search">
            </div>
        </form>


        <script type="text/javascript">
            $(document).ready(function () {
                $(function () {

                    <?php if($indicator == 'T'){ ?>
$("#From").text('From Month');
 $("#To").text('To Month');
    $('#datetimepicker1').datetimepicker({
                        viewMode: 'months',
                        format: 'MM'

                    });
                });
                $(function () {
                    $('#datetimepicker2').datetimepicker({
                        viewMode: 'months',
                        format: 'MM'
                    });
                });
<?php }
 else if($indicator == 'T1'){ ?>

                $('#searchform').attr('action','<?php echo $this->url('training', array('action' => 'Graph2')) ?>')
                $("#From").text('From Month');
                $("#To").text('To Month');
                $('#datetimepicker1').datetimepicker({
                    viewMode: 'months',
                    format: 'MM'

                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    viewMode: 'months',
                    format: 'MM'
                });
            });
            <?php }
             else if($indicator == 'Ev'){ ?>

            $("#From").text('From Month');
            $("#To").text('To Month');
            $('#datetimepicker1').datetimepicker({
                viewMode: 'months',
                format: 'MM'

            });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    viewMode: 'months',
                    format: 'MM'
                });
            });
            <?php }
            else{?>
                $('#datetimepicker1').datetimepicker({
                    viewMode: 'years',
                    format: 'YYYY'

                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    viewMode: 'years',
                    format: 'YYYY'
                });
            });
<?php }?>
//$('#view').click(function(){
//
//   $("#container").show();
//
//  });

   //left panel

    $("#lsearch").submit(function(){

       if($('input[name=indicator]:checked', '#lsearch').val()=='E'){


           $(this).attr('action','<?php echo $this->url('education', array('action' => 'Graph1')) ?>')

       }
        if($('input[name=indicator]:checked', '#lsearch').val()=='Ev'){


            $(this).attr('action','<?php echo $this->url('event', array('action' => 'Graph1')) ?>')

        }
        if($('input[name=indicator]:checked', '#lsearch').val()=='CP'){


            $(this).attr('action','<?php echo $this->url('community', array('action' => 'Graph1')) ?>')

        }
        if($('input[name=indicator]:checked', '#lsearch').val()=='T'){


            $(this).attr('action','<?php echo $this->url('training', array('action' => 'Graph1')) ?>')

        }
        if($('input[name=indicator]:checked', '#lsearch').val()=='T1'){


            $(this).attr('action','<?php echo $this->url('training', array('action' => 'Graph2')) ?>')

        }
    });



            });
        </script>
    </div>




