
<ul class="sidebar-menu" id="nav-accordion">
        <?php foreach ($this->container as $page):
            /** @var Zend\Navigation\Page\AbstractPage $page */
            $label =$page->getLabel();
            if (($label == 'Analytics' || $label == 'Targets' || $label == 'Reports') && $_SESSION['user']['user_type'] == _ADMIN_) {
                ?>
                <li class="<?php echo $page->hasPages() ? 'sub-menu ' . $page->class : '' ?>">
                    <a href="<?php echo $page->getHref() ?>" target="<?php echo $page->getTarget() ?>"
                        <?php // echo $page->hasPages() ? 'class="dropdown-toggle" data-toggle="dropdown"' : ''
                        ?>>
                        <i class="fa <?= $page->icon; ?>"></i>
                        <span>  <?php echo $page->getLabel() ?> </span>
                        <?php if ($page->hasPages()): ?>
                            <!--                        <span class="caret"></span>-->
                        <?php endif; ?>

                    </a>
                    <?php if ($page->hasPages()): ?>
                        <ul class="sub">
                            <?php
                            $itr_child = 0;
                            $len = count($page->getPages());
                            foreach ($page->getPages() as $child):
                                /** @var Zend\Navigation\Page\AbstractPage $child */
                                if ($itr_child == $len - 1) {
                                    ?>
                                    <li class='last'>
                                        <a href="<?php echo $child->getHref() ?>">
                                            <i class="fa <?= $child->icon; ?>"></i>
                                            <span><?php echo $child->getLabel() ?></span>
                                        </a>
                                    </li>
                                    <?php
                                } else {
                                    ?>
                                    <li>
                                        <a href="<?php echo $child->getHref() ?>">
                                            <i class="fa <?= $child->icon; ?>"></i>
                                            <span><?php echo $child->getLabel() ?></span>
                                        </a>
                                    </li>
                                    <?php
                                }
                                $itr_child++;
                            endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </li>
            <?php
            } else if($label != 'Analytics' && $label != 'Targets' && $label != 'Reports') {
                ?>
                <li class="<?php echo $page->hasPages() ? 'sub-menu ' . $page->class : '' ?>">
                    <a href="<?php echo $page->getHref() ?>" target="<?php echo $page->getTarget() ?>"

                        <?php // echo $page->hasPages() ? 'class="dropdown-toggle" data-toggle="dropdown"' : ''
                        ?>>
                        <i class="fa <?= $page->icon; ?>"></i>
                        <span><?php echo $page->getLabel() ?></span>
                        <?php if ($page->hasPages()): ?>
                            <!--                        <span class="caret"></span>-->
                        <?php endif; ?>

                    </a>
                    <?php if ($page->hasPages()): ?>
                        <ul class="sub">
                            <?php
                            $itr_child = 0;
                            $len = count($page->getPages());
                            foreach ($page->getPages() as $child):
                                /** @var Zend\Navigation\Page\AbstractPage $child */
                                if ($itr_child == $len - 1) {
                                    ?>
                                    <li class='last'>
                                        <a href="<?php echo $child->getHref() ?>">
                                            <i class="fa <?= $child->icon; ?>"></i>
                                           <span><?php echo $child->getLabel() ?></span>
                                        </a>
                                    </li>
                                    <?php
                                } else {
                                    ?>
                                    <li>
                                        <a href="<?php echo $child->getHref() ?>">
                                            <i class="fa <?= $child->icon; ?>"></i>
                                           <span><?php echo $child->getLabel() ?></span>
                                        </a>
                                    </li>
                                    <?php
                                }
                                $itr_child++;
                            endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </li>
                <?php
            }
        endforeach; ?>
    </ul>
