<?php

$fromyear = '';
$toyear = '';
$indicator = '';
extract($_REQUEST);

?>
<script>

    $(document).ready(function () {
        $(function () {
            var country = $('#country_id');
            var company = $('#company_id');
            var company_opt = $('#company_id option');
            var frequency = $('#frequency');
            var group = $('#group');
            var indicator = $('#indicator');
            var indicator_opt = $('#indicator option');
            var region = $("#region_id");
            var country_opt = $('#country_id option');
            var region_opt = $('#region_id option');

         /*   $.fn.bootstrapSwitch.defaults.onText = 'ON';
            $.fn.bootstrapSwitch.defaults.onColor = 'start';
            $.fn.bootstrapSwitch.defaults.offText = 'OFF';
            $("input[type=checkbox],.compare").bootstrapSwitch({
                onSwitchChange: function (event, state) {
                    //alert(state);
                    if (state == 1) {
                        indicator.attr('multiple', true);
                    }
                    else {
                        indicator.attr('multiple', false);
                    }
                }
            });*/
            $("input[type=checkbox],#compare").click(function(){
                //alert(state);
                if ($(this).is(':checked') == 1) {
                    indicator.attr('multiple', true);
                }
                else {
                    indicator.attr('multiple', false);
                }

            });
            $("#From").text('From Month');
            $("#To").text('To Month');
            $('#datetimepicker1').datetimepicker({
                viewMode: 'months',
                format: 'YYYY-MM-DD'
            });
            $('#datetimepicker2').datetimepicker({
                viewMode: 'months',
                format: 'YYYY-MM-DD'
            });
//Hide all of Select region

            company.on('change', function () {
                region.children('option').show();
                var ids = ($(this).val());
                if ($(this).data('options') == undefined) {
                    /*Taking an array of all options-2 and kind of embedding it on the select1*/
                    $(this).data('options', region_opt.clone());
                }
                var id = $(this).val();
                var options_region = $(this).data('options').filter('[data-company-id=' + id + ']');
                region.empty();
                country.empty();
                region.append('<option value=""></option>');
                region.append(options_region);
                /*remove repeated option of region*/
                var region_repeat = {};
                $("select[name='region_id[]'] > option").each(function () {
                    if (region_repeat[this.text]) {
                        $(this).remove();
                    } else {
                        region_repeat[this.text] = this.value;
                    }
                });
            });

            //Hide all of Select region

            region.on('change', function () {
                country.children('option').show();


                // console.log(filter.join(","));
                if ($(this).data('options') == undefined) {
                    /*Taking an array of all options-2 and kind of embedding it on the select1*/
                    $(this).data('options', country_opt.clone());
                }
                var id = $(this).val();
                var company_id = ($("#company_id").val());
                var options_country = $(this).data('options').filter('[data-region-id=' + id + '][data-company-id=' + company_id + ']');
                country.empty();
                country.append('<option value=""></option>');
                country.append(options_country);
                /*remove repeated option of country*/
                var country_repeat = {};
                $("select[name='country_id[]'] > option").each(function () {
                    if (country_repeat[this.text]) {
                        $(this).remove();
                    } else {
                        country_repeat[this.text] = this.value;
                    }
                });
            });
            //Hide all of Select indicator

            group.on('change', function () {
                if ($(this).val() == 12) {
                    var diversity_options = {1: 'Gender', 2: 'Nationality', 3: 'Age Group', 4: 'Designation'};
                    indicator.empty();
                    //  indicator.append('<option value=""></option>');
                    indicator.append('<option value=""></option>');
                    $.each(diversity_options, function (key, value) {
                        indicator.append($("<option></option>").attr("value", key).text(value));
                    });
                }
                else {
                    if ($(this).data('options') == undefined) {
                        /*Taking an array of all options-2 and kind of embedding it on the select1*/
                        $(this).data('options', indicator_opt.clone());
                    }
                    var id = $(this).val();
                    var options_indicator = $(this).data('options').filter('[data-group=' + id + ']');
                    indicator.empty();
                    indicator.append('<option value=""></option>');
                    indicator.append(options_indicator);
                }

            });

        });
    });
</script>
<div>
    <form role="form" method="post" id="searchform"
          action="<?php echo $this->url($moduleNamespace, array('action' => 'Graph1')) ?>">

        <div class="col-sm-2 form-group pull-left"><label for="company_id">Company</label>
            <select name="company_id" id="company_id" class="form-control">
                <option value=""></option>
                <?php
                //$i = 0;
                foreach ($Companies as $key => $value) { ?>
                    <option value="<?php echo $key; ?>">
                        <?php echo $value; ?>
                        <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : ''; ?> id="event_desc" value="<?php //echo $event['event_description'];?>"><?php// echo $event['event_description'];?> -->
                    </option>
                    <? //  $companies_arr[$company['company_id']] = $company['company_name'];
                }
                ?>
            </select>
        </div>
        <div class="col-sm-2 form-group pull-left"><label for="region_id">Region</label>
            <select name="region_id" id="region_id" class="form-control">
                <option value=""></option>
                <?php
                //$i = 0;
                foreach ($Regions as $Region) { ?>

                    <?php //if($event['event_description'][$i] != ($event['event_description'][$i-1])){
                    ?>
                    <option value="<?php echo $Region['value']; ?>"
                            data-company-id="<?php echo $Region['attributes']['data-company-id']; ?>">
                        <?php echo $Region['label']; ?>
                        <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : '';
                        ?> id="event_desc" value="<?php //echo $event['event_description'];
                        ?>"><?php // echo $event['event_description'];
                        ?> -->
                    </option>
                    <?php // } //if($event_desc == $event['event_description']){
                    ?>
                    <?php // }
                    ?>

                    <?php
                    //$i++;
                } ?>
            </select>
        </div>
        <div class="col-sm-2 form-group pull-left"><label for="country_id">Country</label>
            <select name="country_id" id="country_id" class="form-control">
                <option value=""></option>
                <?php
                //$i = 0;
                foreach ($Countries as $Country) { ?>

                    <?php //if($event['event_description'][$i] != ($event['event_description'][$i-1])){
                    ?>
                    <option value="<?php echo $Country['value']; ?>"
                            data-region-id="<?php echo $Country['attributes']['data-region-id']; ?>"
                            data-company-id="<?php echo $Country['attributes']['data-company-id']; ?>">
                        <?php echo $Country['label']; ?>
                        <!--   <input type="checkbox"  name="event_desc" <?php // echo $event_desc == $event['event_description'] ? 'checked' : '';
                        ?> id="event_desc" value="<?php //echo $event['event_description'];
                        ?>"><?php // echo $event['event_description'];
                        ?> -->
                    </option>
                    <?php // } //if($event_desc == $event['event_description']){
                    ?>
                    <?php // }
                    ?>

                    <?php
                    //$i++;
                } ?>
            </select>
        </div>

            <div class="col-md-2 form-group pull-left">
                <label for="fromyear"> From</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' value="<?php echo $fromyear != NULL ? $fromyear : date('Y-M-D'); ?>"
                           name="fromyear"
                           id="fromyear" class="form-control col-md-2 "/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                </div>
            </div>

            <div class="col-md-2 form-group pull-left">
                <label for="toyear"> To</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' value="<?php echo $toyear != NULL ? $toyear : date('Y-M-D'); ?>" name="toyear"
                           id="toyear" class="form-control col-md-2 "/>
                <span id="toyearbtn" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                </div>
            </div>

        <input class="filter btn btn-start pull-left" type="submit" id="view" value="Search">
        <br>
        <br>
    </form>
</div>