<?php
extract($_REQUEST);
?>


<h2>Analytics</h2>

<div class="energy_mix-main-container">
    <!--applied filter panel-->
   <?php if($fromyear !=NULL){ ?>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Applied Filter</div>
            <div class="panel-body">
                <div>
                    <div class="col-lg-6">
                        <div><b>Company</b></div>
                        <div><?php echo $company_name; ?></div>
                    </div>
                    <div class="col-lg-6">
                        <div><b>Region</b></div>
                        <div><?php echo $region_name; ?></div>
                    </div>
                    <div class="col-lg-6">
                        <div><b>Country</b></div>
                        <div><?php echo $country_name; ?></div>
                    </div>
                    <!--   <div class="col-lg-6">
                    <div><b>Group</b></div>
                    <div><?php /*echo $group_name; */ ?></div>
                </div>-->
                    <div class="col-lg-6">
                        <div><b>Date</b></div>
                        <div><?php echo date('M,Y', strtotime($fromyear)) . '-' . date('M,Y', strtotime($toyear)); ?></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php } ?>
    <!--applied filter panel-->
    <!-- search criteria Modal -->
    <div class="col-lg-12">
        <div class=" panel panel-default" style="">
            <div class="panel-heading panel-heading-custom">
                Search
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-xs " type="button">
                            <span class="pull-right clickable"><i class="fa fa-chevron-up"></i></span>
                        </button>

                    </div>

                </div>
            </div>
            <div class="panel-body hide">
                <?php echo $this->partial('dashboard/Gfilter.phtml'); ?>
            </div>
        </div>
    </div>
    <!-- search criteria Modal -->
    <!--energy mix graph-->
    <div class="col-lg-12">
        <div class="col-lg-10">
            <div class=" panel panel-default" style="">
                <div class="panel-heading">Energy Mix</div>
                <div class="panel-body center">
                    <canvas id="EnergyMixChart" class="col-sm-12 col-md-12 pull-right" style="width:100%;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <?php if ($GData_waste) {
                if (!empty($GData_waste)) {
                    foreach ($GData_waste as $key => $row) {
                        $group_id[$key] = $row['group_id'];
                    }
                    array_multisort($group_id, SORT_ASC, $GData_waste);
                }
               $waste_sum = array();
                $waste_sum = array_reduce($GData_waste, function ($a, $b) {
                    isset($a[$b['group_id']]) ? $a[$b['group_id']]['value'] += $b['value'] : $a[$b['group_id']] = $b;
                    return $a;
                });
//                foreach ($GData_waste as $GData_waste1) {
//
//                    if($GData_waste[$i - 1]['group_id'] == $GData_waste[$i]['group_id']){
//                        ${"waste" . $j}[] = $GData_waste1['value'];
//                        ${"waste" . $j} = implode(',', ${"energy_mix" . $j});
//                    }
//                    else{
//                        $j++;
//                        ${"waste" . $j}[] = $GData_waste1['value'];
//                        ${"waste" . $j} = implode(',', ${"waste" . $j});
//                    }
//                }

            } ?>
            <div class="panel panel-default" style="">
                <div class="panel-heading">Waste</div>
                <div class="panel-body center">
                    <div class="col-sm-12">
                        <div class="row dash-marg-bottom text-left">
                            <img src="<?php echo $this->basePath('img/Paper.png') ?>" class="pull-left"> <span
                                class="pull-left">PAPER</span><br><strong><?php echo $waste_sum[1]['value'] ?></strong>
                        </div>
                        <div class="row dash-marg-bottom text-left"><img
                                src="<?php echo $this->basePath('img/Plastic.png') ?>" class="pull-left"> <span
                                class="pull-left">PLASTIC</span><br><strong><?php echo $waste_sum[2]['value'] ?></strong>
                        </div>
                        <div class="row dash-marg-bottom text-left"><img
                                src="<?php echo $this->basePath('img/Industrial.png') ?>" class="pull-left"> <span
                                class="pull-left">INDUSTRIAL</span><br><strong><?php echo $waste_sum[3]['value'] ?></strong>
                        </div>
                        <div class="row dash-marg-bottom text-left"><img
                                src="<?php echo $this->basePath('img/pc.png') ?>" class="pull-left"> <span
                                class="pull-left">ELECTRONIC</span><br><strong><?php echo $waste_sum[4]['value'] ?></strong>
                        </div>
                        <!--<canvas id="EnergyMixChart" class="col-sm-12 col-md-12 pull-right" style="width:100%;"></canvas>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php
    if ($GData_Energy_mix) {
        $year_count = null;
        $year = null;
        $year_arr = array();
        $starting_year = null;
        $ending_year = null;
        $energy_mix = array();

        $mons = array(1 => "Jan", 2 => "Feb", 3 => "Mar", 4 => "Apr", 5 => "May", 6 => "Jun", 7 => "Jul", 8 => "Aug", 9 => "Sep", 10 => "Oct", 11 => "Nov", 12 => "Dec");
        $i = 0;
        $j = 1;
        $indicator_status = null;
        $first_indicator_name = '';
        $energy_mix1 = array();
        $len = count($GData_Energy_mix);

        foreach ($GData_Energy_mix as $GData_Energy_mix1):
            $month = ltrim(date("m", strtotime($GData_Energy_mix1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
        endforeach;
        foreach ($GData_Energy_mix as $GData_Energy_mix1):
            if ($GData_Energy_mix1['indicator_status'] == 'noindicator') {
                $indicator_status = $GData_Energy_mix1['indicator_status'];
            }
            if ($i == 0) {
                // first
                $starting_year = "'" . ltrim(date("Y", strtotime($GData_Energy_mix1['date'])), '0') . "'";
            } else if ($i == $len - 1) {
                // last
                $ending_year = "'" . ltrim(date("Y", strtotime($GData_Energy_mix1['date'])), '0') . "'";
            }
            // …
            $label = $GData_Energy_mix1['label'];
            $month = ltrim(date("m", strtotime($GData_Energy_mix1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
            // if different type
            if ($i == 0) {
                $energy_mix[] = $GData_Energy_mix1['value'];
                $energy_mix_str = implode(',', $energy_mix);
                $first_indicator_name = $GData_Energy_mix1['indicator_name'];

            } else if ($GData_Energy_mix[$i - 1]['type'] == $GData_Energy_mix[$i]['type']) {

                if ($j > 1) {
                    ${"energy_mix" . $j}[] = $GData_Energy_mix1['value'];
                    ${"energy_mix_str" . $j} = implode(',', ${"energy_mix" . $j});

                } else {
                    $energy_mix[] = $GData_Energy_mix1['value'];
                    //  $energy_mix_str = implode(',', $energy_mix);
                }

            } else if ($GData_Energy_mix[$i - 1]['type'] != $GData_Energy_mix[$i]['type']) {
                $j++;
                ${"energy_mix" . $j}[] = $GData_Energy_mix1['value'];
                ${"energy_mix_str" . $j} = implode(',', ${"energy_mix" . $j});
                ${'indicator_name' . $j} = rtrim($GData_Energy_mix1['indicator_name']);

            }
            $i++;
        endforeach;
        $year_count = count($year_arr);
        //$energy_mix= array_sum($energy_mix);
        $mon_itr = 0;
        $year_arr1 = array();
        foreach ($mons as $mon) {

            if (!in_array("'" . $mon . "'", $year_arr1)) {
                $year_arr1[$mon_itr] = "'" . $mon . "'";;
            }
            $mon_itr++;
        }
        foreach ($mons as $mon) {
            if (!in_array("'" . $mon . "'", $year_arr)) {
                $energy_mix[] = 0;
            }
        }
        $year = implode(',', $year_arr1);
//        foreach ($year_arr as $key => $row) {
//            $key    = $row;
//        }
//
//        array_multisort($row, SORT_ASC, $year_arr);
        $year_f = current($year_arr);
        $year_l = end($year_arr);

        $energy_mix_str = implode(',', $energy_mix);
        $energy_mix1 = implode(',', $energy_mix1);
        if ($ending_year == '' || empty($ending_year)) {
            $ending_year = $starting_year;
        } ?>
        <script>
            $(document).ready(function () {
                var ctx = document.getElementById("EnergyMixChart");
                var backgroundColor = ['#2F93D1', '#F15D61', '#5BC3B8', '#0D3B58', '#E7E7E7', '#FF9800', '#FFC107', '#4CAF50', '#00BCD4', '#CDDC39'];
                var data = {
                    labels: [<?php echo $year; ?>],
                    datasets: [
                        {
                            fill: false,
                            label: '<?php echo rtrim($first_indicator_name); ?>',
                            data: [<?php echo $energy_mix_str; ?>],
                            backgroundColor: "#CDDC39",
                            borderColor: "#CDDC39"
                        }
                        <?php
                        for($c = 2;$c <= $j;$c++){
                        $indicator_name = ${'indicator_name' . $c};
                        ?>
                        , {
                            fill: false,
                            label: '<?php echo rtrim($indicator_name); ?>',
                            data: [<?php
                                echo ${"energy_mix_str" . $c}; ?>],
                            backgroundColor: backgroundColor[<?=$c;?>],
                            borderColor: backgroundColor[<?=$c;?>]
                        }
                        <?php
                        }
                        ?>
                    ]
                };
                new Chart(ctx, {
                    type: 'line',
                    data: data

                })
            });
        </script>
    <?php }
    ?>
    <!--energy mix graph-->
    <!--diversity graph-->
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class=" panel panel-default" style="">
                <div class="panel-heading">Diversity</div>
                <div class="panel-body center">
                    <canvas id="DiversityChart" class="col-sm-12 col-md-12 pull-right" style="width:100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <?php
    if ($GData_Diversity) {
        $year_count = null;
        $year_arr = array();
        $starting_year = null;
        $ending_year = null;
        $diverstiy = array();
        $year = null;
        $mons = array(1 => "Jan", 2 => "Feb", 3 => "Mar", 4 => "Apr", 5 => "May", 6 => "Jun", 7 => "Jul", 8 => "Aug", 9 => "Sep", 10 => "Oct", 11 => "Nov", 12 => "Dec");
        $i = 0;
        $j = 1;
        $indicator_status = null;
        $first_indicator_name = '';
        $diverstiy1 = array();
        $len = count($GData_Diversity);

        foreach ($GData_Diversity as $GData_Diversity1):
            $month = ltrim(date("m", strtotime($GData_Diversity1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
        endforeach;
        foreach ($GData_Diversity as $GData_Diversity1):
            if ($GData_Diversity1['indicator_status'] == 'noindicator') {
                $indicator_status = $GData_Diversity1['indicator_status'];
            }
            if ($i == 0) {
                // first
                $starting_year = "'" . ltrim(date("Y", strtotime($GData_Diversity1['date'])), '0') . "'";
            } else if ($i == $len - 1) {
                // last
                $ending_year = "'" . ltrim(date("Y", strtotime($GData_Diversity1['date'])), '0') . "'";
            }
            // …
            $label = $GData_Diversity1['label'];
            $month = ltrim(date("m", strtotime($GData_Diversity1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
            // if different type
            if ($i == 0) {
                $diverstiy[] = $GData_Diversity1['value'];
                $diverstiy_str = implode(',', $diverstiy);
                $first_indicator_name = $GData_Diversity1['indicator_name'];

            } else if ($GData_Diversity[$i - 1]['type'] == $GData_Diversity[$i]['type']) {

                if ($j > 1) {
                    ${"diverstiy" . $j}[] = $GData_Diversity1['value'];
                    ${"diverstiy_str" . $j} = implode(',', ${"diverstiy" . $j});

                } else {
                    $diverstiy[] = $GData_Diversity1['value'];
                    //  $diverstiy_str = implode(',', $diverstiy);
                }

            } else if ($GData_Diversity[$i - 1]['type'] != $GData_Diversity[$i]['type']) {
                $j++;
                ${"diverstiy" . $j}[] = $GData_Diversity1['value'];
                ${"diverstiy_str" . $j} = implode(',', ${"diverstiy" . $j});
                ${'indicator_name' . $j} = rtrim($GData_Diversity1['indicator_name']);

            }
            $i++;
        endforeach;
        $year_count = count($year_arr);
        //$diverstiy= array_sum($diverstiy);
        $mon_itr = 0;
        $year_arr1 = array();
        foreach ($mons as $mon) {

            if (!in_array("'" . $mon . "'", $year_arr1)) {
                $year_arr1[$mon_itr] = "'" . $mon . "'";;
            }
            $mon_itr++;
        }
        foreach ($mons as $mon) {
            if (!in_array("'" . $mon . "'", $year_arr)) {
                $diverstiy[] = 0;
            }
        }
        $year = implode(',', $year_arr1);
//        foreach ($year_arr as $key => $row) {
//            $key    = $row;
//        }
//
//        array_multisort($row, SORT_ASC, $year_arr);
        $year_f = current($year_arr);
        $year_l = end($year_arr);

        $diverstiy_str = implode(',', $diverstiy);
        $diverstiy1 = implode(',', $diverstiy1);
        if ($ending_year == '' || empty($ending_year)) {
            $ending_year = $starting_year;
        } ?>
        <script>
            $(document).ready(function () {
                var ctx = document.getElementById("DiversityChart");
                var backgroundColor = ['#2F93D1', '#F15D61', '#5BC3B8', '#0D3B58', '#E7E7E7', '#FF9800', '#FFC107', '#4CAF50', '#00BCD4', '#CDDC39'];
                var data = {
                    labels: [<?php echo $year; ?>],
                    datasets: [
                        {
                            fill: false,
                            label: '<?php echo rtrim($first_indicator_name); ?>',
                            data: [<?php echo $diverstiy_str; ?>],
                            backgroundColor: "#CDDC39",
                            borderColor: "#CDDC39"
                        }
                        <?php
                        for($c = 2;$c <= $j;$c++){
                        $indicator_name = ${'indicator_name' . $c};
                        ?>
                        , {
                            fill: false,
                            label: '<?php echo rtrim($indicator_name); ?>',
                            data: [<?php
                                echo ${"diverstiy_str" . $c}; ?>],
                            backgroundColor: backgroundColor[<?=$c;?>],
                            borderColor: backgroundColor[<?=$c;?>]
                        }
                        <?php
                        }
                        ?>
                    ]
                };
                new Chart(ctx, {
                    type: 'line',
                    data: data

                })
            });
        </script>
        <?php
    }
    ?>
    <!--diversity graph-->
    <!--training graph-->
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class=" panel panel-default" style="">
                <div class="panel-heading">Training</div>
                <div class="panel-body center">
                    <canvas id="TrainingChart" class="col-sm-12 col-md-12 pull-right" style="width:100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <?php
    if ($GData_Training) {
        $year_count = null;
        $year_arr = array();
        $starting_year = null;
        $ending_year = null;
        $training = array();
        $year = null;
        $mons = array(1 => "Jan", 2 => "Feb", 3 => "Mar", 4 => "Apr", 5 => "May", 6 => "Jun", 7 => "Jul", 8 => "Aug", 9 => "Sep", 10 => "Oct", 11 => "Nov", 12 => "Dec");
        $i = 0;
        $j = 1;
        $indicator_status = null;
        $first_indicator_name = '';
        $training1 = array();
        $len = count($GData_Training);

        foreach ($GData_Training as $GData_Training1):
            $month = ltrim(date("m", strtotime($GData_Training1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
        endforeach;
        foreach ($GData_Training as $GData_Training1):
            if ($GData_Training1['indicator_status'] == 'noindicator') {
                $indicator_status = $GData_Training1['indicator_status'];
            }
            if ($i == 0) {
                // first
                $starting_year = "'" . ltrim(date("Y", strtotime($GData_Training1['date'])), '0') . "'";
            } else if ($i == $len - 1) {
                // last
                $ending_year = "'" . ltrim(date("Y", strtotime($GData_Training1['date'])), '0') . "'";
            }
            // …
            $label = $GData_Training1['label'];
            $month = ltrim(date("m", strtotime($GData_Training1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
            // if different type
            if ($i == 0) {
                $training[] = $GData_Training1['value'];
                $training_str = implode(',', $training);
                $first_indicator_name = $GData_Training1['indicator_name'];

            } else if ($GData_Training[$i - 1]['type'] == $GData_Training[$i]['type']) {

                if ($j > 1) {
                    ${"training" . $j}[] = $GData_Training1['value'];
                    ${"training_str" . $j} = implode(',', ${"training" . $j});

                } else {
                    $training[] = $GData_Training1['value'];
                    //  $training_str = implode(',', $training);
                }

            } else if ($GData_Training[$i - 1]['type'] != $GData_Training[$i]['type']) {
                $j++;
                ${"training" . $j}[] = $GData_Training1['value'];
                ${"training_str" . $j} = implode(',', ${"training" . $j});
                ${'indicator_name' . $j} = rtrim($GData_Training1['indicator_name']);

            }
            $i++;
        endforeach;
        $year_count = count($year_arr);
        //$training= array_sum($training);
        $mon_itr = 0;
        $year_arr1 = array();
        foreach ($mons as $mon) {

            if (!in_array("'" . $mon . "'", $year_arr1)) {
                $year_arr1[$mon_itr] = "'" . $mon . "'";;
            }
            $mon_itr++;
        }
        foreach ($mons as $mon) {
            if (!in_array("'" . $mon . "'", $year_arr)) {
                $training[] = 0;
            }
        }
        $year = implode(',', $year_arr1);
//        foreach ($year_arr as $key => $row) {
//            $key    = $row;
//        }
//
//        array_multisort($row, SORT_ASC, $year_arr);
        $year_f = current($year_arr);
        $year_l = end($year_arr);

        $training_str = implode(',', $training);
        $training1 = implode(',', $training1);
        if ($ending_year == '' || empty($ending_year)) {
            $ending_year = $starting_year;
        } ?>
        <script>
            $(document).ready(function () {
                var ctx = document.getElementById("TrainingChart");
                var backgroundColor = ['#2F93D1', '#F15D61', '#5BC3B8', '#0D3B58', '#E7E7E7', '#FF9800', '#FFC107', '#4CAF50', '#00BCD4', '#CDDC39'];
                var data = {
                    labels: [<?php echo $year; ?>],
                    datasets: [
                        {
                            fill: true,
                            label: '<?php echo rtrim($first_indicator_name); ?>',
                            data: [<?php echo $training_str; ?>],
                            backgroundColor: "#CDDC39",
                            borderColor: "#CDDC39"
                        }
                        <?php
                        for($c = 2;$c <= $j;$c++){
                        $indicator_name = ${'indicator_name' . $c};
                        ?>
                        , {
                            fill: true,
                            label: '<?php echo rtrim($indicator_name); ?>',
                            data: [<?php
                                echo ${"training_str" . $c}; ?>],
                            backgroundColor: backgroundColor[<?=$c;?>],
                            borderColor: backgroundColor[<?=$c;?>]
                        }
                        <?php
                        }
                        ?>
                    ]
                };
                new Chart(ctx, {
                    type: 'line',
                    data: data

                })
            });
        </script>
        <?php
    }
    ?>
    <!--training graph-->
</div>