<?php
extract($_REQUEST);
set_include_path(get_include_path() . PATH_SEPARATOR . 'vendor/PHPExcel');
include 'PHPExcel/IOFactory.php';
//use PHPExcel;
//$excel = new PHPExcel();
// This is the file path to be uploaded.


$title = 'Supply';
$this->headTitle($title);
$form = $this->form;
$form->setAttribute('action', $this->url('supply', array('action' => 'edit', 'id' => $this->id,)));
$form->prepare();

$file_name = $uploaded_file['file_name'];
$org_name = $uploaded_file['org_name'];

?>
<div class="col-sm-12 col-md-12 col-lg-12 heading_back">
    <h2><?php echo $this->escapeHtml($title); ?></h2>
</div>
<?php
echo '<div id="file_upload_div" style="display: none;">';
echo '<div class="clearfix"></div>';
echo $this->form()->openTag($form);
echo '<div class="form-group"><label class="control-label col-sm-2 ">Data Upload</label><div class="col-sm-2 col-md-2 col-lg-3 label-space">' . $this->formRow($form->get('fileupload')) . '</div></div>';
/*echo $this->formRow($form->get('fileupload'));*/
echo '<div id="spinner" style="display:none;"><i  class="fa fa-spinner" ></i></div>';
echo $this->formSubmit($form->get('upload'));
echo $this->form()->closeTag();
echo '</div>';
echo '<div class="clearfix"></div>';
if ($org_name != '' || $file_name != '') {
    if ($org_name != '') {
        $url = $this->url("supply", array("action" => "download", "id" => 0, "str" => str_replace("excels/", "", $org_name)));
        echo '<div class="form-group"><label class="control-label col-sm-2">Last File Uploaded</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> <a href="' . $url . '" target="_blank">' . $file_name . '</a></div></div>';
    } else {
        $url = $this->url("supply", array("action" => "download", "id" => str_replace("excels/", "", $org_name)));
        echo '<div class="form-group"><label class="control-label col-sm-2">Last File Uploaded</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> <a href="' . $url . '" target="_blank">' . $file_name . '</a></div></div>';
    }
}
/*echo $this->formRow($form->get('no_of_scholarship'));*/
?>
<section>
    <?php

    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('supply_id'));
    echo $this->formHidden($form->get('bulk_type'));
    //For Travel
    echo $this->formHidden($form->get('employee_id'));
    echo $this->formHidden($form->get('employee_name'));
    echo $this->formHidden($form->get('travel_from'));
    echo $this->formHidden($form->get('travel_to'));
    echo $this->formHidden($form->get('travel_distance'));
    echo $this->formHidden($form->get('travel_date'));
    //For Travel
    //For National/Diversity
    echo $this->formHidden($form->get('dob'));
    echo $this->formHidden($form->get('nationality'));
    echo $this->formHidden($form->get('gender'));
    echo $this->formHidden($form->get('designation'));
    echo $this->formHidden($form->get('file_name'));
    echo $this->formHidden($form->get('org_name'));
    echo $this->formHidden($form->get('indicator_type'));
    echo $this->formHidden($form->get('col'));
    echo $this->formHidden($form->get('col1'));
    echo $this->formHidden($form->get('col2'));
    echo $this->formHidden($form->get('col3'));
    echo $this->formHidden($form->get('col4'));
    echo $this->formHidden($form->get('col5'));
    echo $this->formHidden($form->get('col6'));
    echo $this->formHidden($form->get('col7'));
    echo $this->formHidden($form->get('col8'));
    echo $this->formHidden($form->get('col8'));
    echo $this->formHidden($form->get('col9'));
    echo $this->formHidden($form->get('col10'));
    //For National/Diversity
    //For Event
    echo $this->formHidden($form->get('date'));
    //For Event
    echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('company_id')) . '</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('region_id')) . '</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('country_id')) . '</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">' . $this->formLabel($form->get("create_date")) . '</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->forminput($form->get('create_date')) . '</div></div>';
    echo $this->formElementerrors($form->get('create_date'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> ' . $this->formselect($form->get('type')) . '</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->forminput($form->get('frequency_name')) . '</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('frequency_ids')) . '</div></div></div>';
    echo '<div class="clearfix"></div>';

    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->forminput($form->get('value')) . '</div></div>';
    echo $this->formHidden($form->get('category'));
    echo $this->formHidden($form->get('area'));
    echo '<div class="clearfix"></div>';
    echo '<div id="file_upload_div_attachment" style="display: none;">';
    echo '<div class="form-group"><label class="control-label col-sm-2 ">File Upload</label><div class="col-sm-3 col-md-3 col-lg-3 label-space">' . $this->formRow($form->get('fileupload_attachment')) . '</div></div>';
    echo '</div>';
    echo '<div class="clearfix"></div>';
    ?>
</section>
<div class="alert alert-warning" id="excel_error" style="display: none;"></div>
<section id="file_upload_section" style="/*display: none;*/">
    <?php
    foreach ($indicator AS $indicator_row) {
        for ($i = 1; $i <= _BULK_FIELD_EXTRA_; $i++) {
            if (!empty($indicator_row['is_col' . $i])) {
                ${'col' . $i} = $indicator_row['is_col' . $i];
            }
        }
        $bulk_type = $indicator_row['bulk_type'];
    }

    if ($column['indicator_type'] == 'upload') {
        if ($bulk_type == 1) {
            //Event
            $employee_id = array();
            $name = array();
            $designation = array();
            $date = array();
            $headerCount = 0;
            echo '<h2>Records for review</h2>
    <section>
        <div class="table-responsive scale">
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead class="head_event">
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Date</th>';
            for ($i = 1; $i <= _BULK_FIELD_EXTRA_; $i++) {
                if (!empty(${'col' . $i})) {
                    echo '<th>' . ucfirst(strtolower(${'col' . $i})) . '</th>';
                    $headerCount++;
                }
            }
            echo '<th>Delete</th>
                </tr>
                </thead>
                <tbody>';
            $c = 1;
        foreach ($supply_details as $supply_detail) { ?>
            <tr id="record<?php echo $c; ?>">
                <td class="emp_id"><?php echo $supply_detail['employee_id']; ?></td>
                <td class="name"><?php echo $supply_detail['employee_name']; ?></td>
                <td class="designation"><?php echo $supply_detail['employee_designation']; ?></td>
                <td class="date"><?php echo $supply_detail['create_date']; ?></td>

                <?php
                for ($count = 1; $count <= $headerCount; $count++) {
                    if (!empty($supply_detail['col' . $count])) {
                        echo '<td class="col' . $count . '">' . $this->escapeHtml($supply_detail['col' . $count]) . '</td>';
                    } else {
                        echo '<td class="col' . $count . '"></td>';
                    }
                }
                ?>
                <td>
                    <input type="button" id="delete<?php echo $c; ?>" class="btn btn-primary" value="Delete">
                </td>
            </tr>
            <script>
                $(document).ready(function () {
                    $("#file_upload_div").show();
                    $("input[name^=fileupload_attachment]").attr('required', false);
                    var emp_id = Array();
                    var name = Array();
                    var designation = Array();
                    var date = Array();
                    <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                    var col<?php echo $count;?> = Array();
                    <?php }?>
                    $('#delete<?php echo $c; ?>').click(function (e) {
                        e.preventDefault();
                        var emp_id = Array();
                        var name = Array();
                        var designation = Array();
                        var date = Array();
                        <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                        var col<?php echo $count;?> = Array();
                        <?php }?>
                        var confirm1 = confirm('Are you sure?');
                        if (confirm1) {
                            $('#record<?php echo $c; ?>').animate({'line-height': 0}, 1000).hide(1);
                            $('#record<?php echo $c; ?>').remove();
                            $("table tr").each(function (i, v) {
                                emp_id[i] = Array();
                                name[i] = Array();
                                designation[i] = Array();
                                date[i] = Array();
                                $(this).children('.emp_id').each(function (ii, vv) {
                                    emp_id[i][ii] = $(this).text();

                                });
                                $(this).children('.name').each(function (ii, vv) {
                                    name[i][ii] = $(this).text();

                                });
                                $(this).children('.designation').each(function (ii, vv) {
                                    designation[i][ii] = $(this).text();
                                });
                                $(this).children('.date').each(function (ii, vv) {
                                    date[i][ii] = $(this).text();
                                });
                                <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                                col<?php echo $count;?>[i] = Array();
                                $(this).children('.col<?php echo $count;?>').each(function (ii, vv) {
                                    col<?php echo $count;?>[i][ii] = $(this).text();
                                });
                                <?php }?>
                            });
                            $('input[name^=employee_id]').val(emp_id);
                            $('input[name^=employee_name]').val(name);
                            $('input[name^=designation]').val(designation);
                            $('input[name^=date]').val(date);
                            <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                            $('input[name^=col<?php echo $count;?>]').val(col<?php echo $count;?>);
                            <?php }?>

                            /*subtract distance from total distance*/
                            var total_value = $("input[name=value]").val();
                            var current_value = 1;
                            var diff_value = total_value - current_value;
                            console.log(diff_value);
                            $("input[name=value]").val(diff_value);
                            /*subtract distance from total distance*/
                        }
                    });
                    $("table tr").each(function (i, v) {
                        emp_id[i] = Array();
                        name[i] = Array();
                        designation[i] = Array();
                        date[i] = Array();
                        $(this).children('.emp_id').each(function (ii, vv) {
                            emp_id[i][ii] = $(this).text();

                        });
                        $(this).children('.name').each(function (ii, vv) {
                            name[i][ii] = $(this).text();

                        });
                        $(this).children('.designation').each(function (ii, vv) {
                            designation[i][ii] = $(this).text();
                        });
                        $(this).children('.date').each(function (ii, vv) {
                            date[i][ii] = $(this).text();
                        });
                        <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                        col<?php echo $count;?>[i] = Array();
                        $(this).children('.col<?php echo $count;?>').each(function (ii, vv) {
                            col<?php echo $count;?>[i][ii] = $(this).text();
                        });
                        <?php }?>
                    });
                    $('input[name^=employee_id]').val(emp_id);
                    $('input[name^=employee_name]').val(name);
                    $('input[name^=designation]').val(designation);
                    $('input[name^=date]').val(date);
                    <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                    $('input[name^=col<?php echo $count;?>]').val(col<?php echo $count;?>);
                    <?php }?>
                });
            </script>
        <?php
        $c++;
        }
        } else if ($bulk_type == 2) {
        //Diversity
        $employee_id = array();
        $name = array();
        $dob = array();
        $nationality = array();
        $gender = array();
        $designation = array();
        $headerCount = 0;
        echo '<h2>Records for Diversity</h2>
    <section>
        <div class="table-responsive scale">
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead class="head_event">
                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Nationality</th>
                    <th>Gender</th>
                    <th>Designation</th>';
        for ($i = 1; $i <= _BULK_FIELD_EXTRA_; $i++) {
            if (!empty(${'col' . $i})) {
                echo '<th>' . ucfirst(strtolower(${'col' . $i})) . '</th>';
                $headerCount++;
            }
        }
        echo '<th>Delete</th>
                </tr>
                </thead>
                <tbody>';
        $c = 1;
        foreach ($supply_details as $supply_detail) { ?>
            <tr id="record<?php echo $c; ?>">
                <td class="emp_id"><?php echo $supply_detail['employee_id']; ?></td>
                <td class="name"><?php echo $supply_detail['employee_name']; ?></td>
                <td class="dob"><?php echo $supply_detail['employee_dob']; ?></td>
                <td class="nationality"><?php echo $supply_detail['employee_nationality']; ?></td>
                <td class="gender"><?php echo $supply_detail['gender']; ?></td>
                <td class="designation"><?php echo $supply_detail['employee_designation']; ?></td>

                <?php
                for ($count = 1; $count <= $headerCount; $count++) {
                    if (!empty($supply_detail['col' . $count])) {
                        echo '<td class="col' . $count . '">' . $this->escapeHtml($supply_detail['col' . $count]) . '</td>';
                    } else {
                        echo '<td class="col' . $count . '"></td>';
                    }
                }
                ?>
                <td>
                    <input type="button" id="delete<?php echo $c; ?>" class="btn btn-primary" value="Delete">
                </td>
            </tr>
            <script>
                $(document).ready(function () {
                    $("#file_upload_div").show();
                    $("input[name^=fileupload_attachment]").attr('required', false);
                    var emp_id = Array();
                    var name = Array();
                    var dob = Array();
                    var nationality = Array();
                    var gender = Array();
                    var designation = Array();
                    <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                    var col<?php echo $count;?> = Array();
                    <?php }?>
                    $('#delete<?php echo $c; ?>').click(function (e) {
                        e.preventDefault();
                        var emp_id = Array();
                        var name = Array();
                        var dob = Array();
                        var nationality = Array();
                        var gender = Array();
                        var designation = Array();
                        <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                        var col<?php echo $count;?> = Array();
                        <?php }?>
                        var confirm1 = confirm('Are you sure?');
                        if (confirm1) {
                            $('#record<?php echo $c; ?>').animate({'line-height': 0}, 1000).hide(1);
                            $('#record<?php echo $c; ?>').remove();
                            $("table tr").each(function (i, v) {
                                emp_id[i] = Array();
                                name[i] = Array();
                                dob[i] = Array();
                                nationality[i] = Array();
                                gender[i] = Array();
                                designation[i] = Array();
                                $(this).children('.emp_id').each(function (ii, vv) {
                                    emp_id[i][ii] = $(this).text();

                                });
                                $(this).children('.name').each(function (ii, vv) {
                                    name[i][ii] = $(this).text();

                                });
                                $(this).children('.dob').each(function (ii, vv) {
                                    var str_dob = $(this).text();
                                    dob[i][ii] = str_dob.replace(",", " ");

                                });
                                $(this).children('.nationality').each(function (ii, vv) {
                                    var str_nationality = $(this).text();
                                    nationality[i][ii] = str_nationality.replace(",", " ");
                                });
                                $(this).children('.gender').each(function (ii, vv) {
                                    gender[i][ii] = $(this).text();

                                });
                                $(this).children('.designation').each(function (ii, vv) {
                                    designation[i][ii] = $(this).text();
                                });
                                <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                                col<?php echo $count;?>[i] = Array();
                                $(this).children('.col<?php echo $count;?>').each(function (ii, vv) {
                                    col<?php echo $count;?>[i][ii] = $(this).text();
                                });
                                <?php }?>
                            });
                            $('input[name^=employee_id]').val(emp_id);
                            $('input[name^=employee_name]').val(name);
                            $('input[name^=dob]').val(dob);
                            $('input[name^=nationality]').val(nationality);
                            $('input[name^=gender]').val(gender);
                            $('input[name^=designation]').val(designation);
                            <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                            $('input[name^=col<?php echo $count;?>]').val(col<?php echo $count;?>);
                            <?php }?>

                            /*subtract distance from total distance*/
                            var total_value = $("input[name=value]").val();
                            var current_value = 1;
                            var diff_value = total_value - current_value;
                            console.log(diff_value);
                            $("input[name=value]").val(diff_value);
                            /*subtract distance from total distance*/
                        }
                    });
                    $("table tr").each(function (i, v) {
                        emp_id[i] = Array();
                        name[i] = Array();
                        dob[i] = Array();
                        nationality[i] = Array();
                        gender[i] = Array();
                        designation[i] = Array();
                        $(this).children('.emp_id').each(function (ii, vv) {
                            emp_id[i][ii] = $(this).text();
                        });
                        $(this).children('.name').each(function (ii, vv) {
                            name[i][ii] = $(this).text();
                        });
                        $(this).children('.dob').each(function (ii, vv) {
                            var str_dob = $(this).text();
                            dob[i][ii] = str_dob.replace(",", " ");
                        });
                        $(this).children('.nationality').each(function (ii, vv) {
                            var str_nationality = $(this).text();
                            nationality[i][ii] = str_nationality.replace(",", " ");
                        });
                        $(this).children('.gender').each(function (ii, vv) {
                            gender[i][ii] = $(this).text();
                        });
                        $(this).children('.designation').each(function (ii, vv) {
                            designation[i][ii] = $(this).text();
                        });
                        <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                        col<?php echo $count;?>[i] = Array();
                        $(this).children('.col<?php echo $count;?>').each(function (ii, vv) {
                            col<?php echo $count;?>[i][ii] = $(this).text();
                        });
                        <?php }?>
                    });
                    $('input[name^=employee_id]').val(emp_id);
                    $('input[name^=employee_name]').val(name);
                    $('input[name^=dob]').val(dob);
                    $('input[name^=nationality]').val(nationality);
                    $('input[name^=gender]').val(gender);
                    $('input[name^=designation]').val(designation);
                    <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                    $('input[name^=col<?php echo $count;?>]').val(col<?php echo $count;?>);
                    <?php }?>
                });
            </script>
        <?php
        $c++;
        }
        } else if ($bulk_type == 3) {
        //Supply
        $s_no = array();
        $employee_id = array();
        $name = array();
        $travel_from = array();
        $travel_to = array();
        $travel_date = array();
        $total_distance = '';
        $headerCount = 0;
        echo '<h2>Records for Air Travel</h2>
    <section>
        <div class="table-responsive scale">
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead class="head_event">
                <tr>
                    <th>S.No</th>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>Travel From</th>
                    <th>Travel To</th>
                    <th>Travel Distance</th>
                    <th>Travel Date</th>';
        for ($i = 1; $i <= _BULK_FIELD_EXTRA_; $i++) {
            if (!empty(${'col' . $i})) {
                echo '<th>' . ucfirst(strtolower(${'col' . $i})) . '</th>';
                $headerCount++;
            }
        }
        echo '<th>Delete</th>
                </tr>
                </thead>
                <tbody>';
        $c = 1;
        foreach ($supply_details as $supply_detail) { ?>
            <tr id="record<?php echo $c; ?>">
                <td class="s_no"><?php echo $c; ?></td>
                <td class="emp_id"><?php echo $supply_detail['employee_id']; ?></td>
                <td class="name"><?php echo $supply_detail['employee_name']; ?></td>
                <td class="travel_from"><?php echo $supply_detail['travel_from']; ?></td>
                <td class="travel_to"><?php echo $supply_detail['travel_to']; ?></td>
                <?php
                $distance = $supply_detail['travel_distance'];
                $total_distance += $distance;
                ?>
                <!--<td class="date"><?php /*echo $this->action('supply', 'distance',$this->escapeHtml($value['C']),$this->escapeHtml($value['D'])); */ ?></td>-->
                <td class="travel_distance"><?php echo $distance; ?></td>
                <td class="travel_date"><?php echo $this->escapeHtml(date("Y/m/d", strtotime($supply_detail['travel_date']))); ?></td>
                <?php
                for ($count = 1; $count <= $headerCount; $count++) {
                    if (!empty($supply_detail['col' . $count])) {
                        echo '<td class="col' . $count . '">' . $this->escapeHtml($supply_detail['col' . $count]) . '</td>';
                    } else {
                        echo '<td class="col' . $count . '"></td>';
                    }
                }
                ?>
                <td>
                    <input type="button" id="delete<?php echo $c; ?>" class="btn btn-primary" value="Delete">
                </td>
            </tr>
            <script>
                $(document).ready(function () {
                    $("#file_upload_div").show();
                    $("input[name^=fileupload_attachment]").attr('required', false);
                    var emp_id = Array();
                    var name = Array();
                    var travel_from = Array();
                    var travel_distance = Array();
                    var travel_to = Array();
                    var travel_date = Array();
                    <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                    var col<?php echo $count;?> = Array();
                    <?php }?>
                    $('#delete<?php echo $c; ?>').click(function (e) {
                        e.preventDefault();
                        var emp_id = Array();
                        var name = Array();
                        var travel_from = Array();
                        var travel_distance = Array();
                        var travel_to = Array();
                        var travel_date = Array();
                        <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                        var col<?php echo $count;?> = Array();
                        <?php }?>
                        var confirm1 = confirm('Are you sure?');
                        if (confirm1) {
                            $('#record<?php echo $c; ?>').animate({'line-height': 0}, 1000).hide(1);
                            $('#record<?php echo $c; ?>').remove();
                            $("table tr").each(function (i, v) {
                                emp_id[i] = Array();
                                name[i] = Array();
                                travel_from[i] = Array();
                                travel_to[i] = Array();
                                travel_distance[i] = Array();
                                travel_date[i] = Array();
                                $(this).children('.emp_id').each(function (ii, vv) {
                                    emp_id[i][ii] = $(this).text();

                                });
                                $(this).children('.name').each(function (ii, vv) {
                                    name[i][ii] = $(this).text();

                                });
                                $(this).children('.travel_from').each(function (ii, vv) {
                                    var str_travel_from = $(this).text();
                                    travel_from[i][ii] = str_travel_from.replace(",", " ");

                                });
                                $(this).children('.travel_to').each(function (ii, vv) {
                                    var str_travel_to = $(this).text();
                                    travel_to[i][ii] = str_travel_to.replace(",", " ");
                                });
                                $(this).children('.travel_distance').each(function (ii, vv) {
                                    travel_distance[i][ii] = $(this).text();

                                });
                                $(this).children('.travel_date').each(function (ii, vv) {
                                    travel_date[i][ii] = $(this).text();
                                });
                                <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                                col<?php echo $count;?>[i] = Array();
                                $(this).children('.col<?php echo $count;?>').each(function (ii, vv) {
                                    col<?php echo $count;?>[i][ii] = $(this).text();
                                });
                                <?php }?>
                            });
                            console.log(name);
                            console.log(travel_from);
                            $('input[name^=employee_id]').val(emp_id);
                            $('input[name^=employee_name]').val(name);
                            $('input[name^=travel_from]').val(travel_from);
                            $('input[name^=travel_to]').val(travel_to);
                            $('input[name^=travel_date]').val(travel_date);
                            $('input[name^=travel_distance]').val(travel_distance);
                            <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                            $('input[name^=col<?php echo $count;?>]').val(col<?php echo $count;?>);
                            <?php }?>

                            /*subtract distance from total distance*/
                            var total_value = $("#value").val();
                            var current_value = '<?= $distance; ?>';
                            var diff_value = total_value - current_value;
                            $("#value").val(diff_value);
                            /*subtract distance from total distance*/
                        }
                    });
                    $("table tr").each(function (i, v) {
                        emp_id[i] = Array();
                        name[i] = Array();
                        travel_from[i] = Array();
                        travel_to[i] = Array();
                        travel_distance[i] = Array();
                        travel_date[i] = Array();
                        $(this).children('.emp_id').each(function (ii, vv) {
                            emp_id[i][ii] = $(this).text();

                        });
                        $(this).children('.name').each(function (ii, vv) {
                            name[i][ii] = $(this).text();

                        });
                        $(this).children('.travel_from').each(function (ii, vv) {
                            var str_travel_from = $(this).text();
                            travel_from[i][ii] = str_travel_from.replace(",", " ");

                        });
                        $(this).children('.travel_to').each(function (ii, vv) {
                            var str_travel_to = $(this).text();
                            travel_to[i][ii] = str_travel_to.replace(",", " ");
                        });
                        $(this).children('.travel_distance').each(function (ii, vv) {
                            travel_distance[i][ii] = $(this).text();

                        });
                        $(this).children('.travel_date').each(function (ii, vv) {
                            travel_date[i][ii] = $(this).text();
                        });
                        <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                        col<?php echo $count;?>[i] = Array();
                        $(this).children('.col<?php echo $count;?>').each(function (ii, vv) {
                            col<?php echo $count;?>[i][ii] = $(this).text();
                        });
                        <?php }?>
                    });
                    console.log(name);
                    console.log(travel_from);
                    $('input[name^=employee_id]').val(emp_id);
                    $('input[name^=employee_name]').val(name);
                    $('input[name^=travel_from]').val(travel_from);
                    $('input[name^=travel_to]').val(travel_to);
                    $('input[name^=travel_date]').val(travel_date);
                    $('input[name^=travel_distance]').val(travel_distance);
                    <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                    $('input[name^=col<?php echo $count;?>]').val(col<?php echo $count;?>);
                    <?php }?>
                });
            </script>
            <?php
            $c++;
        }
        }
        echo '</tbody></table></div></section>';
    }
    ?>
</section>
<?php
echo '<div id="extra">';
if ($column['indicator_type'] == 'attachment') {
    for ($a = 1; $a <= _MANUAL_FIELD_EXTRA_; $a++) {
        if (isset(${'col' . $a})) {
            echo '<div class="form-group"><label class="control-label col-sm-2 ">' . ucfirst(strtolower(${'col' . $a})) . '</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"><input name="col[]" class="form-control" required="required" id="col[]" type="text" value="' . $column['col_value' . $a] . '"></div></div><div class="clearfix"></div>';
        }
    }
    ?>
    <script>
        $('#file_upload_div_attachment').show();
    </script>
    <?php
}
echo '</div>';
echo $this->formSubmit($form->get('submit'));
echo $this->formElement($form->get('cancel'));
echo '<div class="clearfix"></div>';

echo $this->form()->closeTag();
?>

<script>

    $(document).ready(function () {
        $('input[name^=bulk_type]').val($("[name='type']").find(':selected').attr('data-bulk-type'));
        if ($('input[name^=bulk_type]').val() == "0") {
            $('input[name^=bulk_type]').val('');
        }
        var form = $('#supply');
        form.submit(function (e) {
            e.preventDefault();

            console.log('waiting');
            var formData = new FormData($(this)[0]);
            var file = $('input[name ="fileupload"]').val();
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });
            if ($("[name='type']").find(':selected').attr('data-uploading') == 1) {
                var typeid = $("[name='type']").find(':selected').val();
                if ($("[name='type']").find(':selected').attr('data-bulk-type') == 1) {
                    $.ajax({
                        type: 'post',
                        url: "<?php echo $this->basePath('supply/uploadevent?id=');?>" + typeid,
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section table tbody').html(response);

                        }
                    });
                } else if ($("[name='type']").find(':selected').attr('data-bulk-type') == 2) {
                    $.ajax({
                        type: 'post',
                        url: "<?php echo $this->basePath('supply/uploaddiversity?id=');?>" + typeid,
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section table tbody').html(response);

                        }
                    });
                } else if ($("[name='type']").find(':selected').attr('data-bulk-type') == 3) {
                    $.ajax({
                        type: 'post',
                        url: "<?php echo $this->basePath('supply/uploadtransport?id=');?>" + typeid,
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section table tbody').html(response);

                        }
                    });
                }
            }
            return false;
        });
    });
</script>
<script>
    $(document).ready(function () {

        var totalItr = <?php echo _MANUAL_FIELD_EXTRA_;?>;
        var totalbulkItr = <?php echo _BULK_FIELD_EXTRA_;?>;
        var itr = 1;
        var extra = $('#extra');

        //$("#file_upload_div").hide();

        $("[name='type']").bind('change load', function () {
            resetFields();
            if ($(this).find(':selected').attr('data-uploading') == 1) {
                $('input[name^=indicator_type]').val('upload');
                $("#file_upload_div_attachment").hide();
                $("input[name^=fileupload_attachment]").attr('required', false);
                $('input[name^=bulk_type]').val($(this).find(':selected').attr('data-bulk-type'));
                if ($(this).find(':selected').attr('data-bulk-type') == 1) {
                    var typeid = $("[name='type']").find(':selected').val();
                    $("#file_upload_section").hide();
                    $.ajax({
                        type: 'get',
                        url: "<?php echo $this->basePath('supply/uploadevent?get=header&id=');?>" + typeid,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section').html(response);
                        }
                    });
                    $("#file_upload_div").show();
                    $("#file_upload_section").show();
                } else if ($(this).find(':selected').attr('data-bulk-type') == 2) {
                    var typeid = $("[name='type']").find(':selected').val();
                    $.ajax({
                        type: 'get',
                        url: "<?php echo $this->basePath('supply/uploaddiversity?get=header&id=');?>" + typeid,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section').html(response);

                        }
                    });
                    $("#file_upload_div").show();
                    $("#file_upload_section").show();
                } else if ($(this).find(':selected').attr('data-bulk-type') == 3) {
                    var typeid = $("[name='type']").find(':selected').val();
                    $.ajax({
                        type: 'get',
                        url: "<?php echo $this->basePath('supply/uploadtransport?get=header&id=');?>" + typeid,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section').html(response);

                        }
                    });
                    $("#file_upload_section").show();
                    $("#file_upload_div").show();
                    /*var blukHeaderTable = $("#file_upload_section table:first tr");
                     var blukHeaderTableLength = blukHeaderTable.length;
                     1
                     var c = 1;
                     var label;
                     var a = 1;
                     for (a; a <= totalbulkItr; a++) {
                     label = $("[name='type']").find(':selected').attr('data-is_col' + a);
                     if (label != '') {
                     $(blukHeaderTable).append('<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 48px;" aria-label="'+label+': activate to sort column ascending">'+label+'</th>');
                     }
                     }*/
                } else {
                    $("#file_upload_div").hide();
                    $("#file_upload_section").hide();
                }
                extra.html('');
            } else {
                $("#file_upload_div").hide();
                $("#file_upload_section").hide();
                $("#file_upload_div_attachment").hide();
                $("input[name^=fileupload_attachment]").attr('required', false);
                $('input[name^=indicator_type]').val('');
                $('input[name^=bulk_type]').val('');
                addExtraFields(1, totalItr, extra);
            }
            if ($(this).find(':selected').attr('data-attachment') == 1) {
                $("#file_upload_div").hide();
                $("#file_upload_section").hide();
                $("#file_upload_div_attachment").show();
                $("input[name^=fileupload_attachment]").attr('required', true);
                $('input[name^=indicator_type]').val('attachment');
                addExtraFields(1, totalItr, extra);
            }


        });

        function addExtraFields(itr, totalItr, extra) {
            extra.html('');
            extra.show();
            //alert(itr + '|' + totalItr);
            var label;
            for (itr; itr <= totalItr; itr++) {
                label = $("[name='type']").find(':selected').attr('data-is_col' + itr);
                var extraid = 'col' + itr;
                if (label != '') {
                    extra.append('<div class="form-group"><label class="control-label col-sm-2 ">' + label + '</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"><input name="col[]" class="form-control" required="required" id="col[]" type="text" value=""></div></div><div class="clearfix"></div>');
                }
            }
        }

        function resetFields() {
            $('input[name="supply_id"]').val('');
            $('input[name="bulk_type"]').val('');
            $('input[name="employee_id"]').val('');
            $('input[name="employee_name"]').val('');
            $('input[name="travel_from"]').val('');
            $('input[name="travel_to"]').val('');
            $('input[name="travel_distance"]').val('');
            $('input[name="travel_date"]').val('');
            $('input[name="dob"]').val('');
            $('input[name="nationality"]').val('');
            $('input[name="gender"]').val('');
            $('input[name="designation"]').val('');
            $('input[name="file_name"]').val('');
            $('input[name="org_name"]').val('');
            $('input[name="indicator_type"]').val('');
            $('input[name="col"]').val('');
            $('input[name="date"]').val('');
            $('input[name="value"]').val('');

            for (itr = 1; itr <= <?php echo _BULK_FIELD_EXTRA_; ?>; itr++) {
                $('input[name="col' + itr + '"]').val('');
            }
        }

        $("#create_date").on("dp.change", function (e) {
            //alert(e.date);
            var d = new Date(e.date);
            var n = d.getMonth();
            $("#month").val(n + 1);
            var y = d.getFullYear();
            $("#year").val(y);
        });

        $('input[name="fileupload_attachment"]').change(function () {
            var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
            $("input[name^=file_name]").val(filename);
        });
        $(document).on('change', 'input[name="col[]"]', function (e) {
            var extracolumn = $('input[name="col[]"]');
            var col = Array();
            $(extracolumn).each(function (i) {
                col[i] = $(this).val().replace(",", " ");
            });
            $('input[name="col"]').val(col);
        });
        var extracolumn = $('input[name="col[]"]');
        var col = Array();
        $(extracolumn).each(function (i) {
            col[i] = $(this).val().replace(",", " ");
        });
        $('input[name="col"]').val(col);

    });

</script>
<script>
    $("#create_date").attr('readonly', true);

    $("#company_form_id").children('option:not(:selected)').attr('disabled', true);
    var companyid = $("#company_form_id").val();
    $("#country_form_id option").each(function () {
        if ($(this).attr('data-company-id') == companyid) {
            if ($(this).attr('selected') == 'selected') {

            } else {
                $(this).attr('disabled', true);
            }
        } else {
            $(this).attr('disabled', true);
        }
    });
    $("#region_form_id option").each(function () {
        if ($(this).attr('data-company-id') == companyid) {
            if ($(this).attr('selected') == 'selected') {

            } else {
                $(this).attr('disabled', true);
            }
        } else {
            $(this).attr('disabled', true);
        }
    });
    //$("#country_form_id").children('option:not(:selected)').attr('disabled', true);
    //$("#region_form_id").children('option:not(:selected)').attr('disabled', true);

    $("#indicator_form_id").children('option:not(:selected)').attr('disabled', true);

    $('input[name="value"]').keypress(function (key) {
        //input was 0-9
        if (key.charCode < 48 || key.charCode > 57) return false;
    });
</script>