

<?php
if ($_SESSION['user']['user_type'] ==  _CHAMPION_) { ?>

    <div class="container">
<!--    <div class="col-lg-12 center">-->
<!--        <img src="--><?php //echo $this->basePath('img/our.png')?><!--" width="100%">-->
<!--    </div>-->
        <div class="jumbotron">
          <!--  <h1 class="text-center"><?php /*echo sprintf($this->translate('Under Construction'), '<span class="zf-green">', '</span>') */?></h1>-->
            <img src="<?php echo $this->basePath('img/404.jpg')?>" width="100%" height="100%" >
        </div>
    </div>

<?php } else { ?>

<div class="container">
<!--    <div class="col-lg-12 center">-->
<!--        <img src="--><?php //echo $this->basePath('img/ourstatus.jpg')?><!--" width="100%">-->
<!--    </div>-->
    <div class="jumbotron">
      <!--  <h1 class="text-center"><?php /*echo sprintf($this->translate('Under Construction'), '<span class="zf-green">', '</span>') */?></h1>-->
        <img src="<?php echo $this->basePath('img/404.jpg')?>" width="100%" height="100%" >
    </div>
</div>

<?php } ?>


