<p>
    <?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('request', array('action' => 'add')));
    $form->prepare();


    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('category'));
    echo $this->formHidden($form->get('area'));
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();
    ?>
</p>
<a class="btn8 btn-8f btn-8 pull-right" href="<?php echo $this->url('development', array('action' => 'add')); ?>">Add
    Record</a>

<?php

$title = 'Development';
$this->headTitle($title);
?>
<!--<h1><?php /*echo $this->escapeHtml($title); */ ?></h1>-->

<h2><?php echo $this->escapeHtml($title); ?></h2>

<!--    <div class="table-responsive">-->
<section>
    <table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
        <thead class="head_event">

        <tr>
            <th style="width:10%">Company</th>
            <th style="width:10%">Region</th>
            <th style="width:10%">Country</th>
            <th style="width:10%" class="hidden-phone">Type</th>
            <th style="width:10%" class="hidden-phone">Value</th>
            <th style="width:10%" class="hidden-phone">Submitted Date</th>
            <th style="width:10%" class="hidden-phone">Frequency</th>
            <th style="width:10%" class="hidden-phone">Next Date</th>
            <th style="width:10%" class="hidden-phone">Uploaded file</th>
            <th style="width:10%">Action</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c = 1;
        $count = count($this->paginator);
        if ($count > 0) {
            foreach ($paginator as $development) :
                ?>
                <tr>
                    <?php if ($development['status'] == _P_) { ?>
                        <td>
                            <a href="<?php echo $this->url('development', array('action' => 'edit', 'id' => $development['development_id'])); ?>"><?php echo $development['company_name']; ?></a>
                        </td>
                    <?php } else { ?>
                        <td><?php echo $development['company_name']; ?></td>
                    <?php } ?>
                    <td><?php echo $development['region_description']; ?></td>
                    <td><?php echo $development['country_name']; ?></td>
                    <td><?php echo $development['name']; ?></td>
                    <td><?php echo number_format($development['value']); ?></td>
                    <td><?php echo date('d-m-y', strtotime($development['create_date'])); ?></td>
                    <td><?php echo $development['frequency_name']; ?></td>
                    <td><?php echo date('d-m-y', strtotime($development['expiry_date'])); ?></td>
                    <td>
                        <?php if (!empty($development['org_name'])) { ?>
                            <a href="<?php echo $this->url('development', array('action' => 'download', 'id' => 0, 'str' => str_replace('excels/', '', $development['org_name']))); ?>" target="_blank"> <?php echo $development['file_name']; ?></a>
                        <?php }else { ?>
                            <a href="<?php echo $this->url('development', array('action' => 'download', 'id' => $development['file_name'])); ?>" target="_blank"> <?php echo $development['file_name']; ?></a>
                        <?php } ?>
                    </td>
                    <?php if ($development['status'] == _P_) { ?>
                        <td>
                            <a class='btn btn-xs btn-primary'
                               href="<?php echo $this->url('development', array('action' => 'delete', 'id' => $development['development_id'])); ?>">Delete</a><span
                                class="hide"><?= _P_ ?></span>
                        </td>
                    <?php }
                    if ($development['status'] == _A_) { ?>
                        <td><span class="status_a"></span><span class="hide"><?= _A_ ?></span></td>
                    <?php }
                    if ($development['status'] == _W_) { ?>
                        <td><span class="status_w"> </span><span class="hide"><?= _E_ ?></span></td>
                    <?php } ?>

                </tr>
                <div class="clearfix"></div>
                <?php
                $c++;
            endforeach;
        } ?>

        </tbody>
    </table>
</section>
<div class="clearfix"></div>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'development'
    )
);
?>