@charset "UTF-8";
@font-face
{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
body
{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.bar_top
{
  background-color: #003867;
}

.cham_color a
{
  color: #fff !important;
}
.champ_logo
{
  margin-top: 40px;
}
.heading_back {
  background-color: #f2edea;
  margin-left: 0;
  margin-bottom: 20px;
}
.head_event
{
  background-color: #deb178;
  color: white;
}

.footer_back
{
  background-color: #003867;
  color: white;
  height: 45px;
  text-align: center;
  padding-top: 1%;

}
.second_menu
{
  margin-top: 50px;
  margin-bottom: 30px;
}

.textbox_size
{
  width:83px;
}
/**************************** Base Styles ************************/
#cssmenu > ul,
#cssmenu > ul li,
#cssmenu > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle;
  padding: 10px;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
  z-index: 599;
  cursor: default;
}
#cssmenu > ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  /* left: 0; */
  z-index: 598;
}
#cssmenu > ul ul li {
  float: none;
}
#cssmenu > ul li:hover > ul {
  visibility: visible;
}
/* Align last drop down RTL */
/* Theme Styles */
#cssmenu > ul a:link {
  text-decoration: none;
}
#cssmenu > ul a:active {
  color: #ffa500;
}
#cssmenu li {
  padding: 0;
  color: #000;
}
#cssmenu {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 0px;
  background: #003867;
  font-size: 15px;
  -moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
}
#cssmenu > ul {
  padding: 0 5px;
  -moz-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: none;
  zoom: 1;
}
#cssmenu > ul:before {
  content: '';
  display: block;
}
#cssmenu > ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu > ul > li {
  padding: 8px 5px;
}
#cssmenu > ul > li > a,
#cssmenu > ul > li > a:link,
#cssmenu > ul > li > a:visited {
  /* text-shadow: 0 -1px 1px #004881;*/
  color: #fff;
  padding: 7px 20px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 0px;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a {
  background-color: #fff;
  color: #003867;
}
#cssmenu > ul > li.active >a{
  background-color: #fff;
  color: #003867;
}
#cssmenu li li a {
  color: #fff;
  font-size: 14px;
}
#cssmenu li li a:hover {
  color: #003867;
  background-color: #fff;
  border-color: #003867;
}
#cssmenu ul ul {
  margin: 0 10px;
  padding: 0 10px;
  position: absolute;
  /* float: none; */
  background: #003867;
  border: 2px solid #003867;
  border-top: none;
  /* right: 0; */
  /* left: 0; */
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
#cssmenu ul > li > ul > li {
  margin: 0 10px 0 0;
  position: relative;
  padding: 0;
}
#cssmenu ul > li > ul > li > a {
  padding: 10px 20px 10px 10px;
  display: block;
}
#cssmenu ul > li > ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #8b8b8b;
}
#cssmenu ul > li > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #5c5c5c;
}
#cssmenu  ul > li > ul > li.active >a{
  background-color: #fff;
  color: #003867;
}
#cssmenu ul ul ul {
  /* width: 225%; */
  /* top: 100%; */
  border: 2px solid #003867;
}
#cssmenu ul ul ul li {
  float: none;
}

/************************ Second Menu ***********************/
#cssmenusecond > ul,
#cssmenusecond > ul li,
#cssmenusecond > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenusecond > ul {
  position: relative;
  float: left;
}
#cssmenusecondsecond > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle;
  padding: 10px;
}
#cssmenusecond > ul li.hover,
#cssmenusecond > ul li:hover {
  cursor: default;
}
#cssmenusecond > ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}
#cssmenusecond > ul ul li {
  float: none;
}
#cssmenusecond > ul li:hover > ul {
  visibility: visible;
}
/* Align last drop down RTL */
/* Theme Styles */
#cssmenusecond > ul a:link {
  text-decoration: none;
}
#cssmenusecond > ul a:active {
  color: #ffa500;
}
#cssmenusecond li {
  padding: 0;
  color: #000;
}
#cssmenusecond {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1c2c6+0,f3f3f3+100 */
  background: #c1c2c6; /* Old browsers */
  background: -moz-linear-gradient(top,  #c1c2c6 0%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c2c6), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c1c2c6 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c1c2c6 0%,#f3f3f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c1c2c6 0%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c1c2c6 0%,#f3f3f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c2c6', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */

  font-size: 15px;
  -moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
}
#cssmenusecond > ul {
  padding: 0 5px;
  -moz-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: none;
}
#cssmenusecond > ul:before {
  content: '';
  display: block;
}
#cssmenusecond > ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenusecond > ul > li {
  padding: 8px 5px;
  float: left;

}
#cssmenusecond > ul > li > a,
#cssmenusecond > ul > li > a:link,
#cssmenusecond > ul > li > a:visited {
  /* text-shadow: 0 -1px 1px #004881;*/
  color: #003867;
  padding: 7px 20px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 0px;
}
#cssmenusecond > ul > li > a:hover,
#cssmenusecond > ul > li:hover > a {
  background-color: #003867;
  color: #fff;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#cssmenusecond > ul > li.active > a {
  background-color: #003867;
  color: #fff;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#cssmenusecond li li a {
  color: #fff;
  font-size: 14px;
}
#cssmenusecond li li a:hover {
  color: #003867;
  background-color: #fff;
  border-color: #003867;
}
#cssmenusecond ul ul {
  margin: 0 10px;
  padding: 0 10px;
  float: none;
  background: #003867;
  border: 2px solid #003867;
  border-top: none;
  right: 0;
  left: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
#cssmenusecond ul > li > ul > li {
  margin: 0 10px 0 0;
  position: relative;
  padding: 0;
  float: left;
}
#cssmenusecond ul > li > ul > li > a {
  padding: 10px 20px 10px 10px;
  display: block;
}
#cssmenusecond ul > li > ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #8b8b8b;
}
#cssmenusecond ul > li > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #5c5c5c;
}
#cssmenusecond ul ul ul {
  width: 225%;
  top: 100%;
  border: 2px solid #003867;
}
#cssmenusecond ul ul ul li {
  float: none;
}



/*Responsive Styles*/

@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul li, li a {
    width: 100%;
  }
  .show-menu {
    display:block;
  }

}

.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*/!*Hide checkbox*!/*/
/*input[type=checkbox]{*/
  /*display: none;*/
/*}*/

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
  display: block;
}




.wrapper {
  margin-top: 80px;
  margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

label{
  margin-right:30px ;
}
input:before
{
  display: block;
  white-space: normal;
}
.filter{
  margin-top: 15px;
}
.filter label{
  color: #fff;
}

