@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face
{
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
    font-family: Candanra;
    src: url(../fonts/Candara.ttf);
}
table{

}

body
{
    font-family:Candanra !important;
    /*    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;*/
    text-rendering:optimizeLegibility;

}

/******************** LOGIN ***************************/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 10px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/****************************************************************************/
.bar_top {
    background-color: #2a3a5b !important;
    min-height: 35px;
    background-image: linear-gradient(to bottom,#2a3a5b 0,#2a3a5b 100%);
}
.cham_color a
{
    color: #fff !important;
}
.img-rounded{

    margin: 45px auto 30px;
    display: block;
    /* -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%; */
}
.champ_logo{
    margin: -10px 0 15px 10px;
    position: relative;
    z-index: 99999;
    display: inline-block;
}
.heading_back {
    /*background-color: #f2edea;*/
    margin-left: 0%;
    margin-bottom: 0px;
}
.list-heading{
    padding: 10px 10px;
    background-color: #f2edea;

}
.label-space{
    margin-bottom: 10px;
}
section{
    /*background-color: rgba(222, 222, 222, 0.50);*/
    padding-top: 10px;
    /*border: 1px solid #ccc;*/
    margin-bottom: 10px;
}
.head_event {
    /*background-color: #deb178;*/
    color: #5c5c5c;
}
.footer_back
{
    margin-top: 20px;
    background-color: #373737;
    color: white;
    /*height: 30px;*/
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
    position: relative;
    bottom: 0;
    width: 100%;

}

.center{
    text-align: center;
}
.label-back
{
    background-color: #88b6f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 20%;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    margin-left: 30%;
}
.back-grey {
    /*background-color: rgba(230, 230, 230, 0.41);*/
}

h1{
     /*font-family: Candanra;*/
     font: 7vmax/1 Candanra !important;
     font-weight: 900;
     color: #293b5a;
 }
.h7{
    /*font-family: Candanra;*/
    font: 40px/1 Candanra !important;
    font-weight: 900;
    color: #293b5a;
}
h2{
    font-family: Candanra;
}
h3{
    color: #7b96c4;
    font-size: 4.5vmax;
    font-family: Candanra;

}
.m-t{
    padding: 0 !important;
}

/* For admin heading */
.text-center{
    margin-top: 0;
}
/* For admin heading */

.mar-r{
    margin-right: 15px;
    padding-left: 0;
}
.scale{
    transform: scale(0.99,1);
}
.filter{
    margin-top: 15px;

}
.filter label{
    color: #fff;
}
/*********************************************** MENU **********************************************/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 0;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu {
    width: auto;
    /*font-family: 'Open Sans', sans-serif;*/
    line-height: 1;
    /*background: rgba(143, 144, 145, 0.8);*/
    margin-bottom: 10px;
}
#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    /*background: #003867;*/
    /*color: #003867;*/
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
    float: left;
    background-color: #efefef ;
    margin-right: 4px ;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu.align-right ul ul {
    text-align: right;
}
#cssmenu > ul > li > a {
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #b9b9b9;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {

    color: #003867;

}

#cssmenu > ul > li.has-sub > a {
    padding-right: 25px;
}

#cssmenu > ul > li.has-sub > a::after {
    position: absolute;
    top: 16px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
    /*border-color: #009ae1;*/
    border-color: #003867;

}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}
#cssmenu li:hover > ul {
    left: auto;
}
#cssmenu.align-right li:hover > ul {
    right: 0;
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#cssmenu ul ul li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
    height: 32px;
}
#cssmenu ul ul li a {
    padding: 10px 20px;
    width: 180px;
    line-height: 1;
    font-size: 15px;
    background: #efefef;
    -webkit-border-radius: 0 0 5px 5px;

    text-decoration: none;
    color: #bebebe;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    z-index: 999;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #888;
}
#cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
    border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: 100%;
    }
    #cssmenu ul {
        width: 100%;
        display: none;
    }
    #cssmenu.align-center > ul,
    #cssmenu.align-right ul ul {
        text-align: left;
    }
    #cssmenu ul li,
    #cssmenu ul ul li,
    #cssmenu ul li:hover > ul > li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, 0.15);
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
    }
    #cssmenu > ul > li,
    #cssmenu.align-center > ul > li,
    #cssmenu.align-right > ul > li {
        float: none;
        display: block;
    }
    #cssmenu ul ul li a {
        padding: 20px 20px 20px 30px;
        font-size: 12px;
        color: #000000;
        background: none;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #000000;
    }
    #cssmenu ul ul ul li a {
        padding-left: 40px;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }
    #cssmenu > ul > li.has-sub > a::after,
    #cssmenu ul ul li.has-sub > a::after {
        display: none;
    }
    #menu-line {
        display: none;
    }
    #cssmenu #menu-button {
        display: block;
        padding: 20px;
        color: #ffffff;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }
    #cssmenu #menu-button::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 15px;
        height: 2px;
        background: #ffffff;
    }
    #cssmenu #menu-button::before {
        content: '';
        position: absolute;
        top: 25px;
        right: 20px;
        display: block;
        width: 15px;
        height: 3px;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        height: 52px;
        width: 52px;
        cursor: pointer;
    }
    #cssmenu .submenu-button::after {
        content: '';
        position: absolute;
        top: 21px;
        left: 26px;
        display: block;
        width: 1px;
        height: 11px;
        background: #000000;
        z-index: 99;
    }
    #cssmenu .submenu-button::before {
        content: '';
        position: absolute;
        left: 21px;
        top: 26px;
        display: block;
        width: 11px;
        height: 1px;
        background: #000000;
        z-index: 99;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        display: none;
    }
}
/********************************************UPLOAD BUTTON**********************************************************/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

/********************************************Accordian**********************************************************/

#accordion-first .accordion-group {
    margin-bottom: 10px;
}

#accordion-first .accordion-heading, #accordion-first .accordion-toggle:hover, #accordion-first .accordion-heading .accordion-toggle.active {
    background: none repeat scroll 0% 0% transparent;
}
#accordion-first .accordion-heading {
    border-bottom: 0px none;
    font-size: 16px;
}

#accordion-first .accordion-heading .accordion-toggle {
    display: block;
    cursor: pointer;
    padding: 5px 0px !important;
    color: #222;
    outline: medium none !important;
    text-decoration: none;
}

#accordion-first .accordion-heading .accordion-toggle.active em{background-color: #F7C221;}

#accordion-first .accordion-heading .accordion-toggle > em {
    background-color: #222;
    border-radius: 100px;
    color: #FFF;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    width: 32px;}
/*************************
 hOME nEW
 *************************/
.da_font{
    display:block;
    max-width:160px;
    max-height:160px;
    text-align:center;
    font-size:22px;
    color:#161718;
}

ul{
    list-style:outside none none;
}

ul.pict li{
    float:left;
    margin-right: 25px;
}

li.slice1 {
    padding-top: 15em;
}
li.envior {
    padding-top: 2%;
}
li.comm {
    padding-top: 12%;
}

li.slice2 {
    padding-top: 12em;
    transform: rotateY(180deg);
}
li.analy {
    padding-top: 12%;
}

li.slice3 {
    padding-top: 11em;
}

.jumbotron {
    background-color: transparent;
}

.envior a:hover{
    background-color: #5679b9 !important;
    color: #fff !important;
}
.unity a:hover{
    background-color: #7dc8d3 !important;
    color: #fff !important;
}

.peo a:hover{
    background-color: #ff5d87 !important;
    color: #fff !important;
}

/* ===================================
bOOSTRAP cLASS mODIFICATION fOR cUSTOM tABLE dESIGN
=====================================*/
.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #efefef;
    border-radius: 5px;

}

.table-bordered>tbody>tr>td{
    border: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
}
.table > thead:first-child > tr:first-child > th{
    font-size: 15px;
}

/* ===================================
        sTATUS
=====================================*/
.status_p {
    background-color: #fdff76;
    width: 20px;
    border-radius: 50% 50%;
    height: 20px;
    display: block;
    margin-left: 10px;
}

.status_w{
    background-color: #ee3124;
    width: 20px;
    border-radius: 50% 50%;
    height: 20px;
    display: block;
    margin-left: 10px;
}

.status_a{
    background-color: #23cdb7;
    width: 20px;
    border-radius: 50% 50%;
    height: 20px;
    display: block;
    margin-left: 10px;}
span.status_a {
    text-align: center;
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;
}
span.status_w {
    text-align: center;
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;
}
span.status_p {
    text-align: center;
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;
}
/*===============================
    bUTTON
================================*/
/* General button style (reset) */
.btn8{
    border: none;
    font-family: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 20px;
    display: inline-block;
    margin: 15px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 20px;
}

.btn8:hover{
    color: #fff;
    text-decoration: none;
    background-color: rgba(73, 167, 224, 0.93);
}

.btn8:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn8:before {
    font-family: 'Candanra';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Button 8 */

.btn-8 {
    display: inline-block;
    background: #5cbcf6;
    outline: 1px solid transparent; /* FF jagged edges fix */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 178px;
    text-align: center;
}

.btn-8:active {
    background: #55b7f3;
}

/* Button 8f */
.btn-8f {
    -webkit-transform: rotateX(15deg);
    -moz-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    transform: rotateX(15deg);
    color:white;
}

.btn-8f:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;
    /*background: #49a7df;*/
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform-origin: 0% 0%;
    -moz-transform: rotateX(-90deg);
    -ms-transform-origin: 0% 0%;
    -ms-transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
}

.btn-8f:active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}


section.communit {
    background-color: #F7F7F7;
}

/************ Dashboard **************/

.our_ani{
    display: none;
}

.animation_circle:hover > .our_ani{
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s ;
    -ms-transition: all .3s ;
    -o-transition: all .3s;
    transition: all .3s;
}

.animation_circle:hover > .our{
    display: none;
}
/*carbon calculator*/
.btn-start {
    background-color: #3497d3;
    color: #FFF;
    background-image: -moz-linear-gradient(top, #3497d3, #3497d3);
    background-image: -ms-linear-gradient(top, #3497d3, #3497d3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3497d3), to(#3497d3));
    background-image: -webkit-linear-gradient(top, #3497d3, #3497d3);
    background-image: -o-linear-gradient(top, #3497d3, #3497d3);
    background-image: linear-gradient(top, #3497d3, #3497d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3497d3', endColorstr='#3497d3', GradientType=0);
    width: 20%;
}

.btn-start:hover,
.btn-start:active,
.btn-start.active,
.btn-start.disabled,
.btn-start[disabled] {
    background-color: #3497d3;
    color: #FFF;
}

.carbon-main-container {

    /*background:    #525252;*/
}

.search-form {

    margin: 5%;
    float: none;

}

.panel-default > .panel-heading-custom {

    background: #96D7D1;
    color: #fff;
}
.panel-default > .panel-heading-custom1 {

    background: #E65F66;
    color: #fff;
}
.panel-default > .panel-heading-custom > .content,
.panel-default > .panel-heading-custom1 > .content
{

    font-size : 75px;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-start,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-start {
    background-color: #59C3B7;
    color: #FFF;
    width: 20%;
}
#s_bar{
    padding:2px;
    padding-left:25px;
    border:1px solid gray;
    font-size:13px;
    color:gray;
    background-image:url('../img/search.png');
    background-repeat:no-repeat;
    background-position:left center;outline:0;

}
/*carbon calculator*/
/*analytic dashboard*/
.dash-marg-bottom{
    margin-bottom: 15px !important;
}
/*analytic dashboard*/



/******** Health **************/
li.envior_ani {
    padding-top: 2%;
}
.animation_circle:hover > .envior_ani{
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s ;
    -ms-transition: all .3s ;
    -o-transition: all .3s;
    transition: all .3s;
}
.envior_ani{
    display: none;
}

.animation_circle:hover > .envior{
    display: none;
}


/******** Community **************/
li.comm_ani {
    padding-top: 12%;
}
.animation_circle:hover > .comm_ani{
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s ;
    -ms-transition: all .3s ;
    -o-transition: all .3s;
    transition: all .3s;
}
.comm_ani{
    display: none;
}

.animation_circle:hover > .comm{
    display: none;
}


/******** Analytics **************/
li.analy_ani {
    padding-top: 10%;
}
.animation_circle:hover > .analy_ani{
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s ;
    -ms-transition: all .3s ;
    -o-transition: all .3s;
    transition: all .3s;
}
.analy_ani{
    display: none;
}

.animation_circle:hover > .analy {
    display: none;
}
/*diversity venn*/
.venntooltip {
    position: absolute;
    text-align: center;
    width: 128px;
    height: 25px;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}
/*diversity venn*/
#errorContainer {
    display: none;
    background-color: #5cbcf6;
    border-radius: 5px;
    padding: 5px;
    color: #FFFFFF;
}
#errorContainer label {
    float: none;
    width: auto;
}
.mandatory:after{
    content:"*";
    color:red;
}

.row.dash-marg-bottom.text-left span.pull-left {
    margin-top: 2px;
    margin-left: 10px;
}
.row.dash-marg-bottom.text-left img {
    width: 32px;
    height: 22px;
}



/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
.ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item,
.ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ih-item a:hover {
    text-decoration: none;
}

.ih-item img {
    width: auto;
    height: auto;
}

.ih-item.circle {
    position: relative;
    border-radius: 50%;
}

.ih-item.circle .img {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.ih-item.circle .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle .img img {
    border-radius: 50%;
}

.ih-item.circle.effect1 .spinner {
    position: absolute;
    display: inline-block;
    width: 170px;
    height: 170px;
    border: 10px solid #3ec7b6;
    border-right-color: #3ec7b6;
    border-left-color: #ff5b60;
    border-bottom-color: #2994d8;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 1.2s ease-in-out;
}

.ih-item.circle.effect1 .img {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    width: auto;
    height: auto;
}

.ih-item.circle.effect1 a:hover .spinner {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


@media all and (max-width: 405px) {
    .brand {
        float: none;
        width: auto;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    a.logo{
        margin: 10px 0 0 0;
    }

    .navbar-header.pull-right.cham_color{
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        float: none!important;
    }
    .m-t{
        margin-top: 50px;
    }
    h2 {
        text-align: center;
    }
}