/* Function for getting colors from list
if we need quantity of colors more than colors in array  */
/* Function for painting matrix with box-shadow */
/* Other stuff */
/* Main stuff */
.box-with-text {
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font: 7vmax/1 Candanra;
  font-weight: 900;
  margin-top: 40px;
  /* Hack to hide thin transparent lines while resize objects */ }
  .box-with-text:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    /*box-shadow: 0vmax 0vmax 10vmax 10vmax purple, 15vmax 0vmax 10vmax 10vmax violet, 30vmax 0vmax 10vmax 10vmax teal, 45vmax 0vmax 10vmax 10vmax orangered, 60vmax 0vmax 10vmax 10vmax yellow, 75vmax 0vmax 10vmax 10vmax crimson, 90vmax 0vmax 10vmax 10vmax yellowgreen, 105vmax 0vmax 10vmax 10vmax orange, 120vmax 0vmax 10vmax 10vmax darkturquoise, 135vmax 0vmax 10vmax 10vmax pink, 0vmax 15vmax 10vmax 10vmax steelblue, 15vmax 15vmax 10vmax 10vmax turquoise, 30vmax 15vmax 10vmax 10vmax coral, 45vmax 15vmax 10vmax 10vmax skyblue, 60vmax 15vmax 10vmax 10vmax darkviolet, 75vmax 15vmax 10vmax 10vmax gold, 90vmax 15vmax 10vmax 10vmax purple, 105vmax 15vmax 10vmax 10vmax violet, 120vmax 15vmax 10vmax 10vmax teal, 135vmax 15vmax 10vmax 10vmax orangered, 0vmax 30vmax 10vmax 10vmax yellow, 15vmax 30vmax 10vmax 10vmax crimson, 30vmax 30vmax 10vmax 10vmax yellowgreen, 45vmax 30vmax 10vmax 10vmax orange, 60vmax 30vmax 10vmax 10vmax darkturquoise, 75vmax 30vmax 10vmax 10vmax pink, 90vmax 30vmax 10vmax 10vmax steelblue, 105vmax 30vmax 10vmax 10vmax turquoise, 120vmax 30vmax 10vmax 10vmax coral, 135vmax 30vmax 10vmax 10vmax skyblue, 0vmax 45vmax 10vmax 10vmax darkviolet, 15vmax 45vmax 10vmax 10vmax gold, 30vmax 45vmax 10vmax 10vmax darkslateblue, 45vmax 45vmax 10vmax 10vmax purple, 60vmax 45vmax 10vmax 10vmax violet, 75vmax 45vmax 10vmax 10vmax teal, 90vmax 45vmax 10vmax 10vmax orangered, 105vmax 45vmax 10vmax 10vmax yellow, 120vmax 45vmax 10vmax 10vmax crimson, 135vmax 45vmax 10vmax 10vmax yellowgreen, 0vmax 60vmax 10vmax 10vmax orange, 15vmax 60vmax 10vmax 10vmax darkturquoise, 30vmax 60vmax 10vmax 10vmax pink, 45vmax 60vmax 10vmax 10vmax steelblue, 60vmax 60vmax 10vmax 10vmax turquoise, 75vmax 60vmax 10vmax 10vmax coral, 90vmax 60vmax 10vmax 10vmax skyblue, 105vmax 60vmax 10vmax 10vmax darkviolet, 120vmax 60vmax 10vmax 10vmax gold, 135vmax 60vmax 10vmax 10vmax darkslateblue;*/
    box-shadow: 0vmax 0vmax 10vmax 10vmax #4DC1B3, 15vmax 0vmax 10vmax 10vmax #F15E62, 30vmax 0vmax 10vmax 10vmax #2C90CF, 45vmax 0vmax 10vmax 10vmax #4DC1B3, 60vmax 0vmax 10vmax 10vmax #F15E62, 75vmax 0vmax 10vmax 10vmax #2C90CF, 90vmax 0vmax 10vmax 10vmax #4DC1B3, 105vmax 0vmax 10vmax 10vmax #F15E62, 120vmax 0vmax 10vmax 10vmax #2C90CF, 135vmax 0vmax 10vmax 10vmax #4DC1B3, 0vmax 15vmax 10vmax 10vmax #F15E62, 15vmax 15vmax 10vmax 10vmax #2C90CF, 30vmax 15vmax 10vmax 10vmax #4DC1B3, 45vmax 15vmax 10vmax 10vmax #F15E62, 60vmax 15vmax 10vmax 10vmax #2C90CF, 75vmax 15vmax 10vmax 10vmax #4DC1B3, 90vmax 15vmax 10vmax 10vmax #F15E62, 105vmax 15vmax 10vmax 10vmax #2C90CF, 120vmax 15vmax 10vmax 10vmax #4DC1B3, 135vmax 15vmax 10vmax 10vmax #F15E62, 0vmax 30vmax 10vmax 10vmax #2C90CF, 15vmax 30vmax 10vmax 10vmax #4DC1B3, 30vmax 30vmax 10vmax 10vmax #F15E62, 45vmax 30vmax 10vmax 10vmax #2C90CF, 60vmax 30vmax 10vmax 10vmax #4DC1B3, 75vmax 30vmax 10vmax 10vmax #F15E62, 90vmax 30vmax 10vmax 10vmax #2C90CF, 105vmax 30vmax 10vmax 10vmax #4DC1B3, 120vmax 30vmax 10vmax 10vmax #F15E62, 135vmax 30vmax 10vmax 10vmax #2C90CF, 0vmax 45vmax 10vmax 10vmax #4DC1B3, 15vmax 45vmax 10vmax 10vmax #F15E62, 30vmax 45vmax 10vmax 10vmax #2C90CF, 45vmax 45vmax 10vmax 10vmax #4DC1B3, 60vmax 45vmax 10vmax 10vmax #F15E62, 75vmax 45vmax 10vmax 10vmax #2C90CF, 90vmax 45vmax 10vmax 10vmax #4DC1B3, 105vmax 45vmax 10vmax 10vmax #F15E62, 120vmax 45vmax 10vmax 10vmax #2C90CF, 135vmax 45vmax 10vmax 10vmax #4DC1B3, 0vmax 60vmax 10vmax 10vmax #F15E62, 15vmax 60vmax 10vmax 10vmax #2C90CF, 30vmax 60vmax 10vmax 10vmax #4DC1B3, 45vmax 60vmax 10vmax 10vmax #F15E62, 60vmax 60vmax 10vmax 10vmax #2C90CF, 75vmax 60vmax 10vmax 10vmax #4DC1B3, 90vmax 60vmax 10vmax 10vmax #F15E62, 105vmax 60vmax 10vmax 10vmax #2C90CF, 120vmax 60vmax 10vmax 10vmax #4DC1B3, 135vmax 60vmax 10vmax 10vmax #F15E62;
    -webkit-animation: shadows-cells 2.5s linear infinite;
    animation: shadows-cells 2.5s linear infinite; }
  .box-with-text:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    display: block;
    border: 0px solid black; }

.texts {
  position: relative;
  display: block;
  background: white;
  color: black;
  mix-blend-mode: lighten; }

@-webkit-keyframes shadows-cells {
  25% {
    /*box-shadow: 0vmax 0vmax 10vmax 10vmax coral, 15vmax 0vmax 10vmax 10vmax skyblue, 30vmax 0vmax 10vmax 10vmax darkviolet, 45vmax 0vmax 10vmax 10vmax gold, 60vmax 0vmax 10vmax 10vmax purple, 75vmax 0vmax 10vmax 10vmax violet, 90vmax 0vmax 10vmax 10vmax teal, 105vmax 0vmax 10vmax 10vmax orangered, 120vmax 0vmax 10vmax 10vmax yellow, 135vmax 0vmax 10vmax 10vmax crimson, 0vmax 15vmax 10vmax 10vmax yellowgreen, 15vmax 15vmax 10vmax 10vmax orange, 30vmax 15vmax 10vmax 10vmax darkturquoise, 45vmax 15vmax 10vmax 10vmax pink, 60vmax 15vmax 10vmax 10vmax steelblue, 75vmax 15vmax 10vmax 10vmax turquoise, 90vmax 15vmax 10vmax 10vmax coral, 105vmax 15vmax 10vmax 10vmax skyblue, 120vmax 15vmax 10vmax 10vmax darkviolet, 135vmax 15vmax 10vmax 10vmax gold, 0vmax 30vmax 10vmax 10vmax darkslateblue, 15vmax 30vmax 10vmax 10vmax purple, 30vmax 30vmax 10vmax 10vmax violet, 45vmax 30vmax 10vmax 10vmax teal, 60vmax 30vmax 10vmax 10vmax orangered, 75vmax 30vmax 10vmax 10vmax yellow, 90vmax 30vmax 10vmax 10vmax crimson, 105vmax 30vmax 10vmax 10vmax yellowgreen, 120vmax 30vmax 10vmax 10vmax orange, 135vmax 30vmax 10vmax 10vmax darkturquoise, 0vmax 45vmax 10vmax 10vmax pink, 15vmax 45vmax 10vmax 10vmax steelblue, 30vmax 45vmax 10vmax 10vmax turquoise, 45vmax 45vmax 10vmax 10vmax coral, 60vmax 45vmax 10vmax 10vmax skyblue, 75vmax 45vmax 10vmax 10vmax darkviolet, 90vmax 45vmax 10vmax 10vmax gold, 105vmax 45vmax 10vmax 10vmax darkslateblue, 120vmax 45vmax 10vmax 10vmax purple, 135vmax 45vmax 10vmax 10vmax violet, 0vmax 60vmax 10vmax 10vmax teal, 15vmax 60vmax 10vmax 10vmax orangered, 30vmax 60vmax 10vmax 10vmax yellow, 45vmax 60vmax 10vmax 10vmax crimson, 60vmax 60vmax 10vmax 10vmax yellowgreen, 75vmax 60vmax 10vmax 10vmax orange, 90vmax 60vmax 10vmax 10vmax darkturquoise, 105vmax 60vmax 10vmax 10vmax pink, 120vmax 60vmax 10vmax 10vmax steelblue, 135vmax 60vmax 10vmax 10vmax turquoise;*/
    box-shadow: 0vmax 0vmax 10vmax 10vmax #4DC1B3, 15vmax 0vmax 10vmax 10vmax #F15E62, 30vmax 0vmax 10vmax 10vmax #2C90CF, 45vmax 0vmax 10vmax 10vmax #4DC1B3, 60vmax 0vmax 10vmax 10vmax #F15E62, 75vmax 0vmax 10vmax 10vmax #2C90CF, 90vmax 0vmax 10vmax 10vmax #4DC1B3, 105vmax 0vmax 10vmax 10vmax #F15E62, 120vmax 0vmax 10vmax 10vmax #2C90CF, 135vmax 0vmax 10vmax 10vmax #4DC1B3, 0vmax 15vmax 10vmax 10vmax #F15E62, 15vmax 15vmax 10vmax 10vmax #2C90CF, 30vmax 15vmax 10vmax 10vmax #4DC1B3, 45vmax 15vmax 10vmax 10vmax #F15E62, 60vmax 15vmax 10vmax 10vmax #2C90CF, 75vmax 15vmax 10vmax 10vmax #4DC1B3, 90vmax 15vmax 10vmax 10vmax #F15E62, 105vmax 15vmax 10vmax 10vmax #2C90CF, 120vmax 15vmax 10vmax 10vmax #4DC1B3, 135vmax 15vmax 10vmax 10vmax #F15E62, 0vmax 30vmax 10vmax 10vmax #2C90CF, 15vmax 30vmax 10vmax 10vmax #4DC1B3, 30vmax 30vmax 10vmax 10vmax #F15E62, 45vmax 30vmax 10vmax 10vmax #2C90CF, 60vmax 30vmax 10vmax 10vmax #4DC1B3, 75vmax 30vmax 10vmax 10vmax #F15E62, 90vmax 30vmax 10vmax 10vmax #2C90CF, 105vmax 30vmax 10vmax 10vmax #4DC1B3, 120vmax 30vmax 10vmax 10vmax #F15E62, 135vmax 30vmax 10vmax 10vmax #2C90CF, 0vmax 45vmax 10vmax 10vmax #4DC1B3, 15vmax 45vmax 10vmax 10vmax #F15E62, 30vmax 45vmax 10vmax 10vmax #2C90CF, 45vmax 45vmax 10vmax 10vmax #4DC1B3, 60vmax 45vmax 10vmax 10vmax #F15E62, 75vmax 45vmax 10vmax 10vmax #2C90CF, 90vmax 45vmax 10vmax 10vmax #4DC1B3, 105vmax 45vmax 10vmax 10vmax #F15E62, 120vmax 45vmax 10vmax 10vmax #2C90CF, 135vmax 45vmax 10vmax 10vmax #4DC1B3, 0vmax 60vmax 10vmax 10vmax #F15E62, 15vmax 60vmax 10vmax 10vmax #2C90CF, 30vmax 60vmax 10vmax 10vmax #4DC1B3, 45vmax 60vmax 10vmax 10vmax #F15E62, 60vmax 60vmax 10vmax 10vmax #2C90CF, 75vmax 60vmax 10vmax 10vmax #4DC1B3, 90vmax 60vmax 10vmax 10vmax #F15E62, 105vmax 60vmax 10vmax 10vmax #2C90CF, 120vmax 60vmax 10vmax 10vmax #4DC1B3, 135vmax 60vmax 10vmax 10vmax #F15E62; }

45% {
  /*  box-shadow: 0vmax 0vmax 10vmax 10vmax yellowgreen, 15vmax 0vmax 10vmax 10vmax orange, 30vmax 0vmax 10vmax 10vmax darkturquoise, 45vmax 0vmax 10vmax 10vmax pink, 60vmax 0vmax 10vmax 10vmax steelblue, 75vmax 0vmax 10vmax 10vmax turquoise, 90vmax 0vmax 10vmax 10vmax coral, 105vmax 0vmax 10vmax 10vmax skyblue, 120vmax 0vmax 10vmax 10vmax darkviolet, 135vmax 0vmax 10vmax 10vmax gold, 0vmax 15vmax 10vmax 10vmax purple, 15vmax 15vmax 10vmax 10vmax violet, 30vmax 15vmax 10vmax 10vmax teal, 45vmax 15vmax 10vmax 10vmax orangered, 60vmax 15vmax 10vmax 10vmax yellow, 75vmax 15vmax 10vmax 10vmax crimson, 90vmax 15vmax 10vmax 10vmax yellowgreen, 105vmax 15vmax 10vmax 10vmax orange, 120vmax 15vmax 10vmax 10vmax darkturquoise, 135vmax 15vmax 10vmax 10vmax pink, 0vmax 30vmax 10vmax 10vmax steelblue, 15vmax 30vmax 10vmax 10vmax turquoise, 30vmax 30vmax 10vmax 10vmax coral, 45vmax 30vmax 10vmax 10vmax skyblue, 60vmax 30vmax 10vmax 10vmax darkviolet, 75vmax 30vmax 10vmax 10vmax gold, 90vmax 30vmax 10vmax 10vmax darkslateblue, 105vmax 30vmax 10vmax 10vmax purple, 120vmax 30vmax 10vmax 10vmax violet, 135vmax 30vmax 10vmax 10vmax teal, 0vmax 45vmax 10vmax 10vmax orangered, 15vmax 45vmax 10vmax 10vmax yellow, 30vmax 45vmax 10vmax 10vmax crimson, 45vmax 45vmax 10vmax 10vmax yellowgreen, 60vmax 45vmax 10vmax 10vmax orange, 75vmax 45vmax 10vmax 10vmax darkturquoise, 90vmax 45vmax 10vmax 10vmax pink, 105vmax 45vmax 10vmax 10vmax steelblue, 120vmax 45vmax 10vmax 10vmax turquoise, 135vmax 45vmax 10vmax 10vmax coral, 0vmax 60vmax 10vmax 10vmax skyblue, 15vmax 60vmax 10vmax 10vmax darkviolet, 30vmax 60vmax 10vmax 10vmax gold, 45vmax 60vmax 10vmax 10vmax darkslateblue, 60vmax 60vmax 10vmax 10vmax purple, 75vmax 60vmax 10vmax 10vmax violet, 90vmax 60vmax 10vmax 10vmax teal, 105vmax 60vmax 10vmax 10vmax orangered, 120vmax 60vmax 10vmax 10vmax yellow, 135vmax 60vmax 10vmax 10vmax crimson;*/
    box-shadow: 0vmax 0vmax 10vmax 10vmax #4DC1B3, 15vmax 0vmax 10vmax 10vmax #F15E62, 30vmax 0vmax 10vmax 10vmax #2C90CF, 45vmax 0vmax 10vmax 10vmax #4DC1B3, 60vmax 0vmax 10vmax 10vmax #F15E62, 75vmax 0vmax 10vmax 10vmax #2C90CF, 90vmax 0vmax 10vmax 10vmax #4DC1B3, 105vmax 0vmax 10vmax 10vmax #F15E62, 120vmax 0vmax 10vmax 10vmax #2C90CF, 135vmax 0vmax 10vmax 10vmax #4DC1B3, 0vmax 15vmax 10vmax 10vmax #F15E62, 15vmax 15vmax 10vmax 10vmax #2C90CF, 30vmax 15vmax 10vmax 10vmax #4DC1B3, 45vmax 15vmax 10vmax 10vmax #F15E62, 60vmax 15vmax 10vmax 10vmax #2C90CF, 75vmax 15vmax 10vmax 10vmax #4DC1B3, 90vmax 15vmax 10vmax 10vmax #F15E62, 105vmax 15vmax 10vmax 10vmax #2C90CF, 120vmax 15vmax 10vmax 10vmax #4DC1B3, 135vmax 15vmax 10vmax 10vmax #F15E62, 0vmax 30vmax 10vmax 10vmax #2C90CF, 15vmax 30vmax 10vmax 10vmax #4DC1B3, 30vmax 30vmax 10vmax 10vmax #F15E62, 45vmax 30vmax 10vmax 10vmax #2C90CF, 60vmax 30vmax 10vmax 10vmax #4DC1B3, 75vmax 30vmax 10vmax 10vmax #F15E62, 90vmax 30vmax 10vmax 10vmax #2C90CF, 105vmax 30vmax 10vmax 10vmax #4DC1B3, 120vmax 30vmax 10vmax 10vmax #F15E62, 135vmax 30vmax 10vmax 10vmax #2C90CF, 0vmax 45vmax 10vmax 10vmax #4DC1B3, 15vmax 45vmax 10vmax 10vmax #F15E62, 30vmax 45vmax 10vmax 10vmax #2C90CF, 45vmax 45vmax 10vmax 10vmax #4DC1B3, 60vmax 45vmax 10vmax 10vmax #F15E62, 75vmax 45vmax 10vmax 10vmax #2C90CF, 90vmax 45vmax 10vmax 10vmax #4DC1B3, 105vmax 45vmax 10vmax 10vmax #F15E62, 120vmax 45vmax 10vmax 10vmax #2C90CF, 135vmax 45vmax 10vmax 10vmax #4DC1B3, 0vmax 60vmax 10vmax 10vmax #F15E62, 15vmax 60vmax 10vmax 10vmax #2C90CF, 30vmax 60vmax 10vmax 10vmax #4DC1B3, 45vmax 60vmax 10vmax 10vmax #F15E62, 60vmax 60vmax 10vmax 10vmax #2C90CF, 75vmax 60vmax 10vmax 10vmax #4DC1B3, 90vmax 60vmax 10vmax 10vmax #F15E62, 105vmax 60vmax 10vmax 10vmax #2C90CF, 120vmax 60vmax 10vmax 10vmax #4DC1B3, 135vmax 60vmax 10vmax 10vmax #F15E62; }

  75% {
/*    box-shadow: 0vmax 0vmax 10vmax 10vmax teal, 15vmax 0vmax 10vmax 10vmax orangered, 30vmax 0vmax 10vmax 10vmax yellow, 45vmax 0vmax 10vmax 10vmax crimson, 60vmax 0vmax 10vmax 10vmax yellowgreen, 75vmax 0vmax 10vmax 10vmax orange, 90vmax 0vmax 10vmax 10vmax darkturquoise, 105vmax 0vmax 10vmax 10vmax pink, 120vmax 0vmax 10vmax 10vmax steelblue, 135vmax 0vmax 10vmax 10vmax turquoise, 0vmax 15vmax 10vmax 10vmax coral, 15vmax 15vmax 10vmax 10vmax skyblue, 30vmax 15vmax 10vmax 10vmax darkviolet, 45vmax 15vmax 10vmax 10vmax gold, 60vmax 15vmax 10vmax 10vmax darkslateblue, 75vmax 15vmax 10vmax 10vmax purple, 90vmax 15vmax 10vmax 10vmax violet, 105vmax 15vmax 10vmax 10vmax teal, 120vmax 15vmax 10vmax 10vmax orangered, 135vmax 15vmax 10vmax 10vmax yellow, 0vmax 30vmax 10vmax 10vmax crimson, 15vmax 30vmax 10vmax 10vmax yellowgreen, 30vmax 30vmax 10vmax 10vmax orange, 45vmax 30vmax 10vmax 10vmax darkturquoise, 60vmax 30vmax 10vmax 10vmax pink, 75vmax 30vmax 10vmax 10vmax steelblue, 90vmax 30vmax 10vmax 10vmax turquoise, 105vmax 30vmax 10vmax 10vmax coral, 120vmax 30vmax 10vmax 10vmax skyblue, 135vmax 30vmax 10vmax 10vmax darkviolet, 0vmax 45vmax 10vmax 10vmax gold, 15vmax 45vmax 10vmax 10vmax darkslateblue, 30vmax 45vmax 10vmax 10vmax purple, 45vmax 45vmax 10vmax 10vmax violet, 60vmax 45vmax 10vmax 10vmax teal, 75vmax 45vmax 10vmax 10vmax orangered, 90vmax 45vmax 10vmax 10vmax yellow, 105vmax 45vmax 10vmax 10vmax crimson, 120vmax 45vmax 10vmax 10vmax yellowgreen, 135vmax 45vmax 10vmax 10vmax orange, 0vmax 60vmax 10vmax 10vmax darkturquoise, 15vmax 60vmax 10vmax 10vmax pink, 30vmax 60vmax 10vmax 10vmax steelblue, 45vmax 60vmax 10vmax 10vmax turquoise, 60vmax 60vmax 10vmax 10vmax coral, 75vmax 60vmax 10vmax 10vmax skyblue, 90vmax 60vmax 10vmax 10vmax darkviolet, 105vmax 60vmax 10vmax 10vmax gold, 120vmax 60vmax 10vmax 10vmax darkslateblue, 135vmax 60vmax 10vmax 10vmax purple; */
      box-shadow: 0vmax 0vmax 10vmax 10vmax #4DC1B3, 15vmax 0vmax 10vmax 10vmax #F15E62, 30vmax 0vmax 10vmax 10vmax #2C90CF, 45vmax 0vmax 10vmax 10vmax #4DC1B3, 60vmax 0vmax 10vmax 10vmax #F15E62, 75vmax 0vmax 10vmax 10vmax #2C90CF, 90vmax 0vmax 10vmax 10vmax #4DC1B3, 105vmax 0vmax 10vmax 10vmax #F15E62, 120vmax 0vmax 10vmax 10vmax #2C90CF, 135vmax 0vmax 10vmax 10vmax #4DC1B3, 0vmax 15vmax 10vmax 10vmax #F15E62, 15vmax 15vmax 10vmax 10vmax #2C90CF, 30vmax 15vmax 10vmax 10vmax #4DC1B3, 45vmax 15vmax 10vmax 10vmax #F15E62, 60vmax 15vmax 10vmax 10vmax #2C90CF, 75vmax 15vmax 10vmax 10vmax #4DC1B3, 90vmax 15vmax 10vmax 10vmax #F15E62, 105vmax 15vmax 10vmax 10vmax #2C90CF, 120vmax 15vmax 10vmax 10vmax #4DC1B3, 135vmax 15vmax 10vmax 10vmax #F15E62, 0vmax 30vmax 10vmax 10vmax #2C90CF, 15vmax 30vmax 10vmax 10vmax #4DC1B3, 30vmax 30vmax 10vmax 10vmax #F15E62, 45vmax 30vmax 10vmax 10vmax #2C90CF, 60vmax 30vmax 10vmax 10vmax #4DC1B3, 75vmax 30vmax 10vmax 10vmax #F15E62, 90vmax 30vmax 10vmax 10vmax #2C90CF, 105vmax 30vmax 10vmax 10vmax #4DC1B3, 120vmax 30vmax 10vmax 10vmax #F15E62, 135vmax 30vmax 10vmax 10vmax #2C90CF, 0vmax 45vmax 10vmax 10vmax #4DC1B3, 15vmax 45vmax 10vmax 10vmax #F15E62, 30vmax 45vmax 10vmax 10vmax #2C90CF, 45vmax 45vmax 10vmax 10vmax #4DC1B3, 60vmax 45vmax 10vmax 10vmax #F15E62, 75vmax 45vmax 10vmax 10vmax #2C90CF, 90vmax 45vmax 10vmax 10vmax #4DC1B3, 105vmax 45vmax 10vmax 10vmax #F15E62, 120vmax 45vmax 10vmax 10vmax #2C90CF, 135vmax 45vmax 10vmax 10vmax #4DC1B3, 0vmax 60vmax 10vmax 10vmax #F15E62, 15vmax 60vmax 10vmax 10vmax #2C90CF, 30vmax 60vmax 10vmax 10vmax #4DC1B3, 45vmax 60vmax 10vmax 10vmax #F15E62, 60vmax 60vmax 10vmax 10vmax #2C90CF, 75vmax 60vmax 10vmax 10vmax #4DC1B3, 90vmax 60vmax 10vmax 10vmax #F15E62, 105vmax 60vmax 10vmax 10vmax #2C90CF, 120vmax 60vmax 10vmax 10vmax #4DC1B3, 135vmax 60vmax 10vmax 10vmax #F15E62; }

}

@keyframes shadows-cells {
  25% {
    /*box-shadow: 0vmax 0vmax 10vmax 10vmax coral, 15vmax 0vmax 10vmax 10vmax skyblue, 30vmax 0vmax 10vmax 10vmax darkviolet, 45vmax 0vmax 10vmax 10vmax gold, 60vmax 0vmax 10vmax 10vmax purple, 75vmax 0vmax 10vmax 10vmax violet, 90vmax 0vmax 10vmax 10vmax teal, 105vmax 0vmax 10vmax 10vmax orangered, 120vmax 0vmax 10vmax 10vmax yellow, 135vmax 0vmax 10vmax 10vmax crimson, 0vmax 15vmax 10vmax 10vmax yellowgreen, 15vmax 15vmax 10vmax 10vmax orange, 30vmax 15vmax 10vmax 10vmax darkturquoise, 45vmax 15vmax 10vmax 10vmax pink, 60vmax 15vmax 10vmax 10vmax steelblue, 75vmax 15vmax 10vmax 10vmax turquoise, 90vmax 15vmax 10vmax 10vmax coral, 105vmax 15vmax 10vmax 10vmax skyblue, 120vmax 15vmax 10vmax 10vmax darkviolet, 135vmax 15vmax 10vmax 10vmax gold, 0vmax 30vmax 10vmax 10vmax darkslateblue, 15vmax 30vmax 10vmax 10vmax purple, 30vmax 30vmax 10vmax 10vmax violet, 45vmax 30vmax 10vmax 10vmax teal, 60vmax 30vmax 10vmax 10vmax orangered, 75vmax 30vmax 10vmax 10vmax yellow, 90vmax 30vmax 10vmax 10vmax crimson, 105vmax 30vmax 10vmax 10vmax yellowgreen, 120vmax 30vmax 10vmax 10vmax orange, 135vmax 30vmax 10vmax 10vmax darkturquoise, 0vmax 45vmax 10vmax 10vmax pink, 15vmax 45vmax 10vmax 10vmax steelblue, 30vmax 45vmax 10vmax 10vmax turquoise, 45vmax 45vmax 10vmax 10vmax coral, 60vmax 45vmax 10vmax 10vmax skyblue, 75vmax 45vmax 10vmax 10vmax darkviolet, 90vmax 45vmax 10vmax 10vmax gold, 105vmax 45vmax 10vmax 10vmax darkslateblue, 120vmax 45vmax 10vmax 10vmax purple, 135vmax 45vmax 10vmax 10vmax violet, 0vmax 60vmax 10vmax 10vmax teal, 15vmax 60vmax 10vmax 10vmax orangered, 30vmax 60vmax 10vmax 10vmax yellow, 45vmax 60vmax 10vmax 10vmax crimson, 60vmax 60vmax 10vmax 10vmax yellowgreen, 75vmax 60vmax 10vmax 10vmax orange, 90vmax 60vmax 10vmax 10vmax darkturquoise, 105vmax 60vmax 10vmax 10vmax pink, 120vmax 60vmax 10vmax 10vmax steelblue, 135vmax 60vmax 10vmax 10vmax turquoise;*/
    box-shadow: 0vmax 0vmax 10vmax 10vmax #2C90CF, 15vmax 0vmax 10vmax 10vmax #F15E62, 30vmax 0vmax 10vmax 10vmax #4DC1B3, 45vmax 0vmax 10vmax 10vmax #2C90CF, 60vmax 0vmax 10vmax 10vmax #4DC1B3, 75vmax 0vmax 10vmax 10vmax #4DC1B3, 90vmax 0vmax 10vmax 10vmax #2C90CF, 105vmax 0vmax 10vmax 10vmax #4DC1B3, 120vmax 0vmax 10vmax 10vmax #4DC1B3, 135vmax 0vmax 10vmax 10vmax #2C90CF, 0vmax 15vmax 10vmax 10vmax #4DC1B3, 15vmax 15vmax 10vmax 10vmax #4DC1B3, 30vmax 15vmax 10vmax 10vmax #2C90CF, 45vmax 15vmax 10vmax 10vmax #4DC1B3, 60vmax 15vmax 10vmax 10vmax #4DC1B3, 75vmax 15vmax 10vmax 10vmax #2C90CF, 90vmax 15vmax 10vmax 10vmax #4DC1B3, 105vmax 15vmax 10vmax 10vmax #4DC1B3, 120vmax 15vmax 10vmax 10vmax #2C90CF, 135vmax 15vmax 10vmax 10vmax #4DC1B3, 0vmax 30vmax 10vmax 10vmax #4DC1B3, 15vmax 30vmax 10vmax 10vmax #2C90CF, 30vmax 30vmax 10vmax 10vmax #4DC1B3, 45vmax 30vmax 10vmax 10vmax #4DC1B3, 60vmax 30vmax 10vmax 10vmax #2C90CF, 75vmax 30vmax 10vmax 10vmax #4DC1B3, 90vmax 30vmax 10vmax 10vmax #4DC1B3, 105vmax 30vmax 10vmax 10vmax #2C90CF, 120vmax 30vmax 10vmax 10vmax #4DC1B3, 135vmax 30vmax 10vmax 10vmax #4DC1B3, 0vmax 45vmax 10vmax 10vmax #2C90CF, 15vmax 45vmax 10vmax 10vmax #4DC1B3, 30vmax 45vmax 10vmax 10vmax #4DC1B3, 45vmax 45vmax 10vmax 10vmax #2C90CF, 60vmax 45vmax 10vmax 10vmax #4DC1B3, 75vmax 45vmax 10vmax 10vmax #4DC1B3, 90vmax 45vmax 10vmax 10vmax #2C90CF, 105vmax 45vmax 10vmax 10vmax #4DC1B3, 120vmax 45vmax 10vmax 10vmax #4DC1B3, 135vmax 45vmax 10vmax 10vmax #2C90CF, 0vmax 60vmax 10vmax 10vmax #4DC1B3, 15vmax 60vmax 10vmax 10vmax #4DC1B3, 30vmax 60vmax 10vmax 10vmax #2C90CF, 45vmax 60vmax 10vmax 10vmax #4DC1B3, 60vmax 60vmax 10vmax 10vmax #4DC1B3, 75vmax 60vmax 10vmax 10vmax #2C90CF, 90vmax 60vmax 10vmax 10vmax #4DC1B3, 105vmax 60vmax 10vmax 10vmax #4DC1B3, 120vmax 60vmax 10vmax 10vmax #2C90CF, 135vmax 60vmax 10vmax 10vmax #4DC1B3; }

  45% {
    /*  box-shadow: 0vmax 0vmax 10vmax 10vmax yellowgreen, 15vmax 0vmax 10vmax 10vmax orange, 30vmax 0vmax 10vmax 10vmax darkturquoise, 45vmax 0vmax 10vmax 10vmax pink, 60vmax 0vmax 10vmax 10vmax steelblue, 75vmax 0vmax 10vmax 10vmax turquoise, 90vmax 0vmax 10vmax 10vmax coral, 105vmax 0vmax 10vmax 10vmax skyblue, 120vmax 0vmax 10vmax 10vmax darkviolet, 135vmax 0vmax 10vmax 10vmax gold, 0vmax 15vmax 10vmax 10vmax purple, 15vmax 15vmax 10vmax 10vmax violet, 30vmax 15vmax 10vmax 10vmax teal, 45vmax 15vmax 10vmax 10vmax orangered, 60vmax 15vmax 10vmax 10vmax yellow, 75vmax 15vmax 10vmax 10vmax crimson, 90vmax 15vmax 10vmax 10vmax yellowgreen, 105vmax 15vmax 10vmax 10vmax orange, 120vmax 15vmax 10vmax 10vmax darkturquoise, 135vmax 15vmax 10vmax 10vmax pink, 0vmax 30vmax 10vmax 10vmax steelblue, 15vmax 30vmax 10vmax 10vmax turquoise, 30vmax 30vmax 10vmax 10vmax coral, 45vmax 30vmax 10vmax 10vmax skyblue, 60vmax 30vmax 10vmax 10vmax darkviolet, 75vmax 30vmax 10vmax 10vmax gold, 90vmax 30vmax 10vmax 10vmax darkslateblue, 105vmax 30vmax 10vmax 10vmax purple, 120vmax 30vmax 10vmax 10vmax violet, 135vmax 30vmax 10vmax 10vmax teal, 0vmax 45vmax 10vmax 10vmax orangered, 15vmax 45vmax 10vmax 10vmax yellow, 30vmax 45vmax 10vmax 10vmax crimson, 45vmax 45vmax 10vmax 10vmax yellowgreen, 60vmax 45vmax 10vmax 10vmax orange, 75vmax 45vmax 10vmax 10vmax darkturquoise, 90vmax 45vmax 10vmax 10vmax pink, 105vmax 45vmax 10vmax 10vmax steelblue, 120vmax 45vmax 10vmax 10vmax turquoise, 135vmax 45vmax 10vmax 10vmax coral, 0vmax 60vmax 10vmax 10vmax skyblue, 15vmax 60vmax 10vmax 10vmax darkviolet, 30vmax 60vmax 10vmax 10vmax gold, 45vmax 60vmax 10vmax 10vmax darkslateblue, 60vmax 60vmax 10vmax 10vmax purple, 75vmax 60vmax 10vmax 10vmax violet, 90vmax 60vmax 10vmax 10vmax teal, 105vmax 60vmax 10vmax 10vmax orangered, 120vmax 60vmax 10vmax 10vmax yellow, 135vmax 60vmax 10vmax 10vmax crimson;*/
    box-shadow: 0vmax 0vmax 10vmax 10vmax #F15E62, 15vmax 0vmax 10vmax 10vmax #4DC1B3, 30vmax 0vmax 10vmax 10vmax #2C90CF, 45vmax 0vmax 10vmax 10vmax #F15E62, 60vmax 0vmax 10vmax 10vmax #4DC1B3, 75vmax 0vmax 10vmax 10vmax #2C90CF, 90vmax 0vmax 10vmax 10vmax #F15E62, 105vmax 0vmax 10vmax 10vmax #4DC1B3, 120vmax 0vmax 10vmax 10vmax #2C90CF, 135vmax 0vmax 10vmax 10vmax #F15E62, 0vmax 15vmax 10vmax 10vmax #4DC1B3, 15vmax 15vmax 10vmax 10vmax #2C90CF, 30vmax 15vmax 10vmax 10vmax #F15E62, 45vmax 15vmax 10vmax 10vmax #4DC1B3, 60vmax 15vmax 10vmax 10vmax #2C90CF, 75vmax 15vmax 10vmax 10vmax #F15E62, 90vmax 15vmax 10vmax 10vmax #4DC1B3, 105vmax 15vmax 10vmax 10vmax #2C90CF, 120vmax 15vmax 10vmax 10vmax #F15E62, 135vmax 15vmax 10vmax 10vmax #4DC1B3, 0vmax 30vmax 10vmax 10vmax #2C90CF, 15vmax 30vmax 10vmax 10vmax #F15E62, 30vmax 30vmax 10vmax 10vmax #4DC1B3, 45vmax 30vmax 10vmax 10vmax #2C90CF, 60vmax 30vmax 10vmax 10vmax #F15E62, 75vmax 30vmax 10vmax 10vmax #4DC1B3, 90vmax 30vmax 10vmax 10vmax #2C90CF, 105vmax 30vmax 10vmax 10vmax #F15E62, 120vmax 30vmax 10vmax 10vmax #4DC1B3, 135vmax 30vmax 10vmax 10vmax #2C90CF, 0vmax 45vmax 10vmax 10vmax #F15E62, 15vmax 45vmax 10vmax 10vmax #4DC1B3, 30vmax 45vmax 10vmax 10vmax #2C90CF, 45vmax 45vmax 10vmax 10vmax #F15E62, 60vmax 45vmax 10vmax 10vmax #4DC1B3, 75vmax 45vmax 10vmax 10vmax #2C90CF, 90vmax 45vmax 10vmax 10vmax #F15E62, 105vmax 45vmax 10vmax 10vmax #4DC1B3, 120vmax 45vmax 10vmax 10vmax #2C90CF, 135vmax 45vmax 10vmax 10vmax #F15E62, 0vmax 60vmax 10vmax 10vmax #4DC1B3, 15vmax 60vmax 10vmax 10vmax #2C90CF, 30vmax 60vmax 10vmax 10vmax #F15E62, 45vmax 60vmax 10vmax 10vmax #4DC1B3, 60vmax 60vmax 10vmax 10vmax #2C90CF, 75vmax 60vmax 10vmax 10vmax #F15E62, 90vmax 60vmax 10vmax 10vmax #4DC1B3, 105vmax 60vmax 10vmax 10vmax #2C90CF, 120vmax 60vmax 10vmax 10vmax #F15E62, 135vmax 60vmax 10vmax 10vmax #4DC1B3; }

  75% {
    /*    box-shadow: 0vmax 0vmax 10vmax 10vmax teal, 15vmax 0vmax 10vmax 10vmax orangered, 30vmax 0vmax 10vmax 10vmax yellow, 45vmax 0vmax 10vmax 10vmax crimson, 60vmax 0vmax 10vmax 10vmax yellowgreen, 75vmax 0vmax 10vmax 10vmax orange, 90vmax 0vmax 10vmax 10vmax darkturquoise, 105vmax 0vmax 10vmax 10vmax pink, 120vmax 0vmax 10vmax 10vmax steelblue, 135vmax 0vmax 10vmax 10vmax turquoise, 0vmax 15vmax 10vmax 10vmax coral, 15vmax 15vmax 10vmax 10vmax skyblue, 30vmax 15vmax 10vmax 10vmax darkviolet, 45vmax 15vmax 10vmax 10vmax gold, 60vmax 15vmax 10vmax 10vmax darkslateblue, 75vmax 15vmax 10vmax 10vmax purple, 90vmax 15vmax 10vmax 10vmax violet, 105vmax 15vmax 10vmax 10vmax teal, 120vmax 15vmax 10vmax 10vmax orangered, 135vmax 15vmax 10vmax 10vmax yellow, 0vmax 30vmax 10vmax 10vmax crimson, 15vmax 30vmax 10vmax 10vmax yellowgreen, 30vmax 30vmax 10vmax 10vmax orange, 45vmax 30vmax 10vmax 10vmax darkturquoise, 60vmax 30vmax 10vmax 10vmax pink, 75vmax 30vmax 10vmax 10vmax steelblue, 90vmax 30vmax 10vmax 10vmax turquoise, 105vmax 30vmax 10vmax 10vmax coral, 120vmax 30vmax 10vmax 10vmax skyblue, 135vmax 30vmax 10vmax 10vmax darkviolet, 0vmax 45vmax 10vmax 10vmax gold, 15vmax 45vmax 10vmax 10vmax darkslateblue, 30vmax 45vmax 10vmax 10vmax purple, 45vmax 45vmax 10vmax 10vmax violet, 60vmax 45vmax 10vmax 10vmax teal, 75vmax 45vmax 10vmax 10vmax orangered, 90vmax 45vmax 10vmax 10vmax yellow, 105vmax 45vmax 10vmax 10vmax crimson, 120vmax 45vmax 10vmax 10vmax yellowgreen, 135vmax 45vmax 10vmax 10vmax orange, 0vmax 60vmax 10vmax 10vmax darkturquoise, 15vmax 60vmax 10vmax 10vmax pink, 30vmax 60vmax 10vmax 10vmax steelblue, 45vmax 60vmax 10vmax 10vmax turquoise, 60vmax 60vmax 10vmax 10vmax coral, 75vmax 60vmax 10vmax 10vmax skyblue, 90vmax 60vmax 10vmax 10vmax darkviolet, 105vmax 60vmax 10vmax 10vmax gold, 120vmax 60vmax 10vmax 10vmax darkslateblue, 135vmax 60vmax 10vmax 10vmax purple; */
    box-shadow: 0vmax 0vmax 10vmax 10vmax #4DC1B3, 15vmax 0vmax 10vmax 10vmax #F15E62, 30vmax 0vmax 10vmax 10vmax #2C90CF, 45vmax 0vmax 10vmax 10vmax #4DC1B3, 60vmax 0vmax 10vmax 10vmax #F15E62, 75vmax 0vmax 10vmax 10vmax #2C90CF, 90vmax 0vmax 10vmax 10vmax #4DC1B3, 105vmax 0vmax 10vmax 10vmax #F15E62, 120vmax 0vmax 10vmax 10vmax #2C90CF, 135vmax 0vmax 10vmax 10vmax #4DC1B3, 0vmax 15vmax 10vmax 10vmax #F15E62, 15vmax 15vmax 10vmax 10vmax #2C90CF, 30vmax 15vmax 10vmax 10vmax #4DC1B3, 45vmax 15vmax 10vmax 10vmax #F15E62, 60vmax 15vmax 10vmax 10vmax #2C90CF, 75vmax 15vmax 10vmax 10vmax #4DC1B3, 90vmax 15vmax 10vmax 10vmax #F15E62, 105vmax 15vmax 10vmax 10vmax #2C90CF, 120vmax 15vmax 10vmax 10vmax #4DC1B3, 135vmax 15vmax 10vmax 10vmax #F15E62, 0vmax 30vmax 10vmax 10vmax #2C90CF, 15vmax 30vmax 10vmax 10vmax #4DC1B3, 30vmax 30vmax 10vmax 10vmax #F15E62, 45vmax 30vmax 10vmax 10vmax #2C90CF, 60vmax 30vmax 10vmax 10vmax #4DC1B3, 75vmax 30vmax 10vmax 10vmax #F15E62, 90vmax 30vmax 10vmax 10vmax #2C90CF, 105vmax 30vmax 10vmax 10vmax #4DC1B3, 120vmax 30vmax 10vmax 10vmax #F15E62, 135vmax 30vmax 10vmax 10vmax #2C90CF, 0vmax 45vmax 10vmax 10vmax #4DC1B3, 15vmax 45vmax 10vmax 10vmax #F15E62, 30vmax 45vmax 10vmax 10vmax #2C90CF, 45vmax 45vmax 10vmax 10vmax #4DC1B3, 60vmax 45vmax 10vmax 10vmax #F15E62, 75vmax 45vmax 10vmax 10vmax #2C90CF, 90vmax 45vmax 10vmax 10vmax #4DC1B3, 105vmax 45vmax 10vmax 10vmax #F15E62, 120vmax 45vmax 10vmax 10vmax #2C90CF, 135vmax 45vmax 10vmax 10vmax #4DC1B3, 0vmax 60vmax 10vmax 10vmax #F15E62, 15vmax 60vmax 10vmax 10vmax #2C90CF, 30vmax 60vmax 10vmax 10vmax #4DC1B3, 45vmax 60vmax 10vmax 10vmax #F15E62, 60vmax 60vmax 10vmax 10vmax #2C90CF, 75vmax 60vmax 10vmax 10vmax #4DC1B3, 90vmax 60vmax 10vmax 10vmax #F15E62, 105vmax 60vmax 10vmax 10vmax #2C90CF, 120vmax 60vmax 10vmax 10vmax #4DC1B3, 135vmax 60vmax 10vmax 10vmax #F15E62; } }

/*# sourceMappingURL=style19.css.map */
