<?php
/**
 * Created by PhpStorm.
 * User: Admin
 * Date: 4/27/2016
 * Time: 5:57 PM
 */
extract($_REQUEST);
//set_include_path(get_include_path() . PATH_SEPARATOR . 'vendor/PHPExcel');
//include 'PHPExcel/IOFactory.php';
//use PHPExcel;
//$excel = new PHPExcel();
// This is the file path to be uploaded.
$title = 'Company';
$this->headTitle($title);
?>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<?php
$form = $this->form;
$company_id = $this->id;
$form->setAttribute('action', $this->url('company', array('action' => 'edit','id'=>$company_id)));
$form->prepare();
$company_name =$form->get('company_name')->getValue();
echo $this->form()->openTag($form);
//echo $this->formElementerrors($form);
echo $this->formHidden($form->get('company_id'));
echo '<div class="form-group"><label class="control-label col-sm-2">Company Name</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $company_name. '</div></div>';
echo $this->formElementerrors($form->get('company_name'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Address</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space"> ' . $this->formElement($form->get('address')) . '</div>';
echo $this->formElementerrors($form->get('address'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Email</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space"> ' . $this->formElement($form->get('email')) . '</div>';
//$this->formElement($form->get('confirm_password'))->addErrorMessage('Password and Re-type password don\'t');
echo $this->formElementerrors($form->get('email'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space"> ' . $this->formselect($form->get('region_id')) . '</div>';
echo $this->formElementerrors($form->get('region_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space"> ' . $this->formselect($form->get('country_id')) . '</div>';
echo $this->formElementerrors($form->get('country_id'));
echo '<div class="clearfix"></div>';
echo '<label class="control-label col-sm-2">City</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('city_id')) . '</div></div>';
echo $this->formElementerrors($form->get('city_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Contact No.</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formElement($form->get('contact_no')) . '</div>';
echo $this->formElementerrors($form->get('contact_no'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Status</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space">  <div class="onoffswitch">' . $this->formElement($form->get('is_active')) . '<label class="onoffswitch-label" for="myonoffswitch"></label></div></div></div>';
echo '<div class="clearfix"></div>';
echo $this->formElement($form->get('cancel'));
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
echo $this->form()->closeTag();
?>
<script>
    $(document).ready(function () {
        //Hide all of Select region
        var region = $("#region_id");
        var country = $("#country_id");
        var country_opt = $('#country_id option');
        var city = $("#city_id");
        var city_opt = $('#city_id option');
        /*region's countries*/

        region.on('change click', function() {
            country.children('option').show();
            var ids = ($(this).val());
            var filter_data = [];
            $.each(ids, function(i, val ) {
                //console.log($(this).val()+'a');
                filter_data.push('[data-region-id=' + val +']');
            });
            var filter=new Array(filter_data);
            if ($(this).data('options') == undefined) {
                /*Taking an array of all options-2 and kind of embedding it on the select1*/
                $(this).data('options', country_opt.clone());
            }
            var id = $(this).val();
            var options_country = $(this).data('options').filter(filter.join(","));
            country.empty();
            city.empty();
           // country.append('<option value=""></option>');
            country.append(options_country);
            country.multipleSelect('refresh');
        });
        /*country's cities*/
        country.on('change click', function() {
            city.children('option').show();
            var ids = ($(this).val());
            var filter_data = [];
            $.each(ids, function(i, val ) {
                //console.log($(this).val()+'a');
                filter_data.push('[data-country-id=' + val +']');
            });
            var filter=new Array(filter_data);
            if ($(this).data('options') == undefined) {
                /*Taking an array of all options-2 and kind of embedding it on the select1*/
                $(this).data('options', city_opt.clone());
            }
            var id = $(this).val();
            var options_city = $(this).data('options').filter(filter.join(","));
            city.empty();
           // city.append('<option value=""></option>');
            city.append(options_city);
            city.multipleSelect('refresh');
        });
        /*status*/
//        $.fn.bootstrapSwitch.defaults.onText = 'Enable';
//        $.fn.bootstrapSwitch.defaults.offText = 'Disable';
//        $("input[type=checkbox],.is_active").bootstrapSwitch();
        country.children('option:not(:selected)').hide();
        city.children('option:not(:selected)').hide();
    });
</script>
