<?php
extract($_REQUEST);
set_include_path(get_include_path() . PATH_SEPARATOR . 'vendor/PHPExcel');
include 'PHPExcel/IOFactory.php';

//use PHPExcel;
//$excel = new PHPExcel();
// This is the file path to be uploaded.
$form = $this->form;
$form->setAttribute('action', $this->url('national', array('action' => 'add')));
$form->prepare();

/*diversity file upload*/
$employee_id = array();
$name = array();
$dob = array();
$nationality = array();
$gender = array();
$designation = array();

if (isset($_POST["upload"]) && !empty($_POST["upload"])) {


    // $handle = fopen($_FILES["fileupload"]["tmp_name"], 'r');
    $file_name_tmp = $_FILES["fileupload"]['tmp_name'];
    $file_name = $_FILES["fileupload"]['name'];
    $temp = explode(".", $file_name);
    $newfilename = rand(1, 99999) . '.' . end($temp);
    $add = 'excels/'."$newfilename"; // the path with the file name where the file will be stored
    $upload = move_uploaded_file($file_name_tmp, $add);

    $inputFileName = $add;

    try {
        $objPHPExcel = PHPExcel_IOFactory::load($inputFileName);
    } catch (Exception $e) {
        die('Error loading file "' . pathinfo($inputFileName, PATHINFO_BASENAME) . '": ' . $e->getMessage());
    }
    $allDataInSheet = $objPHPExcel->getActiveSheet()->toArray(null, true, true, true);

    //$arrayCount = count($allDataInSheet);  // Here get total count of row in that Excel sheet
    //echo '<pre>', print_r($allDataInSheet, 1), '</pre>';

    foreach ($allDataInSheet as $key => $value) {
        foreach ($value as $key1 => $value1) {

            if ($key1 == 'A') {

                $employee_id[] = $value1;
            }
            if ($key1 == 'B') {

                $name[] = $value1;
            }
            if ($key1 == 'C') {

                $dob[] = $value1;
            }
            if ($key1 == 'D') {

                $nationality[] = $value1;
            }
            if ($key1 == 'E') {

                $gender[] = $value1;
            }
            if ($key1 == 'F') {

                $designation[] = $value1;
            }
        }
    }
    echo "File Upload Successfully! Now Add it"; ?>
    <script>
        $(document).ready(function () {
            $('input[name^=file_name]').val('<?php echo $file_name; ?>');
            $('input[name^=org_name]').val('<?php echo $inputFileName; ?>');
        });
    </script>
<?php }
$employee_id1= implode(',',$employee_id);
$name1= implode(',',$name);
$dob1= implode(',',$dob);
$nationality1= implode(',',$nationality);
$gender1= implode(',',$gender);
$designation1= implode(',',$designation);

?>
<script>
$(document).ready(function () {
    $('input[name^=employee_id]').val('<?php echo $employee_id1;?>');
    $('input[name^=name]').val('<?php echo $name1;?>');
    $('input[name^=dob]').val('<?php echo $dob1;?>');
    $('input[name^=nationality]').val('<?php echo $nationality1;?>');
    $('input[name^=gender]').val('<?php echo $gender1;?>');
    $('input[name^=designation]').val('<?php echo $designation1;?>');

});
</script>
<?php
/*diversity file upload*/

$title = 'Diversity';
$this->headTitle($title);
?>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<?php
echo $this->form()->openTag($form);
echo '<div class="form-group"><label class="control-label col-sm-2 ">Data Upload</label><div class="col-sm-2 col-md-2 col-lg-3 label-space">'. $this->formRow($form->get('fileupload')).'</div></div>';
/*echo $this->formRow($form->get('fileupload'));*/
echo $this->formSubmit($form->get('upload'));
echo $this->form()->closeTag();
?>
<section>

    <?php
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('national_id'));
    echo $this->formHidden($form->get('employee_id'));
    echo $this->formHidden($form->get('name'));
    echo $this->formHidden($form->get('dob'));
    echo $this->formHidden($form->get('nationality'));
    echo $this->formHidden($form->get('gender'));
    echo $this->formHidden($form->get('designation'));
    echo $this->formHidden($form->get('file_name'));
    echo $this->formHidden($form->get('org_name'));
    echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
    echo $this->formHidden($form->get('month'));
    echo $this->formHidden($form->get('year'));
    echo $this->formElementerrors($form->get('month'));
    echo $this->formElementerrors($form->get('year'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
  //  echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div class="clearfix"></div>';
    //echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
  //  echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo $this->formHidden($form->get('category'));
    echo $this->formHidden($form->get('area'));
    echo '<div class="clearfix"></div>'; ?>
    <h2>Records for review</h2>
    <section>
        <div class="table-responsive scale">
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead class="head_event">
                <tr>
                    <th>Serial no</th>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Nationality</th>
                    <th>Gender</th>
                    <th>Designation</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <?php

                if (isset($_POST["upload"]) && !empty($_POST["upload"])) {

                    $c = 1;

                    foreach ($allDataInSheet as $key => $value) : ?>

                        <tr id="record<?php echo $c; ?>">

                            <td class="id"><?php echo $c; ?></td>
                            <td class="employee_id"><?php echo $this->escapeHtml($value['A']); ?></td>
                            <td class="name"><?php echo $this->escapeHtml($value['B']); ?></td>
                            <td class="dob"><?php echo $this->escapeHtml($value['C']); ?></td>
                            <td class="nationality"><?php echo $this->escapeHtml($value['D']); ?></td>
                            <td class="gender"><?php echo $this->escapeHtml($value['E']); ?></td>
                            <td class="designation"><?php echo $this->escapeHtml($value['F']); ?></td>
                            <td>
                                <input type="button"  id="delete<?php echo $c; ?>" class="btn btn-primary" value="Delete">
                                </form>
                            </td>
                        </tr>
                        <script>
                            $(document).ready(function () {

                                $('#delete<?php echo $c; ?>').click(function (e) {

                                    e.preventDefault();
                                    var confirm1 = confirm('Are you sure?');
                                    if (confirm1) {
                                        $('#record<?php echo $c; ?>').animate({'line-height':0},1000).hide(1);
                                        $('#record<?php echo $c; ?>').remove();
                                        var employee_id = Array();
                                        var name = Array();
                                        var dob = Array();
                                        var nationality = Array();
                                        var gender = Array();
                                        var designation = Array();

                                        $("table tr").each(function(i, v){
                                            employee_id[i] = Array();
                                            name[i] = Array();
                                            dob[i] = Array();
                                            nationality[i] = Array();
                                            gender[i] = Array();
                                            designation[i] = Array();
                                            $(this).children('.employee_id').each(function(ii, vv){
                                                employee_id[i][ii] = $(this).text();

                                            });
                                            $(this).children('.name').each(function(ii, vv){
                                                name[i][ii] = $(this).text();

                                            });
                                            $(this).children('.dob').each(function(ii, vv){
                                                dob[i][ii] = $(this).text();

                                            });
                                            $(this).children('.nationality').each(function(ii, vv){
                                                nationality[i][ii] = $(this).text();
                                            });
                                            $(this).children('.gender').each(function(ii, vv){
                                                gender[i][ii] = $(this).text();
                                            });
                                            $(this).children('.designation').each(function(ii, vv){
                                                designation[i][ii] = $(this).text();
                                            });
                                        });

                                        $('input[name^=employee_id]').val(employee_id);
                                        $('input[name^=name]').val(name);
                                        $('input[name^=dob]').val(dob);
                                        $('input[name^=nationality]').val(nationality);
                                        $('input[name^=gender]').val(gender);
                                        $('input[name^=designation]').val(designation);
                                        $('#record<?php echo $c; ?>').remove();
                                        /*subtract distance from total distance*/
                                        var total_value=    $("input[name=value]").val();
                                        var current_value =   1;
                                        var diff_value = total_value-current_value;
                                        console.log(diff_value);
                                        $("input[name=value]").val(diff_value);
                                        /*subtract distance from total distance*/
                                    }
                                });
                                /*append total distance of current excel upload */
                                $("input[name=value]").val('<?= $c;?>');
                            });
                        </script>
                        <?php
                        $c++;
                    endforeach;
                }
                ?>
            </table>

        </div>

    </section>
    <?php
    echo $this->formElement($form->get('cancel'));
    echo $this->formSubmit($form->get('submit'));
    echo '<div class="clearfix"></div>';
    echo $this->form()->closeTag();
    ?>

</section>
<script>
//$("#create_date").click(function(){
////console.log($("#create_date".val()));
//    var d = new Date($("#create_date".val()));
//    var n = d.getMonth();
//    $("#month").val(n);
//});
$("#create_date").on("dp.change", function(e) {
    //alert(e.date);
    var d = new Date(e.date);
    var n = d.getMonth();
   $("#month").val(n+1);
    var y = d.getFullYear();
    $("#year").val(y);
});
</script>
