<?php

$title = 'Diversity';
$this->headTitle($title);
?>
    <!--<h1><?php /*echo $this->escapeHtml($title); */?></h1>-->

    <div class="col-sm-12 col-md-12 col-lg-12 heading_back">
        <h2><?php echo $this->escapeHtml($title); ?></h2>
    </div>

    <!--    <div class="table-responsive">-->
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">

        <tr>
            <th style="width:5%">Champion</th>
            <th style="width:10%">Company</th>
            <th style="width:15%">Region</th>
            <th style="width:15%">Country</th>
           <!-- <th style="width:25%" class="hidden-phone">Type</th>-->
            <th style="width:15%" class="hidden-phone">Value</th>
            <th style="width:10%" class="hidden-phone">Submitted Date</th>
            <th style="width:5%" class="hidden-phone">Frequency</th>
            <th style="width:10%" class="hidden-phone">Next Date</th>
            <th style="width:5%" class="hidden-phone">Status</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($this->paginator);
        if($count > 0) {
            foreach ($paginator as $national) :
                ?>
                <tr>
                    <?php if($national['status']== _P_) { ?>
                        <td><a href="<?php echo $this->url('national', array('action' => 'edit', 'id' => $national['national_id']));?>"><?php echo $national['user_name']; ?></a></td>
                    <?php } if($national['status']== _A_) { ?>
                        <td><?php echo $national['user_name']; ?></td>

                    <?php } ?>
                    <?php if($national['status']== _W_) { ?>
                        <td><?php echo$national['user_name']; ?></td>

                    <?php } ?>
                    <td><?php echo $national['company_name']; ?></td>
                    <td><?php echo $national['region_description']; ?></td>
                    <td><?php echo $national['country_name']; ?></td>
                  <!--  <td><?php /*echo $national['name']; */?></td>-->
                    <td><?php echo number_format($national['value']); ?></td>
                    <td><?php echo date('d-m-y',strtotime($national['create_date'])) ;?></td>
                    <td><?php echo $national['frequency_name'] ;?></td>
                    <td><?php echo date('d-m-y',strtotime($national['expiry_date'])) ;?></td>
                    <?php if($national['status']== _P_) { ?>
                        <td><a  href="<?php echo $this->url('national', array('action' => 'edit', 'id' => $national['national_id']));?>"><span class="status_p" > </span><span class="hide"><?=_P_?></span></a></td>
                    <?php }  ?>

                    <?php if($national['status']== _W_) { ?>
                        <td><a href="javascript:window.open('<?php echo $this->url('email' ,array('action' => 'index', 'id'=>0,'email_id' => $national['user_email']));?>','email','width=700,height=500')" ><span class="status_w"> </span><span class="hide"><?=_E_?></span></a></td>
                    <?php } ?>
                    <?php if($national['status']== _A_) { ?>
                        <td><span class="status_a"></span><span class="hide"><?=_A_?></span></td>

                    <?php } ?>

                </tr>
                <?php



                $c++;
            endforeach;
        } ?>
        <!-- else { ?>
            <tr>
                <td colspan="9"> No Record Found</td>
            </tr> -->
        <?php /* } */ ?>
        </tbody>
    </table>

    <div class="clearfix"></div>

<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'national'
    )
);
?>