<?php
extract($_REQUEST);
?>
<!-- search criteria Modal -->
<img id="wheel_loader" style="display: none;background: transparent;" src="<?php echo $this->basePath('img/wheel_loader.gif') ?>">
<div class="modal fade" id="set_criteria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


          <!-- <div id="wheel_loader" class="center" style="display: none;"><img
                    src="<?php /*echo $this->basePath('img/wheel_loader.gif') */?>"></div>-->
            <div >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Set Criteria</h2>
                </div>
                <?php echo $this->partial('partial/Gfilter.phtml'); ?>
            </div>
        </div>
    </div>
</div>
<!-- search criteria Modal -->

<h2>Our People</h2>

<div class="people-main-container">
    <!--main panel-->

    <div class="panel panel-default" style="display:<?= (empty($GData)) ? 'block' : 'none' ?>">
        <div class="panel-body center">
            <img src="<?php echo $this->basePath('img/Ourpeople.png') ?>" class="btn" width="180px">
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-start btn-lg" data-toggle="modal" data-target="#set_criteria">
                Start
            </button>
        </div>
    </div>
    <!--main panel-->
    <!--applied filter panel-->
    <div class="panel panel-primary" style="display:<?= (empty($GData)) ? 'none' : 'block' ?>">
        <div class="panel-heading">Applied Filter</div>
        <div class="panel-body">
            <div>
                <div class="col-lg-6">
                    <div><b>Company</b></div>
                    <div><?php echo $company_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Region</b></div>
                    <div><?php echo $region_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Country</b></div>
                    <div><?php echo $country_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Group</b></div>
                    <div><?php echo $group_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Date</b></div>
                    <div><?php echo date('M,Y', strtotime($fromyear)) . '-' . date('M,Y', strtotime($toyear)); ?></div>
                </div>
            </div>
        </div>
    </div>
    <!--applied filter panel-->
    <!--graph panel-->
    <div class="panel panel-default " style="display:<?= (empty($GData)) ? 'none' : 'block' ?>">
        <div class="panel-heading panel-heading-custom"><?= $group_name; ?> Graph

            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-bar-chart"></i>
                    </button>
                    <ul class="dropdown-menu" style=" min-width:0px !important;">
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/bar-chart.png') ?>" id="bar">
                        </li>
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/pie-chart.png') ?>" id="pie">
                        </li>
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/line-chart.png') ?>" id="line">
                        </li>
                      <?php if($GData_Venn) { ?>
                        <li><img class="btn btn-xs" width="47" height="35" src="<?php echo $this->basePath('img/venn.jpg') ?>" id="diversity_venn">
                        </li>
                        <?php } ?>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#set_criteria">Filters
                    </button>
                </div>

            </div>
        </div>
        <div class="panel-body" id="canvas_body">
            <canvas id="PeopleChart" class="col-sm-12 col-md-12 pull-right" style="width:100%;"></canvas>
        </div>
    </div>
    <!--graph panel-->
    <?php
    if ($GData) {
        $total_people_emission = null;
        $avg_people_emission = null;
        $year_count = null;
        $year_arr = array();
        $starting_year = null;
        $ending_year = null;
        $people = array();
        $mons = array(1 => "Jan", 2 => "Feb", 3 => "Mar", 4 => "Apr", 5 => "May", 6 => "Jun", 7 => "Jul", 8 => "Aug", 9 => "Sep", 10 => "Oct", 11 => "Nov", 12 => "Dec");
        $i = 0;
        $j = 1;
        $indicator_status = null;
        $first_indicator_name = '';
        $people1 = array();
        $len = count($GData);
        foreach ($GData as $GData1):
            if ($GData1['indicator_status'] == 'noindicator') {
                $indicator_status = $GData1['indicator_status'];
            }
            if ($i == 0) {
                // first
                $starting_year = "'" . ltrim(date("Y", strtotime($GData1['date'])), '0') . "'";
            } else if ($i == $len - 1) {
                // last
                $ending_year = "'" . ltrim(date("Y", strtotime($GData1['date'])), '0') . "'";
            }
            // …

            $label = $GData1['label'];
            $month = ltrim(date("m", strtotime($GData1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
            // if different type

            if ($i == 0) {
                $people[] = $GData1['value'];
                $people_str = implode(',', $people);
                $first_indicator_name = $GData1['indicator_name'];

            } else if ($GData[$i - 1]['type'] == $GData[$i]['type']) {

                if ($j > 1) {
                    ${"people" . $j}[] = $GData1['value'];
                    ${"people_str" . $j} = implode(',', ${"people" . $j});

                } else {
                    $people[] = $GData1['value'];
                    $people_str = implode(',', $people);
                }

            } else if ($GData[$i - 1]['type'] != $GData[$i]['type']) {
                $j++;
                ${"people" . $j}[] = $GData1['value'];
                ${"people_str" . $j} = implode(',', ${"people" . $j});
                ${'indicator_name' . $j} = rtrim($GData1['indicator_name']);
            }

            $i++;
        endforeach;
        $year_count = count($year_arr);
        //$people= array_sum($people);
        $year = implode(',', $year_arr);

        $year_f = current($year_arr);
        $year_l = end($year_arr);

        $people = implode(',', $people);
        $people1 = implode(',', $people1);
        if ($ending_year == '' || empty($ending_year)) {
            $ending_year = $starting_year;
        }
    }
    ?>

    <script>
        $(document).ready(function () {
            var ctx = document.getElementById("PeopleChart");
            var backgroundColor = ['#2F93D1','#F15D61','#5BC3B8','#0D3B58','#E7E7E7','#FF9800','#FFC107','#4CAF50','#00BCD4','#CDDC39']
            var labels = [
                <?php
                $people_exp = explode(',', $people_str);
                if($indicator_status == 'noindicator'){
                for ($c = 2; $c <= $j; $c++) {
                    $people_exp1 = explode(',', ${"people_str" . $c});
                }
                //count($people_exp);
                for ($cs = 0; $cs < count($people_exp); $cs++) {
                    ${"people_sum" . $cs} = $people_exp[$cs] + $people_exp1[$cs];
                    $people_sum_arr[] = ${"people_sum" . $cs};
                    $people_sum_str = implode(',', $people_sum_arr);
                }
                ?>
                '<?php echo rtrim($label); ?>',
                <?php
                //$people_sum = array_sum($people_exp) + array_sum($people_exp1);
                }else{ ?>

                '<?php echo rtrim($first_indicator_name); ?>',

                <?php  }
                for($c = 2;$c <= $j;$c++){

                $indicator_name = ${'indicator_name' . $c};
                if($indicator_status != 'noindicator'){ ?>
                '<?php echo rtrim($indicator_name); ?>',
                <?php
                }
                }
                ?>
            ];
            var data = {

                labels: [<?php echo $year; ?>],
                datasets: [
                    <?php
                    $people_exp = explode(',', $people_str);
                    if($indicator_status == 'noindicator'){
                    for ($c = 2; $c <= $j; $c++) {
                        $people_exp1 = explode(',', ${"people_str" . $c});
                    }
                    //count($people_exp);
                    for ($cs = 0; $cs < count($people_exp); $cs++) {
                        ${"people_sum" . $cs} = $people_exp[$cs] + $people_exp1[$cs];
                        $people_sum_arr[] = ${"people_sum" . $cs};
                        $people_sum_str = implode(',', $people_sum_arr);
                    }
                    ?>
                    {
                        fill: false,
                        label: '<?php echo rtrim($label); ?>',
                        data: [<?php
                            $total_people_emission = array_sum($people_sum_arr);
                            echo $people_sum_str; ?>],
                        backgroundColor: "#CDDC39",
                        borderColor: "#CDDC39"
                    },
                    <?php
                    //$people_sum = array_sum($people_exp) + array_sum($people_exp1);
                    }else{ ?>
                    {
                        fill: false,
                        label: '<?php echo rtrim($first_indicator_name); ?>',
                        data: [<?php
                            $total_people_emission = array_sum($people_exp);
                            echo $people_str; ?>],
                        backgroundColor: "#3396D2",
                        borderColor: "rgba(75,192,192,1)"
                    }
                    <?php  }
                    for($c = 2;$c <= $j;$c++){

                    $indicator_name = ${'indicator_name' . $c};
                    if($indicator_status != 'noindicator'){ ?>
                    , {
                        fill: false,
                        label: '<?php echo rtrim($indicator_name); ?>',
                        data: [<?php
                            $total_people_emission += ${"people_str" . $c} + ${"people_str" . $c};
                            echo ${"people_str" . $c}; ?>],
                        backgroundColor:backgroundColor[<?=$c;?>],
                        borderColor: backgroundColor[<?=$c;?>]
                    }
                    <?php
                    }
                    }
                    ?>

                ]
            };
            var data_pie = {
                labels: labels,
                datasets: [
                    {
                        backgroundColor:backgroundColor,
                        hoverBackgroundColor: backgroundColor,
                        data: [
                            <?php
                            $people_exp = explode(',', $people_str);
                            if($indicator_status == 'noindicator'){
                            for ($c = 2; $c <= $j; $c++) {
                                $people_exp1 = explode(',', ${"people_str" . $c});
                            }
                            //count($people_exp);
                            for ($cs = 0; $cs < count($people_exp); $cs++) {
                                ${"people_sum" . $cs} = $people_exp[$cs] + $people_exp1[$cs];
                                $people_sum_arr[] = ${"people_sum" . $cs};
                                $people_sum_str = implode(',', $people_sum_arr);
                            }
                            ?>
                            <?php
                            $total_people_emission = array_sum($people_sum_arr);
                            echo $people_sum_str; ?>,

                            <?php
                            //$people_sum = array_sum($people_exp) + array_sum($people_exp1);
                            }else{ ?>
                            <?php
                            $total_people_emission = array_sum($people_exp);
                            echo $people_str; ?>,

                            <?php  }
                            for($c = 2;$c <= $j;$c++){

                            $indicator_name = ${'indicator_name' . $c};
                            if($indicator_status != 'noindicator'){ ?>

                            <?php
                            $total_people_emission += ${"people_str" . $c} + ${"people_str" . $c};
                            echo ${"people_str" . $c}; ?>,
                            <?php
                            }
                            }
                            ?>
                        ]

                    }
                ]
            };
            var canvas = document.getElementById('PeopleChart');
            var context = canvas.getContext('2d');
            $("#pie").click(function () {
                $('#venn').hide();
                $(".chartjs-hidden-iframe").remove();
                $("#PeopleChart").remove();
                $('<canvas>').attr({
                    id: 'PeopleChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("PeopleChart");
                var ctx = canvas.getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data_pie
                })
            });
            $("#bar").click(function () {
                $('#venn').hide();
                $(".chartjs-hidden-iframe").remove();
                $("#PeopleChart").remove();
                $('<canvas>').attr({
                    id: 'PeopleChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("PeopleChart");
                var ctx = canvas.getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            });
            $("#line").click(function () {
                $('#venn').hide();
                $(".chartjs-hidden-iframe").remove();
                $("#PeopleChart").remove();
                $('<canvas>').attr({
                    id: 'PeopleChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("PeopleChart");
                var ctx = canvas.getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: data

                })
            });
            $("#diversity_venn").click(function () {
                $('#venn').show();
                $(".chartjs-hidden-iframe").remove();
                $("#PeopleChart").remove();
                $('#venn').css({
                    width: '100%',
                    height: '100%'
                }) .prependTo('#canvas_body');

            });
            new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
        });
    </script>

    <?php
   if($GData_Venn) {
     $venn_sets =  json_encode($GData_Venn);
       ?>

       <div id="venn" class="center" style="display: none;"></div>
       <script>
           var sets =
               <?php echo $venn_sets ?>
           ;
//                   var sets = [
//                       {"sets": [0], "label": "Pakistani", "size": 10},
//                       {"sets": [1], "label": "manager", "size": 5},
//                       {"sets": [2], "label": "female", "size": 5},
//                       {"sets": [0, 1], "size": 5},
//                       {"sets": [1, 2], "size":5}
//                   ];
           var colours  = ['#2F93D1','#F15D61','#5BC3B8','#0D3B58','#E7E7E7','#FF9800','#FFC107','#4CAF50','#00BCD4','#CDDC39']

           var chart = venn.VennDiagram()
               .width(600)
               .height(600);

           var div = d3.select("#venn")
           div.datum(sets).call(chart);

           var tooltip = d3.select("body").append("div")
               .attr("class", "venntooltip");

           div.selectAll("path")
               .style("fill", function(d,i) { return colours[i]})
               .style("stroke-opacity", 0)
               .style("stroke", "#fff")
               .style("stroke-width", 0)

           div.selectAll("g")
               .on("mouseover", function(d, i) {
                   // sort all the areas relative to the current item
                   venn.sortAreas(div, d);

                   // Display a tooltip with the current size
                   tooltip.transition().duration(400).style("opacity", .9);
                   console.log(d.size);
                   tooltip.text(d.size);

                   // highlight the current path
                   var selection = d3.select(this).transition("tooltip").duration(400);
                   selection.select("path")
                       .style("stroke-width", 3)
                       .style("fill-opacity", d.sets.length == 1 ? .4 : .1)
                       .style("stroke-opacity", 1);
               })

               .on("mousemove", function() {
                   tooltip.style("left", (d3.event.pageX) + "px")
                       .style("top", (d3.event.pageY - 28) + "px");
               })

               .on("mouseout", function(d, i) {
                   tooltip.transition().duration(400).style("opacity", 0);
                   var selection = d3.select(this).transition("tooltip").duration(400);
                   selection.select("path")
                       .style("stroke-width", 0)
                       .style("fill-opacity", d.sets.length == 1 ? .25 : .0)
                       .style("stroke-opacity", 0);
               });
       </script>
  <?php  }
    ?>

    <!--total people  emission-->
    <!--    <div class="row" style="display:--><? //= (empty($GData)) ? 'none' : 'block' ?><!--">-->
    <!--   <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading  panel-heading-custom">Total <? /*= $group_name; */ ?></div>
                <div class="panel-body panel-heading-custom center">
                    <div class="content">
                        <?php
    /*                        if ($GData1) {
                                echo $total_people_emission;
                            }
                            */ ?>
                    </div>
                </div>
            </div>
        </div>-->

    <!--total people  emission-->
    <!--avg people  emission-->

    <!--    <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading  panel-heading-custom1">Average <? /*= $group_name; */ ?></div>
                <div class="panel-body panel-heading-custom1 center">
                    <div class="content">
                        <?php
    /*                        if ($GData1) {
                                echo $avg_people_emission = ($total_people_emission) / ($year_count);
                            }
                            */ ?>
                    </div>
                </div>
            </div>
        </div>-->
    <!--    </div>-->
    <!--avg people  emission-->

</div>