<p>
    <?php
    $form = $this -> form;
    $form->setAttribute('action', $this->url('request', array('action' => 'add')));
    $form->prepare();

    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('category'));
    echo $this->formHidden($form->get('area'));
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();
    ?>
</p>

<a class="btn-8 btn8 btn-8f pull-right" href="<?php echo $this->url('national', array('action'=>'add'));?>">Add Record</a>
<?php

$title = 'Diversity';
$this->headTitle($title);
?>
<!--<h1><?php /*echo $this->escapeHtml($title); */?></h1>-->

<h2><?php echo $this->escapeHtml($title); ?></h2>

<!--    <div class="table-responsive">-->
<section>
    <table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
        <thead class="head_event">
        <tr>
            <th style="width:10%">Company</th>
            <th style="width:15%">Region</th>
            <th style="width:15%">Country</th>
            <!--<th style="width:25%" class="hidden-phone">Type</th>-->
            <th style="width:15%" class="hidden-phone">Value</th>
            <th style="width:10%" class="hidden-phone">Submitted Date</th>
            <th style="width:5%" class="hidden-phone">Frequency</th>
            <th style="width:10%" class="hidden-phone">Next Date</th>
            <th style="width:10%">Action</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($this->paginator);
        if($count > 0) {
            foreach ($paginator as $national) :
                ?>
                <tr>
                    <?php if($national['status']== _P_) { ?>
                        <td><a href="<?php echo $this->url('national', array('action' => 'edit', 'id' => $national['national_id']));?>"><?php echo $national['company_name']; ?></a></td>
                    <?php } else{ ?>
                        <td><?php echo $national['company_name']; ?></td>
                    <?php } ?>
                    <td><?php echo $national['region_description']; ?></td>
                    <td><?php echo $national['country_name']; ?></td>
                  <!--  <td><?php /*echo $national['name']; */?></td>-->
                    <td><?php echo number_format($national['value']); ?></td>
                    <td><?php echo date('d-m-y',strtotime($national['create_date'])) ;?></td>
                    <td><?php echo $national['frequency_name'] ;?></td>
                    <td><?php echo date('d-m-y',strtotime($national['expiry_date'])) ;?></td>
                    <?php if($national['status']== _P_) { ?>
                        <td>
                            <a class='btn btn-xs btn-primary'  href="<?php echo $this->url('national', array('action' => 'delete', 'id' =>$national['national_id'])); ?>">Delete</a><span class="hide"><?=_P_?></span>
                        </td>
                    <?php } if($national['status'] == _A_) { ?>
                        <td><span class="status_a"></span><span class="hide"><?=_A_?></span></td>
                    <?php } if($national['status']== _W_) { ?>
                        <td> <span class="status_w" > </span></td>
                    <?php } ?>

                </tr>
                <div class="clearfix"></div>
                <?php
                $c++;
            endforeach;
        } ?>

        </tbody>
    </table>
</section>
<div class="clearfix"></div>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'national'
    )
);
?>