<?php
extract($_REQUEST);
//use PHPExcel;
//$excel = new PHPExcel();
// This is the file path to be uploaded.

$s_no = array();
$employee_id = array();
$name = array();
$travel_from = array();
$travel_to = array();
$travel_date = array();
$total_distance = '';
//$date = array();
/*diversity file upload*/
$dob = array();
$nationality = array();
$gender = array();
$designation = array();
/*event file upload*/
$date = array();
?>
<?php
$title = 'Waste Management';
$this->headTitle($title);
$form = $this->form;
$form->setAttribute('action', $this->url('wmanagement', array('action' => 'add')));
$form->prepare();
?>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<?php
echo '<div id="file_upload_div" style="display: none;">';
echo '<div class="clearfix"></div>';
echo $this->form()->openTag($form);
echo '<div class="form-group"><label class="control-label col-sm-2 ">Data Upload</label><div class="col-sm-2 col-md-2 col-lg-3 label-space">' . $this->formRow($form->get('fileupload')) . '</div></div>';
/*echo $this->formRow($form->get('fileupload'));*/
echo '<div id="spinner" style="display:none;"><i  class="fa fa-spinner" ></i></div>';
echo $this->formSubmit($form->get('upload'));
echo $this->form()->closeTag();
echo '</div>';
/*echo $this->formRow($form->get('no_of_scholarship'));*/
?>
<section>
    <?php

    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('wmanagement_id'));
    echo $this->formHidden($form->get('bulk_type'));
    //For Travel
    echo $this->formHidden($form->get('employee_id'));
    echo $this->formHidden($form->get('employee_name'));
    echo $this->formHidden($form->get('travel_from'));
    echo $this->formHidden($form->get('travel_to'));
    echo $this->formHidden($form->get('travel_distance'));
    echo $this->formHidden($form->get('travel_date'));
    //For Travel
    //For National/Diversity
    echo $this->formHidden($form->get('dob'));
    echo $this->formHidden($form->get('nationality'));
    echo $this->formHidden($form->get('gender'));
    echo $this->formHidden($form->get('designation'));
    echo $this->formHidden($form->get('file_name'));
    echo $this->formHidden($form->get('org_name'));
    echo $this->formHidden($form->get('indicator_type'));
    echo $this->formHidden($form->get('col'));
    echo $this->formHidden($form->get('col1'));
    echo $this->formHidden($form->get('col2'));
    echo $this->formHidden($form->get('col3'));
    echo $this->formHidden($form->get('col4'));
    echo $this->formHidden($form->get('col5'));
    echo $this->formHidden($form->get('col6'));
    echo $this->formHidden($form->get('col7'));
    echo $this->formHidden($form->get('col8'));
    echo $this->formHidden($form->get('col8'));
    echo $this->formHidden($form->get('col9'));
    echo $this->formHidden($form->get('col10'));
    //For National/Diversity
    //For Event
    echo $this->formHidden($form->get('date'));
    //For Event

    echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('company_id')) . '</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('region_id')) . '</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('country_id')) . '</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">' . $this->formLabel($form->get("create_date")) . '</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->forminput($form->get('create_date')) . '</div></div>';
    echo $this->formHidden($form->get('month'));
    echo $this->formHidden($form->get('year'));
    echo $this->formElementerrors($form->get('month'));
    echo $this->formElementerrors($form->get('year'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('type')) . '</div></div>';
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->forminput($form->get('frequency_name')) . '</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('frequency_ids')) . '</div></div></div>';
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->forminput($form->get('value')) . '</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo $this->formHidden($form->get('category'));
    echo $this->formHidden($form->get('area'));
    echo '<div class="clearfix"></div>';
    echo '<div id="file_upload_div_attachment" style="display: none;">';
    echo '<div class="form-group"><label class="control-label col-sm-2 ">File Upload</label><div class="col-sm-3 col-md-3 col-lg-3 label-space">' . $this->formRow($form->get('fileupload_attachment')) . '</div></div>';
    echo '</div>';
    echo '<div class="clearfix"></div>';
    ?>
</section>
<div class="alert alert-warning" id="excel_error" style="display: none;"></div>
<section id="file_upload_section" style="/*display: none;*/">

</section>
<?php
echo '<div id="extra">';

echo '</div>';
echo $this->formElement($form->get('cancel'));
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';

echo $this->form()->closeTag();
?>
<script>
    $(document).ready(function () {
        $("[name='type']").val('');
        var form = $('#wmanagement');
        form.submit(function (e) {
            e.preventDefault();

            console.log('waiting');
            var formData = new FormData($(this)[0]);
            var file = $('input[name ="fileupload"]').val();
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });
            if ($("[name='type']").find(':selected').attr('data-uploading') == 1) {
                var typeid = $("[name='type']").find(':selected').val();
                if ($("[name='type']").find(':selected').attr('data-bulk-type') == 1) {
                    $.ajax({
                        type: 'post',
                        url: "<?php echo $this->basePath('wmanagement/uploadevent?id=');?>" + typeid,
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section table tbody').html(response);

                        }
                    });
                } else if ($("[name='type']").find(':selected').attr('data-bulk-type') == 2) {
                    $.ajax({
                        type: 'post',
                        url: "<?php echo $this->basePath('wmanagement/uploaddiversity?id=');?>" + typeid,
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section table tbody').html(response);

                        }
                    });
                } else if ($("[name='type']").find(':selected').attr('data-bulk-type') == 3) {
                    $.ajax({
                        type: 'post',
                        url: "<?php echo $this->basePath('wmanagement/uploadtransport?id=');?>" + typeid,
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section table tbody').html(response);

                        }
                    });
                }
            }
            return false;
        });
    });
</script>
<script>
    $(document).ready(function () {
        var totalItr = <?php echo _MANUAL_FIELD_EXTRA_;?>;
        var totalbulkItr = <?php echo _BULK_FIELD_EXTRA_;?>;
        var itr = 1;
        var extra = $('#extra');

        $("#file_upload_div").hide();
        $("#file_upload_section").hide();


        $("[name='type']").bind('change load', function () {
            resetFields();
            if ($(this).find(':selected').attr('data-uploading') == 1) {
                $('input[name^=indicator_type]').val('upload');
                $("#file_upload_div_attachment").hide();
                $("input[name^=fileupload_attachment]").attr('required', false);
                $('input[name^=bulk_type]').val($(this).find(':selected').attr('data-bulk-type'));
                if ($(this).find(':selected').attr('data-bulk-type') == 1) {
                    var typeid = $("[name='type']").find(':selected').val();
                    $("#file_upload_section").hide();
                    $.ajax({
                        type: 'get',
                        url: "<?php echo $this->basePath('wmanagement/uploadevent?get=header&id=');?>" + typeid,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section').html(response);
                        }
                    });
                    $("#file_upload_div").show();
                    $("#file_upload_section").show();
                } else if ($(this).find(':selected').attr('data-bulk-type') == 2) {
                    var typeid = $("[name='type']").find(':selected').val();
                    $.ajax({
                        type: 'get',
                        url: "<?php echo $this->basePath('wmanagement/uploaddiversity?get=header&id=');?>" + typeid,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section').html(response);

                        }
                    });
                    $("#file_upload_div").show();
                    $("#file_upload_section").show();
                } else if ($(this).find(':selected').attr('data-bulk-type') == 3) {
                    var typeid = $("[name='type']").find(':selected').val();
                    $.ajax({
                        type: 'get',
                        url: "<?php echo $this->basePath('wmanagement/uploadtransport?get=header&id=');?>" + typeid,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: "html",
                        success: function (response) {
                            setTimeout($.unblockUI, 2000);
                            $('#file_upload_section').html(response);

                        }
                    });
                    $("#file_upload_section").show();
                    $("#file_upload_div").show();
                    /*var blukHeaderTable = $("#file_upload_section table:first tr");
                     var blukHeaderTableLength = blukHeaderTable.length;
                     1
                     var c = 1;
                     var label;
                     var a = 1;
                     for (a; a <= totalbulkItr; a++) {
                     label = $("[name='type']").find(':selected').attr('data-is_col' + a);
                     if (label != '') {
                     $(blukHeaderTable).append('<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 48px;" aria-label="'+label+': activate to sort column ascending">'+label+'</th>');
                     }
                     }*/
                } else {
                    $("#file_upload_div").hide();
                    $("#file_upload_section").hide();
                }
                extra.html('');
            } else {
                $("#file_upload_div").hide();
                $("#file_upload_section").hide();
                $("#file_upload_div_attachment").hide();
                $("input[name^=fileupload_attachment]").attr('required', false);
                $('input[name^=indicator_type]').val('');
                $('input[name^=bulk_type]').val('');
                addExtraFields(1, totalItr, extra);
            }
            if ($(this).find(':selected').attr('data-attachment') == 1) {
                $("#file_upload_div").hide();
                $("#file_upload_section").hide();
                $("#file_upload_div_attachment").show();
                $("input[name^=fileupload_attachment]").attr('required', true);
                $('input[name^=indicator_type]').val('attachment');
                addExtraFields(1, totalItr, extra);
            }


        });
        function addExtraFields(itr, totalItr, extra) {
            extra.html('');
            extra.show();
            //alert(itr + '|' + totalItr);
            var label;
            for (itr; itr <= totalItr; itr++) {
                label = $("[name='type']").find(':selected').attr('data-is_col' + itr);
                var extraid = 'col' + itr;
                if (label != '') {
                    extra.append('<div class="form-group"><label class="control-label col-sm-2 ">' + label + '</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"><input name="col[]" class="form-control" required="required" id="col[]" type="text" value=""></div></div><div class="clearfix"></div>');
                }
            }
        }

        function resetFields() {
            $('input[name="wmanagement_id"]').val('');
            $('input[name="bulk_type"]').val('');
            $('input[name="employee_id"]').val('');
            $('input[name="employee_name"]').val('');
            $('input[name="travel_from"]').val('');
            $('input[name="travel_to"]').val('');
            $('input[name="travel_distance"]').val('');
            $('input[name="travel_date"]').val('');
            $('input[name="dob"]').val('');
            $('input[name="nationality"]').val('');
            $('input[name="gender"]').val('');
            $('input[name="designation"]').val('');
            $('input[name="file_name"]').val('');
            $('input[name="org_name"]').val('');
            $('input[name="indicator_type"]').val('');
            $('input[name="col"]').val('');
            $('input[name="date"]').val('');
            $('input[name="value"]').val('');

            for (itr = 1; itr <= <?php echo _BULK_FIELD_EXTRA_; ?>; itr++) {
                $('input[name="col'+itr+'"]').val('');
            }
        }

        $("#create_date").on("dp.change", function (e) {
            //alert(e.date);
            var d = new Date(e.date);
            var n = d.getMonth();
            $("#month").val(n + 1);
            var y = d.getFullYear();
            $("#year").val(y);
        });

        $('input[name="fileupload_attachment"]').change(function () {
            var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
            $("input[name^=file_name]").val(filename);
        });
        $(document).on('change', 'input[name="col[]"]', function (e) {
            var extracolumn = $('input[name="col[]"]');
            var str_column;
            var col = Array();
            $(extracolumn).each(function (i) {
                col[i] = $(this).val().replace(",", " ");
            });
            $('input[name="col"]').val(col);
        });

        $('input[name="value"]').keypress(function (key) {
            //input was 0-9
            if (key.charCode < 48 || key.charCode > 57) return false;
        });
    });
</script>