<!--// module/PhlyContact/view/contact/index.phtml-->
 <?php $this->headTitle()->prepend('Email'); ?>
 <section class="contact">
     <h2>Email</h2>

     <?php if ($this->error): ?>
         <p class="error">
                 There were one or more isues with your submission. Please correct them
                 as indicated below.
         </p>
         <?php endif ?>

     <?php
     $form = $this->form;

     $form->setAttribute('action', $this->url('email', array('action' => 'process')));
     $form->prepare();
 //$form->setAction($this->url('email/process'));
// $form->setMethod('post');
     echo $this->form()->openTag($form);
     echo '<div class="form-group"><label>To</label>'.$this->forminput($form->get('to')).'</div>';
     echo '<div class="form-group"><label>CC</label>'.$this->forminput($form->get('cc')).'</div>';
     echo '<div class="form-group"><label>Subject</label>'.$this->forminput($form->get('subject')).'</div>';
     echo '<div class="form-group"><label>Message</label>'.$this->formtextarea($form->get('message')).'</div>';
     echo '<div class="form-group">'.$this->formSubmit($form->get('submit')).'</div>';
     echo $this->form()->closeTag();
 ?>
</section>