 <?php
 // module/PhlyContact/view/contact/thank-you.phtml
  $this->headTitle()->prepend('Email');
  $this->headTitle()->prepend('Thank You!');
  ?>
 <section class="contact">
     <h2>Status</h2>
     <p>Your message has been sent successfully!</p>
     <input type="button" onclick="back" id="backLink" class="btn btn-primary " value="Back">
     <div class="clearfix"></div>
 </section>


<script>
    $("#backLink").click(function(event) {
        event.preventDefault();
        window.history.go(-2);
    });
 </script>
