<?php
$title = 'Procurement';
$this->headTitle($title);
?>
<div class="col-sm-12 col-md-12 col-lg-12 heading_back">
    <h2><?php echo $this->escapeHtml($title); ?></h2>
</div>
<section>
    <?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('procurement', array('action' => 'edit', 'id' => $this->id,)));
    $form->prepare();

    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('procurement_id'));
    echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('company_id')) . '</div></div>';
    /*echo $this->formRow($form->get('company_id'));*/
    echo $this->formElementerrors($form->get('company_id'));
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('region_id')) . '</div></div>';
    echo $this->formElementerrors($form->get('region_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('country_id')) . '</div></div>';
    echo $this->formElementerrors($form->get('country_id'));
    /*echo $this->formRow($form->get('company_id'));*/
    echo '<div class="clearfix"></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">' . $this->formLabel($form->get("create_date")) . '</label>';
    echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->forminput($form->get('create_date')) . '</div></div>';
    echo $this->formElementerrors($form->get('create_date'));
    echo '<div class="clearfix"></div>';
    /*echo $this->formRow($form->get('frequency_id'));*/
    //echo '<div class="form-group"><label class="control-label col-sm-2">Kg Paper Purchased</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('kg_paper')).'</div></div>';
    echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> ' . $this->formselect($form->get('type')) . '</div>';
    /*echo $this->formRow($form->get('no_of_scholarship'));*/
    echo $this->formElementerrors($form->get('type'));
    echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->forminput($form->get('frequency_name')) . '</div></div>';
    echo $this->formHidden($form->get('frequency_id'));
    echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('frequency_ids')) . '</div></div></div>';
    echo '<div class="clearfix"></div>';

    echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->forminput($form->get('value')) . '</div></div>';
    /*echo $this->formRow($form->get('edu_ex_students'));*/
    echo '<div class="clearfix"></div>';
    echo $this->formSubmit($form->get('submit'));
    echo $this->formElement($form->get('cancel'));
    echo '<div class="clearfix"></div>';

    echo $this->form()->closeTag();
    ?>
</section>
<script>
    $("#create_date").attr('readonly', true);

    $("#company_form_id").children('option:not(:selected)').attr('disabled', true);
    var companyid = $("#company_form_id").val();
    $("#country_form_id option").each(function () {
        if ($(this).attr('data-company-id') == companyid) {
            if ($(this).attr('selected') == 'selected') {

            } else {
                $(this).attr('disabled', true);
            }
        } else {
            $(this).attr('disabled', true);
        }
    });
    $("#region_form_id option").each(function () {
        if ($(this).attr('data-company-id') == companyid) {
            if ($(this).attr('selected') == 'selected') {

            } else {
                $(this).attr('disabled', true);
            }
        } else {
            $(this).attr('disabled', true);
        }
    });
    //$("#country_form_id").children('option:not(:selected)').attr('disabled', true);
    //$("#region_form_id").children('option:not(:selected)').attr('disabled', true);

    $("#indicator_form_id").children('option:not(:selected)').attr('disabled', true);
</script>