<?php
$title = 'Indicator';
$this->headTitle($title);
?>

<h2><?php echo $this->escapeHtml($title); ?></h2>


<?php
$form = $this->form;
$indicator = $this->indicator;
$form->setAttribute('action', $this->url('indicator', array('action' => 'add')));
$form->prepare();


echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));

echo '<div class="form-group"><label class="control-label col-sm-2">Indicator Name</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->forminput($form->get('name')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Section</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('menu_id')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Group</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('sub_menu_id')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('company_id')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('frequency_id')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Measurement Unit</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('measuring_unit_id')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Carbon Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->forminput($form->get('measuring_unit_value')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<fieldset>';
echo '<legend>Notification:</legend>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Remind Before</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->forminput($form->get('before_remainder')) . '</div><div class="col-sm-2 col-md-2 col-lg-2 label-space"></div>
<label class="control-label col-sm-2">Maximum Number Of Reminder</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->forminput($form->get('max_remainder')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '</fieldset>';
echo '<fieldset>';
echo '<legend></legend>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><div class="col-sm-12 col-md-12 col-lg-12 label-space"> ' . $this->formelement($form->get('role')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div id="bulk_option">';
echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formelement($form->get('bulk_type')) . '</div>';
echo '<div class="control-label col-sm-4" id="sample"><label class="control-label col-sm-2">Sample sheet</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"></div></div></div>';
echo '<div class="clearfix"></div>';
echo '</div>';
echo '</fieldset>';
echo '<fieldset>';
echo '<legend>Add Additional Columns:</legend>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><a class="btn8 btn-8 btn-8f icon-btn btn-success" id="addmore_bulk" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a></div>';
echo '<div class="clearfix"></div>';
echo '<div id="extra_bulk"></div>';
echo '</fieldset>';
echo '<div class="form-group"><label class="control-label col-sm-2">Status</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space">  <div class="onoffswitch">' . $this->formElement($form->get('is_active')) . '<label class="onoffswitch-label" for="myonoffswitch"></label></div></div></div>';
echo '<div class="clearfix"></div>';
/*echo $this->formRow($form->get('frequency_id'));*/

//echo $this->formHidden($form->get('category'));
//echo $this->formHidden($form->get('area'));
echo '<div class="clearfix"></div>';

echo '<div class="clearfix"></div>';

?>

<?php
echo $this->formElement($form->get('cancel'));
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';

echo $this->form()->closeTag();
?>
<script>
    $(document).ready(function () {
        var menu = $("#menu_id");
        var sub_menu = $("#sub_menu_id");
        var sub_menu_opt = $('#sub_menu_id option');
        var role = $('input[name="role"]');
        var bulk_option = $('#bulk_option');
        var bulk_type = $('select[name="bulk_type"]');
        var sample = $('#sample');


        bulk_option.hide();
        var maxField = <?php echo _MANUAL_FIELD_EXTRA_; ?>;


        bulk_type.on('change', function () {
            if ($(this).val() == '1') {
                sample.children('div').empty();
                sample.children('div').append('<a href="/<?php echo _PROJECT_NAME_; ?>/public/indicator/download/0/EventAttendance.xlsx">Event Attendance</a>');
            } else if ($(this).val() == '2') {
                sample.children('div').empty();
                sample.children('div').append('<a href="/<?php echo _PROJECT_NAME_; ?>/public/indicator/download/0/Diversity.xlsx">Diversity</a>');
            } else if ($(this).val() == '3') {
                sample.children('div').empty();
                sample.children('div').append('<a href="/<?php echo _PROJECT_NAME_; ?>/public/indicator/download/0/Travel.xlsx">Transport</a>');
            } else {
                sample.hide();
            }
        });

        sub_menu.children('option').show();
        var ids = ($(menu).val());
        var filter_data = [];
        filter_data.push('[data-menu-id=' + ids + ']');
        var filter = new Array(filter_data);

        if ($(this).data('options') == undefined) {
            /*Taking an array of all options-2 and kind of embedding it on the select1*/
            $(this).data('options', sub_menu_opt.clone());
        }

        var id = $(this).val();
        var options_sub_menu = $(this).data('options').filter(filter.join(","));
        sub_menu.empty();
        sub_menu.append(options_sub_menu);

        menu.on('change', function () {
            sub_menu.children('option').show();
            var ids = ($(this).val());
            var filter_data = [];
            filter_data.push('[data-menu-id=' + ids + ']');
            var filter = new Array(filter_data);

            if ($(this).data('options') == undefined) {
                /*Taking an array of all options-2 and kind of embedding it on the select1*/
                $(this).data('options', sub_menu_opt.clone());
            }

            var id = $(this).val();
            var options_sub_menu = $(this).data('options').filter(filter.join(","));
            sub_menu.empty();
            sub_menu.append(options_sub_menu);
        });


        var x = $('#extra_bulk p').size() + 1;

        var addButton = $('#addmore_bulk'); //Add button selector
        var wrapper = $('#extra_bulk'); //Input field wrapper
        var fieldHTML = '<div class="form-group col-sm-2 col-md-2 col-lg-2 label-space"><input type="text" class="form-control" style="text-transform: uppercase;" maxlength="25" required="required" name="field_name[]" value=""/><a href="javascript:void(0);" class="remove_button" title="Remove field">Remove</a></div>'; //New input field html
        //var x = 1; //Initial field counter is 1
        role.on('change', function () {
            if ($(this).val() == '2') {
                bulk_option.show();
                maxField = <?php echo _BULK_FIELD_EXTRA_; ?>; //Input fields increment limitation
                $('#extra_bulk div').each(function(){
                    if (x < maxField) {
                        addButton.show();
                    }
                });
            } else {
                bulk_option.hide();
                maxField = <?php echo _MANUAL_FIELD_EXTRA_; ?>; //Input fields increment limitation
                $('#extra_bulk div').each(function(){
                    if (x < maxField+1) {
                        addButton.show();
                    }
                    if(x > maxField+1){
                        $(this).remove(); //Remove field html
                        x--; //Decrement field counter
                    }
                    if (x == maxField+1) {
                        addButton.hide();
                    }
                });
            }
        });
        $(addButton).click(function () { //Once add button is clicked
            if (x == maxField) {
                addButton.hide();
            } else {
                addButton.show();
            }
            if (x <= maxField) { //Check maximum number of input fields
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); // Add field html
            }
            return false;
        });
        $(wrapper).on('click', '.remove_button', function (e) { //Once remove button is clicked
            if (x != maxField) {
                addButton.show();
            }
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });



    });

    $(document).on('click', '#extra_bulk', function (e) {

        $('input[name="field_name[]"]').keypress(function (key) {
            //input was 0-9
            if ((key.charCode < 48 || key.charCode > 57) && (key.charCode < 65 || key.charCode > 90) && (key.charCode < 97 || key.charCode > 122) && (key.charCode < 95 || key.charCode > 95)) return false;
        });

    });
</script>