<?php


extract($_REQUEST);
set_include_path(get_include_path() . PATH_SEPARATOR . 'vendor/PHPExcel');
include 'PHPExcel/IOFactory.php';

//use PHPExcel;
//$excel = new PHPExcel();
// This is the file path to be uploaded.
$id = array();
$name = array();
$designation = array();
$date = array();
$oldfile_name = NULL;

if (isset($_POST["upload"]) && !empty($_POST["upload"])) {

    // $handle = fopen($_FILES["fileupload"]["tmp_name"], 'r');
    $file_name_tmp = $_FILES["fileupload"]['tmp_name'];
    $file_name = $_FILES["fileupload"]['name'];
    $temp = explode(".", $file_name);
    $newfilename = rand(1, 99999) . '.' . end($temp);
    $add = "$newfilename"; // the path with the file name where the file will be stored
    $upload = move_uploaded_file($file_name_tmp, $add);

    $inputFileName = $add;

    try {
        $objPHPExcel = PHPExcel_IOFactory::load($inputFileName);
    } catch (Exception $e) {
        die('Error loading file "' . pathinfo($inputFileName, PATHINFO_BASENAME) . '": ' . $e->getMessage());
    }
    $allDataInSheet = $objPHPExcel->getActiveSheet()->toArray(null, true, true, true);

    //$arrayCount = count($allDataInSheet);  // Here get total count of row in that Excel sheet
    //echo '<pre>', print_r($allDataInSheet, 1), '</pre>';

    foreach ($allDataInSheet as $key => $value) {
        foreach ($value as $key1 => $value1) {

            if ($key1 == 'A') {

                $id[] = $value1;
            }
            if ($key1 == 'B') {

                $name[] = $value1;
            }
            if ($key1 == 'C') {

                $designation[] = $value1;
            }
            if ($key1 == 'D') {

                $date[] = $value1;
            }
        }
    }
    echo "File Upload Successfully! Now Add it";  ?>

    <script>
    $(document).ready(function () {
        $('input[name^=file_name]').val('<?php echo $file_name; ?>');
        $('input[name^=org_name]').val('<?php echo $inputFileName; ?>');
    });
    </script>
    <?php } else{
    foreach($event as $events){
        $oldfile_name = $events ['file_name'] ;
}?>
    <script>
        $(document).ready(function () {
            $('input[name^=file_name]').val('<?php echo $oldfile_name; ?>');

        });
    </script>
<?php }

$id1= implode(',',$id);
$name1= implode(',',$name);
$designation1= implode(',',$designation);
$date1= implode(',',$date);


$title = 'Event Attendance';
$this->headTitle($title);

?>
<script>
    $(document).ready(function () {
        $('input[name^=emp_id]').val('<?php echo $id1;?>');
        $('input[name^=name]').val('<?php echo $name1;?>');
        $('input[name^=designation]').val('<?php echo $designation1;?>');
        $('input[name^=date]').val('<?php echo $date1;?>');

    });
</script>

    <h2><?php echo $this->escapeHtml($title); ?></h2>

<?php
$form = $this->form;
$event_id = $this->id;
$form->setAttribute('action', $this->url('event', array('action' => 'edit','id'=>$event_id)));
$form->prepare();


echo $this->form()->openTag($form);
$file =  $this->formRow($form->get('fileupload'));

echo '<div class="form-group"><label class="control-label col-sm-2 ">Data Upload</label><div class="col-sm-2 col-md-2 col-lg-3 label-space">'.$file.'</div></div>';
echo $this->formSubmit($form->get('upload'));
echo $this->form()->closeTag();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('event_id'));
echo $this->formHidden($form->get('name'));
echo $this->formHidden($form->get('designation'));
echo $this->formHidden($form->get('emp_id'));
echo $this->formHidden($form->get('date'));
echo $this->formHidden($form->get('file_name'));
echo $this->formHidden($form->get('org_name'));

//echo $oldfile_name;
echo '<div class="form-group"><label class="control-label col-sm-2">Last FileUploaded</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$oldfile_name.'</div></div>';
//echo '<label class="control-label col-sm-2">'.$oldfile_name.'</label>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Department</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('department_id')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_id')).'</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Description</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('event_description')).'</div></div>';
echo '<div class="clearfix"></div>';

?>


<h2>List</h2>
<section>
<div class="table-responsive scale">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">
        <tr>
            <th>Serial no</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <?php

        if (isset($_POST["upload"]) && !empty($_POST["upload"])) {

            $c = 1;

            foreach ($allDataInSheet as $key => $value) : ?>

                <tr id="record<?php echo $c; ?>">

                    <td class="id"><?php echo $c; ?></td>
                    <td class="name"><?php echo $this->escapeHtml($value['B']); ?></td>
                    <td class="design"><?php echo $this->escapeHtml($value['C']); ?></td>
                    <td class="date"><?php echo $this->escapeHtml($value['D']); ?></td>


                    <td>
                        <!--<a href="<?php /*echo $this->url('event',
                array('action' => 'edit', 'id' => $events->event_id)); */ ?>">Edit</a>-->



                        <input type="button"  id="delete<?php echo $c; ?>" class="btn btn-primary"value="Delete">
                        </form>
                    </td>
                </tr>
                <script>
                    $(document).ready(function () {

                        $('#delete<?php echo $c; ?>').click(function (e) {

                            e.preventDefault();
                            var confirm1 = confirm('Are you sure?');
                            if (confirm1) {
                                $('#record<?php echo $c; ?>').animate({'line-height':0},1000).hide(1);
                                $('#record<?php echo $c; ?>').remove();
                                var id = Array();
                                var name = Array();
                                var design = Array();
                                var date = Array();

                                $("table tr").each(function(i, v){
                                    id[i] = Array();
                                    name[i] = Array();
                                    design[i] = Array();
                                    date[i] = Array();
                                    $(this).children('.id').each(function(ii, vv){
                                        id[i][ii] = $(this).text();

                                    });
                                    $(this).children('.name').each(function(ii, vv){
                                        name[i][ii] = $(this).text();

                                    });
                                    $(this).children('.design').each(function(ii, vv){
                                        design[i][ii] = $(this).text();

                                    });
                                    $(this).children('.date').each(function(ii, vv){
                                        date[i][ii] = $(this).text();


                                    });
                                });
//                            console.log(id);
//                            console.log(name);
//                            console.log(design);
//                            console.log(date);

                                $('input[name^=emp_id]').val(id);
                                $('input[name^=name]').val(name);
                                $('input[name^=designation]').val(design);
                                $('input[name^=date]').val(date);
                                $('#record<?php echo $c; ?>').remove();

                            }
                        });

                    });

                </script>
                <?php
                $c++;

            endforeach;

        }
        else{

         $c = 1;

            foreach ($event_details as $event_details) : ?>

            <tr id="record<?php echo $c; ?>">

                <td class="id"><?php echo $c; ?></td>
                <td class="name"><?php echo $this->escapeHtml($event_details['employee_name']); ?></td>
                <td class="design"><?php echo $this->escapeHtml($event_details['event_atten_designation']); ?></td>
                <td class="date"><?php echo $this->escapeHtml(date("Y/m/d", strtotime($event_details['create_date']))); ?></td>
                <td>
                    <!--<a href="<?php /*echo $this->url('event',
                array('action' => 'edit', 'id' => $events->event_id)); */ ?>">Edit</a>-->
                    <input type="button"  id="delete<?php echo $c; ?>" class="btn btn-primary"value="Delete">
                    </form>
                </td>
            </tr>
            <script>
                $(document).ready(function () {

                    $('#delete<?php echo $c; ?>').click(function (e) {

                        e.preventDefault();
                        var confirm1 = confirm('Are you sure?');
                        if (confirm1) {
                            $('#record<?php echo $c; ?>').animate({'line-height':0},1000).hide(1);
                            $('#record<?php echo $c; ?>').remove();
                            var id = Array();
                            var name = Array();
                            var design = Array();
                            var date = Array();

                            $("table tr").each(function(i, v){
                                id[i] = Array();
                                name[i] = Array();
                                design[i] = Array();
                                date[i] = Array();
                                $(this).children('.id').each(function(ii, vv){
                                    id[i][ii] = $(this).text();

                                });
                                $(this).children('.name').each(function(ii, vv){
                                    name[i][ii] = $(this).text();

                                });
                                $(this).children('.design').each(function(ii, vv){
                                    design[i][ii] = $(this).text();

                                });
                                $(this).children('.date').each(function(ii, vv){
                                    date[i][ii] = $(this).text();


                                });
                            });
//                            console.log(id);
//                            console.log(name);
//                            console.log(design);
//                            console.log(date);

                            $('input[name^=emp_id]').val(id);
                            $('input[name^=name]').val(name);
                            $('input[name^=designation]').val(design);
                            $('input[name^=date]').val(date);
                            $('#record<?php echo $c; ?>').remove();

                        }

                    });

                });

            </script>
            <?php
            $c++;

        endforeach;
        }
        ?>
    </table>
</section>
    <?php
    echo $this->formElement($form->get('cancel'));
    echo $this->formSubmit($form->get('submit'));
    echo '<div class="clearfix"></div>';
    echo $this->form()->closeTag();
    ?>
</div>
