<a class="btn8 btn-8 btn-8f pull-right" href="<?php echo $this->url('indicator', array('action'=>'add'));?>">Add Indicator</a>

<?php
$title = 'Indicator';
$this->headTitle($title);
?>
<!--<h1><?php /*echo $this->escapeHtml($title); */?></h1>-->
<h2><?php echo $this->escapeHtml($title); ?></h2>
<div class="back-grey">
<!--    <div class="table-responsive">-->
<table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
    <thead class="head_event">
    <tr>
        <th style="width:15%">Indicator Name</th>
        <th style="width:15%" class="hidden-phone">Section</th>
        <th style="width:15%" class="hidden-phone">Group</th>
        <th style="width:10%" class="hidden-phone">Company</th>
        <th style="width:15%" class="hidden-phone">Frequency</th>
        <th style="width:15%" class="hidden-phone">Attachment</th>
        <th style="width:15%" class="hidden-phone">Uploading</th>
        <th style="width:10%">Action</th>
    </tr>
    </thead>
    <tbody>

    <?php
    $c= 1;
    $count= count($this->paginator);
    if($count > 0) {
    foreach ($paginator as $community) :

    ?>
    <tr>
<!--       --><?php //if($community['status']== _P_) { ?>
<!--	 <td><a href="--><?php //echo $this->url('event', array('action' => 'edit', 'id' => $community['event_id']));?><!--">--><?php //echo $community['company_name']; ?><!--</a></td>-->
<!--         --><?php // } else { ?>
<!--         <td>--><?php //echo $community['company_name']; ?><!--</td>-->
<!--         --><?php //} ?>
        <td><a href="<?php echo $this->url('indicator', array('action' => 'edit', 'id' =>$community['id'])); ?>"><?php echo $community['name']; ?></a></td>
        <td><?php echo $community['menu_label']; ?></td>
        <td><?php echo $community['sub_menu_label']; ?></td>
<!--        <td>--><?php //echo date('d-m-y',strtotime($community['create_date'])) ;?><!--</td>-->

        <td><?php echo $community['company_name'] ;?></td>
        <td><?php echo $community['frequency_name'] ;?></td>
        <td><?php echo $community['is_attachment']==1?'True':'False' ;?></td>
        <td><?php echo $community['is_uploading']==1?'True':'False' ;?></td>
        <td><?php echo $community['is_active']==1?'Active':'Block' ;?></td>



        <?php /*if($community['status']== _P_) { */?><!--
            <td><a onclick="return confirm('Are you sure?');" href="<?php /*echo $this->url('event', array('action' => 'edit', 'id' => $community['event_id']));*/?>"><span style="background-color:#eea236;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></a></td>

        <?php /*}  */?>
        <?php /*if($community['status']== _W_) { */?>
            <td><span style="background-color:#c12e2a;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>

        <?php /*} */?>
        <?php /*if($community['status']== _A_) { */?>
            <td><span style="background-color:#2ca02c;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>

        --><?php /*} */?>


        <div class="clearfix"></div>

        <?php
        $c++;
        endforeach;
        } ?>
        <!-- else { ?>
            <tr>
                <td colspan="9"> No Record Found</td>
            </tr> -->
        <?php /* } */   ?>
    </tbody>
</table>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'indicator',
        'child' => 'index'
    )
);
?>
</div>