
<?php

$title = 'Request Indicator';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action', $this->url('email', array('action' => 'process')));
$form->prepare();

echo $this->form()->openTag($form);

echo '<div class="form-group"><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formHidden($form->get('id')).'</div></div>';
echo '<div class="clearfix"></div>';

echo $this->formRow($form->get('title')->setValue($category));
echo '<div class="clearfix"></div>';

echo '<div class="form-group"><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formHidden($form->get('id')).'</div></div>';
echo $this->formRow($form->get('indicator')->setValue($area));

echo '<div class="clearfix"></div>';

//echo '<div class="form-group"><div class="col-sm-4 col-md-4 col-lg-4 label-space"> '.$this->formHidden($form->get('id')).'</div></div>';
echo '<div class="form-group"><label>Message</label>'.$this->formtextarea($form->get('description')).'</div>';

//echo $this->formRow($form->get('description'));
echo '<div class="clearfix"></div>';

echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
echo $this->form()->closeTag();