<a class="btn8 btn-8f btn-8 pull-right" href="<?php echo $this->url('country', array('action' => 'add')); ?>">Add
    Country</a>

<?php

$title = 'Country';
$this->headTitle($title);
?>

<h2><?php echo $this->escapeHtml($title); ?></h2>

<!--    <div class="table-responsive">-->
<section>
    <table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
        <thead class="head_event">

        <tr>
            <th style="width:15%">Country Name</th>
            <th style="width:15%">Region Name</th>
            <th style="width:25%" class="hidden-phone">Action</th>

        </tr>
        </thead>
        <tbody>

        <?php
        $c = 1;
        $count = count($this->paginator);
        if ($count > 0) {
            foreach ($paginator as $country) :
                ?>
                <tr>
                    <td><?php echo $country['country_name']; ?></td>
                    <td><?php echo $country['region_description']; ?></td>
                    <td>
                        <a class='btn btn-xs btn-primary'
                           href="<?php echo $this->url('country', array('action' => 'edit', 'id' => $country['id'])); ?>">Edit</a>
                    </td>

                </tr>
                <div class="clearfix"></div>
                <?php
                $c++;
            endforeach;
        } ?>

        </tbody>
    </table>
</section>
<div class="clearfix"></div>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'Sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'country',
        'child' => '/list'
    )
);
?>