<?php
$title = 'Sustainability Training/Workshops';
$this->headTitle($title);
$AttachedFile = '';
extract($_REQUEST);
$show = TRUE;
if(isset($_POST["submit"]) && !empty($_POST["submit"])) {

    // $handle = fopen($_FILES["fileupload"]["tmp_name"], 'r');
    $file_name_tmp = $_FILES["fileupload"]['tmp_name'];
    $file_name = $_FILES["fileupload"]['name'];
    $temp = explode(".", $file_name);
    $newfilename = $temp[0] . '.' . end($temp);
    $add = "$newfilename"; // the path with the file name where the file will be stored
    $upload = move_uploaded_file($file_name_tmp, $add);

    $AttachedFile = $add; ?>

        <script>
        $(document).ready(function () {
            $('input[name^=file_name]').val('<?php echo $AttachedFile; ?>');
        });
    </script>
    <?php
    echo "File Upload Successfully!";
    $show = FALSE;
}
?>


    <h2><?php echo $this->escapeHtml($title); ?></h2>

<p>
    <!-- <a href="<?php /*echo $this->url('event', array('action'=>'add'));*/?>">Add new event</a>-->
</p>
<section>
<?php
$form = $this->form;
$training = $this->training;
$form->setAttribute('action', $this->url('training', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
/*echo $this->formRow($form->get('company_id'));*/
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
/*echo $this->formRow($form->get('company_id'));*/
echo $this->formElementerrors($form->get('company_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
echo $this->formElementerrors($form->get('region_id'));
/*echo $this->formRow($form->get('company_id'));*/
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
echo $this->formElementerrors($form->get('country_id'));
/*echo $this->formRow($form->get('company_id'));*/
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
echo $this->formHidden($form->get('month'));
echo $this->formHidden($form->get('year'));
echo $this->formElementerrors($form->get('month'));
echo $this->formElementerrors($form->get('year'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
/*echo $this->formRow($form->get('no_of_scholarship'));*/
echo $this->formElementerrors($form->get('type'));
echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
echo $this->formHidden($form->get('frequency_id'));
echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
/*echo $this->formRow($form->get('edu_ex_students'));*/
echo $this->formHidden($form->get('category'));
echo $this->formHidden($form->get('area'));
echo '<div class="clearfix"></div>';

echo $this->formHidden($form->get('file_name'));

echo '<div class="form-group"><label class="control-label col-sm-2 ">File Upload</label><div class="col-sm-3 col-md-3 col-lg-3 label-space">'. $this->formRow($form->get('fileupload')).'</div></div>';

echo $this->formElement($form->get('cancel'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>

</section>
<script>
//$("#create_date").click(function(){
////console.log($("#create_date".val()));
//    var d = new Date($("#create_date".val()));
//    var n = d.getMonth();
//    $("#month").val(n);
//});
$("#create_date").on("dp.change", function(e) {
    //alert(e.date);
    var d = new Date(e.date);
    var n = d.getMonth();
   $("#month").val(n+1);
    var y = d.getFullYear();
    $("#year").val(y);
});
</script>
