
<?php echo $this->partial('partial/Gfilter.phtml');

/*print_r($GData);
foreach ($GData as $GData1):
   echo  $GData1['no_student'];
endforeach;*/
?>
    <div id="container"  class="col-sm-12 col-md-12 pull-right" style="<?php echo $indicator== 'T' ? 'display:block;':'display:none;';?> min-width: 310px; height: 400px; margin: 0 auto;width:100%"></div>
</div>

<script>
    $(document).ready(function () {
        $(function () {

            // Set up the chart
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: '# of Trainings Provided by Principle'
                },
                /* subtitle: {
                 text: 'Test options by dragging the sliders below'
                 },*/
                credits: {
                    enabled: false
                },

                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },

                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        },
                        showInLegend: true
                    }
                },




                series: [{
                    name: '# of Students',


                    data: [
                    <?php    foreach ($GData as $GData1):
                        echo '{name:"'.$GData1['type'].'", y:'.$GData1['no_student'].'},';
                      endforeach; ?>
                    ]

                }]

            });



        });


    });
</script>
