
<?php echo $this->partial('partial/Gfilter.phtml'); ?>
    <div id="container"  class="col-sm-12 col-md-12 pull-right" style="<?php echo $indicator== 'T1' ? 'display:block;':'display:none;';?> min-width: 310px; height: 400px; margin: 0 auto;width:100%"></div>
</div>
<?php

$year_arr=  array();
//$quarter=  array();
$student= array();
//$numItems = count($paginator);
//$i = 0;

/*foreach ($GData as $GData1):

    $year[]= $GData1['YEAR'];
    $quarter[]  = '"'.'Quarter'.$GData1['QUARTER'].'"';
     $student[]= $GData1['no_student'];
endforeach;*/
$mons = array(1 => "Jan", 2 => "Feb", 3 => "Mar", 4 => "Apr", 5 => "May", 6 => "Jun", 7 => "Jul", 8 => "Aug", 9 => "Sep", 10 => "Oct", 11 => "Nov", 12 => "Dec");



foreach ($GData as $GData1):
    // if(!empty($GData1['no_student_scholar'])) {
    //  if(date('Y', strtotime($community['create_date'])) == )
  //  $year[] =   $GData1['MONTH'];
    $month = $GData1['MONTH'];
    $month_name = $mons[$month];
    $year_arr[] = "'".$month_name."'";
    $student[] = $GData1['no_student'];
    //   }
endforeach;
//$student= array_sum($student);

$year= implode(',',$year_arr);
$year_f = current ($year_arr);
$year_l = end ($year_arr) ;
$student= implode(',',$student);
//$year= array_unique($year);
//$quarter= implode(',',$quarter);
?>
<script>
      $(document).ready(function () {
            $(function () {
                // Set up the chart
                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: 'column',
                        margin: 75,
                        options3d: {
                            enabled: true,
                            alpha: 15,
                            beta: 20,
                            depth: 50,
                            viewDistance: 25
                        }
                    },
                    title: {
                        text: '# of Trainings Provided by Principle for the month of <br>'  + <?= $year_f; ?> + ' to ' + <?=$year_l; ?>
                    },
                    /* subtitle: {
                     text: 'Test options by dragging the sliders below'
                     },*/
                    credits: {
                        enabled: false
                    },
                    xAxis: {

                        crosshair: true,
                        categories: [<?php echo $year; ?>]
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '# of Trainings'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            depth: 25
                        }
                    },
                    series: [{
                        name: '# of Trainings',
                        data: [<?php echo $student; ?>]
                    }]
                });
            });
        });
</script>
