<?php
$title = 'Sustainability Training/Workshops';
$this->headTitle($title);
$AttachedFile = '';
extract($_REQUEST);
if(isset($_POST["upload"]) && !empty($_POST["upload"])) {
    // $handle = fopen($_FILES["fileupload"]["tmp_name"], 'r');
    $file_name_tmp = $_FILES["fileupload"]['tmp_name'];
    $file_name = $_FILES["fileupload"]['name'];
    $temp = explode(".", $file_name);
    $newfilename = $temp[0] . '.' . end($temp);
    $add = "$newfilename"; // the path with the file name where the file will be stored
    $upload = move_uploaded_file($file_name_tmp, $add);
    $AttachedFile = $add; ?>
    <script>
        $(document).ready(function () {
            $('input[name^=file_name]').val('<?php echo $AttachedFile; ?>');
        });
    </script>
    <?php
    echo "File Upload Successfully!";
}
?>
    <h2><?php echo $this->escapeHtml($title); ?></h2>
<section>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('training', array('action' => 'edit','id' =>$id)));
$form->prepare();

echo $this->form()->openTag($form);
/*echo $this->formRow($form->get('company_id'));*/
echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
/*echo $this->formRow($form->get('company_id'));*/
echo $this->formElementerrors($form->get('company_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
echo $this->formElementerrors($form->get('region_id'));
/*echo $this->formRow($form->get('company_id'));*/
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
echo $this->formElementerrors($form->get('country_id'));
/*echo $this->formRow($form->get('company_id'));*/
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">'.$this->formLabel($form->get("create_date")).'</label>';
echo '<div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('create_date')).'</div></div>';
echo $this->formElementerrors($form->get('create_date'));
echo '<div class="clearfix"></div>';
/*echo $this->formRow($form->get('frequency_id'));*/
//echo '<div class="form-group"><label class="control-label col-sm-2">Kg Paper Purchased</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('kg_paper')).'</div></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Type</label><div class="col-sm-3 col-md-2 col-lg-3 label-space"> '.$this->formselect($form->get('type')).'</div>';
/*echo $this->formRow($form->get('no_of_scholarship'));*/
echo $this->formElementerrors($form->get('type'));
echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->forminput($form->get('frequency_name')).'</div></div>';
echo $this->formHidden($form->get('frequency_id'));
echo '<div id ="frequencies_div"><label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('frequency_ids')).'</div></div></div>';
echo '<div class="clearfix"></div>';

echo '<div class="form-group"><label class="control-label col-sm-2">Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> '.$this->forminput($form->get('value')).'</div></div>';
/*echo $this->formRow($form->get('edu_ex_students'));*/
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Last FileUploaded</label><div class="col-sm-2 col-md-2 col-lg-2 label-space" id="last_file_name"> </div></div>';
echo '<div class="clearfix"></div>';
echo $this->formHidden($form->get('file_name'));

?>

<?php
echo $this->formSubmit($form->get('submit'));
echo $this->formElement($form->get('cancel'));
echo $this->form()->closeTag();

echo $this->form()->openTag($form);
echo '<div class="form-group"><label class="control-label col-sm-2 ">File Upload</label><div class="col-sm-3 col-md-3 col-lg-3 label-space">'. $this->formRow($form->get('fileupload')).'</div></div>';
/*echo $this->formRow($form->get('fileupload'));*/
echo $this->formSubmit($form->get('upload'));
echo '<div class="clearfix"></div>';

echo $this->form()->closeTag();
?>
</section>


<script>
    $(document).ready(function () {
       var filename= $('input[name^=file_name]').val();
        $("#last_file_name").text(filename);
    });
</script>
<script>
    $("#create_date").attr('readonly', true);

    $("#company_form_id").children('option:not(:selected)').attr('disabled', true);
    var companyid = $("#company_form_id").val();
    $("#country_form_id option").each(function () {
        if ($(this).attr('data-company-id') == companyid) {
            if ($(this).attr('selected') == 'selected') {

            } else {
                $(this).attr('disabled', true);
            }
        } else {
            $(this).attr('disabled', true);
        }
    });
    $("#region_form_id option").each(function () {
        if ($(this).attr('data-company-id') == companyid) {
            if ($(this).attr('selected') == 'selected') {

            } else {
                $(this).attr('disabled', true);
            }
        } else {
            $(this).attr('disabled', true);
        }
    });
    //$("#country_form_id").children('option:not(:selected)').attr('disabled', true);
    //$("#region_form_id").children('option:not(:selected)').attr('disabled', true);

    $("#indicator_form_id").children('option:not(:selected)').attr('disabled', true);
</script>