<p>
    <a class="btn btn-primary" href="<?php echo $this->url('training', array('action'=>'add'));?>">Add Training</a>
</p>


<?php
$title = 'Principle Training / Workshop';
$this->headTitle($title);
?>
    <!--<h1><?php /*echo $this->escapeHtml($title); */?></h1>-->

        <h2><?php echo $this->escapeHtml($title); ?></h2>
<section>
    <!--    <div class="table-responsive">-->
    <table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
        <thead class="head_event">

        <tr>
            <th style="width:15%">Company</th>
            <th style="width:15%" class="hidden-phone">Department</th>
            <th style="width:10%" class="hidden-phone">Principle</th>
            <!--<th style="width:10%" class="hidden-phone">Quantity</th>-->
            <th style="width:15%" class="hidden-phone">Submitted date</th>
            <th style="width:5%" class="hidden-phone">Frequency</th>
            <th style="width:15%" class="hidden-phone"># of training</th>
            <th style="width:30%" class="hidden-phone">Next date</th>
            <th style="width:15%" class="hidden-phone">Attachment</th>
            <th style="width:5%">Action</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($this->paginator);
        if($count > 0) {
            foreach ($paginator as $training) :
                ?>
                <tr>
                    <td><?php echo $training['company_name']; ?></td>
                    <td><?php echo $training['department_name']; ?></td>
                    <td><?php echo $training['principle_name']; ?></td>
                    <td><?php echo date('y-m-d',strtotime($training['create_date'])) ;?></td>
                    <td><?php echo $training['frequency_name'] ;?></td>
                    <td><?php echo $training['no_of_training'] ;?></td>
                    <td><?php echo date('y-m-d',strtotime($training['expiry_date'])) ;?></td>
                    <?php if (empty ($training['file_name'])) { ?>
                        <td>No File Attached</td>
                    <?php } else{?>
                        <td><a href="<?php echo $this->url('training',array('action' => 'download', 'str' => $training['file_name']));?>"> <?php echo $training['file_name'] ;?></a></td>

<!--                    <td><a href="--><?php //echo $this->url('training',array('action' => 'download', 'str' => $training['file_name']));  ?><!--">--><?php //$this->formHidden($form->get('file_name')); ?><!----><?php //echo $this->escapeHtml($training['file_name']); ?><!--</a></td>-->
                    <?php } ?>

                    <?php if($training['status']== _P_) { ?>
                        <td><a class="btn btn-primary"  href="<?php echo $this->url('training', array('action' => 'edit', 'id' => $training['training_id']));?>">Edit</a></td>
                    <?php } else{ ?>
                        <td><?php   ?></td>
                    <?php } ?>

                    <!--                    --><?php //if($community['status']== _P_) { ?>
                    <!--                        <td><a onclick="return confirm('Are you sure?');" href="--><?php //echo $this->url('training', array('action' => 'edit', 'id' => $community['training_id']));?><!--"><span style="background-color:#eea236;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></a></td>-->
<!---->
<!--                    --><?php //}  ?>
<!--                    --><?php //if($community['status']== _W_) { ?>
<!--                        <td><span style="background-color:#c12e2a;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>-->
<!---->
<!--                    --><?php //} ?>
<!--                    --><?php //if($community['status']== _A_) { ?>
<!--                        <td><span style="background-color:#2ca02c;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>-->
<!---->
<!--                    --><?php //} ?>

                    <!-- <td><a onclick="return confirm('Are you sure?');" class="btn btn-default"
                       href="<?php /*echo $this->url('community', array('action' => 'delete', 'id' => $community->id)); */?>">Delete</a><span class="hide"><?=_P_?></span>
                </td>-->

                    <!--<td>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'edit', 'id' => $album->id));*/
                    ?>">Edit</a>
            <a href="<?php /*echo $this->url('album',
                array('action'=>'delete', 'id' => $album->id));*/
                    ?>">Delete</a><span class="hide"><?=_P_?></span>
        </td>-->
                </tr>

                <?php
                $c++;
            endforeach;
        } ?>
        <!-- else { ?>
           <tr>
               <td colspan="9"> No Record Found</td>
           </tr> -->
        <?php  /*  } */  ?>
        </tbody>
    </table>
</section>
    <!--    </div>-->
    <div class="clearfix"></div>
    <!-- <div class="col-sm-6 col-md-4 col-lg-2">
        <h2>FAQ</h2>
        <p>The collection of Frequently Asked Questions (FAQ) provides brief answers to many common questions related to web design and development.</p>
        <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
    </div> -->

    <!--    <table class="table">-->
    <!--    <tr>-->
    <!--        <th>Champion</th>-->
    <!--        <th>Company</th>-->
    <!--        <th>Department</th>-->
    <!--        <th>Value</th>-->
    <!--        <th>Quantity</th>-->
    <!--        <th>Submitted Date</th>-->
    <!--        <th>Frequency</th>-->
    <!--        <th>Next Date</th>-->
    <!--        <th>Status</th>-->
    <!--    </tr>-->

    <!--            <tr>-->
    <!--                <td>--><?php //echo $community['user_name']; ?><!--</td>-->
    <!--                <td>--><?php //echo $community['company_name']; ?><!--</td>-->
    <!--                <td>--><?php //echo $community['department_name']; ?><!--</td>-->
    <!--                --><?php //if($community['community_partner_id']== 1 || $community['community_partner_id']== 2){?>
    <!--                    <td># of Employee Engaged</td>-->
    <!--                    <td>--><?php //echo $community['no_employee_engage']; ?><!--</td>-->
    <!---->
    <!--                --><?php //}?>
    <!--                --><?php //if($community['community_partner_id']== 3){?>
    <!--                    <td># of Student Scholar</td>-->
    <!--                    <td>--><?php //echo $community['no_student_scholar']; ?><!--</td>-->
    <!---->
    <!--                --><?php //}?>
    <!---->
    <!--                --><?php //if($community['community_partner_id']== 4){?>
    <!--                    <td># of Employee Engaged in Beach Cleanup</td>-->
    <!--                    <td>--><?php //echo $community['no_employee_engage_beachcleanup']; ?><!--</td>-->
    <!---->
    <!--                --><?php //}?>
    <!---->
    <!--                --><?php //if($community['community_partner_id']== 5){?>
    <!--                    <td># of Workshop</td>-->
    <!--                    <td>--><?php //echo $community['no_workshop']; ?><!--</td>-->
    <!---->
    <!--                --><?php //}?>
    <!---->
    <!--                --><?php //if($community['community_partner_id']== 6){?>
    <!--                    <td># of Tree Planted</td>-->
    <!--                    <td>--><?php //echo $community['no_tree_planted']; ?><!--</td>-->
    <!---->
    <!--                --><?php //}?>
    <!---->
    <!--                <td>--><?php //echo date('y-m-d',strtotime($community['create_date'])) ;?><!--</td>-->
    <!--                <td>--><?php //echo $community['frequency_name'] ;?><!--</td>-->
    <!--                <td>--><?php //echo date('y-m-d',strtotime($community['expiry_date'])) ;?><!--</td>-->
    <!--                --><?php //if($community['status_approval']== _P_) { ?>
    <!--                    <td><a onclick="return confirm('Are you sure?');" class="btn btn-default"-->
    <!--                           href="--><?php //echo $this->url('community', array('action' => 'edit', 'id' => $community['id'],'community_partner_id'=>$community['community_partner_id']));?><!--">Edit</a><span style="background-color:#eea236;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>-->
    <!---->
    <!--                --><?php //}  ?>
    <!--                --><?php //if($community['status_approval']== _W_) { ?>
    <!--                    <td><span style="background-color:#c12e2a;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>-->
    <!---->
    <!--                --><?php //} ?>
    <!--                --><?php //if($community['status_approval']== _A_) { ?>
    <!--                    <td><span style="background-color:#2ca02c;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>-->
    <!---->
    <!--                --><?php //} ?>
    <!---->
    <!--                <!-- <td><a onclick="return confirm('Are you sure?');" class="btn btn-default"-->
    <!--                       href="--><?php ///*echo $this->url('community', array('action' => 'delete', 'id' => $community->id)); */?><!--">Delete</a><span class="hide"><?=_P_?></span>-->
    <!--                </td>-->
    <!---->
    <!--                <!--<td>-->
    <!--            <a href="--><?php ///*echo $this->url('album',
//                array('action'=>'edit', 'id' => $album->id));*/
//                ?><!--">Edit</a>-->
    <!--            <a href="--><?php ///*echo $this->url('album',
//                array('action'=>'delete', 'id' => $album->id));*/
//                ?><!--">Delete</a><span class="hide"><?=_P_?></span>-->
    <!--        </td>-->
    <!--            </tr>-->
    <!--            --><?php
//
//
//
//            $c++;
//        endforeach;
//    }
//    else { ?>
    <!--        <tr>-->
    <!--            <td colspan="9"> No Record Found</td>-->
    <!--        </tr>-->
    <!--        --><?php
//    }
//
//    ?>
    <!--</table>-->
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'training'
    )
);
?>