<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Ampuz  '. $this->translate('  Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/jpg', 'href' => $this->basePath() . '/img/favico-logo.jpg'))
        ->prependStylesheet($this->basePath('css/custom.css'))
        ->prependStylesheet($this->basePath('dataTables/css/dataTables.bootstrap.min.css'))
        ->prependStylesheet($this->basePath('bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'))
        ->prependStylesheet($this->basePath('css/switch.css'))
        ->prependStylesheet($this->basePath('css/style.css'))
        ->prependStylesheet($this->basePath('css/style19.css'))
        ->prependStylesheet($this->basePath('css/style-responsive.css'))
        ->prependStylesheet($this->basePath('HighCharts/api/css/font-awesome.css'))
        /*  ->prependStylesheet($this->basePath('css/customold.css')) */
        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ->prependStylesheet($this->basePath('sliding_menu/css/BootSideMenu.css'))
        ->prependStylesheet($this->basePath('css/multiple-select.css'))
        ->prependStylesheet($this->basePath('css/jquery.minicolors.css'))
    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath('js/jquery.dcjqaccordion.2.7.js'))
        ->prependFile($this->basePath('js/jquery.scrollTo.min.js'))
        ->prependFile($this->basePath('js/jquery.nicescroll.js'))
        ->prependFile($this->basePath('bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js'))
        ->prependFile($this->basePath('moment/min/moment.min.js'))
        ->prependFile($this->basePath('HighCharts/js/modules/data.js'))
        ->prependFile($this->basePath('Chart.js/dist/Chart.bundle.js'))
        ->prependFile($this->basePath('HighCharts/js/highcharts-3d.js'))
        ->prependFile($this->basePath('HighCharts/js/highcharts.js'))
        ->prependFile($this->basePath('venn.js-master/venn.js'))
        ->prependFile($this->basePath('js/d3.min.js'))
        ->prependFile($this->basePath('dataTables/js/jquery.dataTables.js'))
        ->prependFile($this->basePath('js/multiple-select.js'))
        ->prependFile($this->basePath('js/custom2.js','text/javascript'))
        ->prependFile($this->basePath('js/custom.js','text/javascript'))
        ->prependFile($this->basePath('js/jquery.validate.min.js'))
        ->prependFile($this->basePath('js/jquery.blockUI.js'))
        ->prependFile($this->basePath('js/bootstrap.min.js'))
        ->prependFile($this->basePath('js/jquery.minicolors.min.js'))
        ->prependFile($this->basePath('js/jspdf.js'))
        ->prependFile($this->basePath('js/jquery.min.js'))
        ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',)) ; ?>

</head>
<body>
<!--top bar-->
<header class="header fixed-top clearfix">
    <div class="brand">

        <?php if($this->action !=_LOGIN_){ ?>
            <a  class="logo" href="<?= $this->url('application'); ?>"> <img src="<?php echo $this->basePath('img/ampuz-logo.png')?>" width="92" height="121" alt="chalhoub"></a>
        <?php }?>
       <?php if($this->action !=_LOGIN_ && $this->modulenamespace !=_APPLICATION_ && $this->modulenamespace !=_EMAIL_){ ?>
          <!--  <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>-->
        <?php } ?>
    </div>
    <div class="navbar-header pull-right cham_color">
        <?php if(!empty($_SESSION['user']['username'])){ ?>
            <!--<a class="pull-right" href="<?php /*echo $this->url('login/process', array('action'=>'logout')); */?>"><div><?php /*print_r($_SESSION['user']['username']) ;*/?></div> Logout</a>-->
            <a class="navbar-brand" href="#"><?php print_r($_SESSION['user']['username']) ;?></a>  <a class="navbar-brand mar-r" data-toggle="tooltip" data-placement="bottom" title="Log out" href="<?php echo $this->url('login/process', array('action'=>'logout')); ?>"><span class="glyphicon glyphicon-log-out "></span></a>
        <?php }?>
    </div>
</header>

<!--sidebar start-->
<?php  if(!empty($_SESSION['user']['username'])&& $this->modulenamespace !=_APPLICATION_ && $this->modulenamespace !=_EMAIL_) { ?>
    <!-- sidebar menu start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <div class="leftside-navigation">
                <?php
                $this->navigation('Navigation')->menu()->setPartial('partial/nav');
                echo $this->navigation('Navigation')->menu()->render();
                ?>
            </div>
            <div class="sidebar-left">
            <div class="toggler">
                <span class="fa fa-chevron-left">&nbsp;</span>
            </div>
            </div>
        </div>
    </aside>
    <!-- sidebar menu end-->
<?php }?>
<!--main content start-->
<section id="main-content" class="" style="<?=($this->action ==_LOGIN_ || $this->modulenamespace ==_APPLICATION_ || $this->modulenamespace ==_EMAIL_)?'margin-left: 0px !important':'';?>">
    <section class="wrapper">
        <?php
        echo $this->content; ?>
    </section> <!-- /container -->



    <footer class="footer_back">
        <p>&copy; Copyright <?php echo date('Y') ?> ampUz.<?php echo $this->translate(' All rights reserved.') ?></p>
    </footer>

</section>

<?php echo $this->inlineScript() ?>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>