<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Sustainability  '. $this->translate('  Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
  <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->prependStylesheet($this->basePath('bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'))
        ->prependStylesheet($this->basePath('css/style.css'))
        ->prependStylesheet($this->basePath('css/custom.css'))
        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
        ->prependStylesheet($this->basePath('css/bootstrap.min.css')) ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath('bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js'))
        ->prependFile($this->basePath('moment/min/moment.min.js'))
        ->prependFile($this->basePath('HighCharts/js/modules/data.js'))
        ->prependFile($this->basePath('HighCharts/js/highcharts-3d.js'))
        ->prependFile($this->basePath('HighCharts/js/highcharts.js'))
        ->prependFile($this->basePath('dataTables/js/jquery.dataTables.js'))
        ->prependFile($this->basePath('js/custom.js','text/javascript'))
        ->prependFile($this->basePath('js/bootstrap.min.js'))
        ->prependFile($this->basePath('js/jquery.min.js'))
        ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',)) ; ?>

</head>
<body>


<!--top bar-->
<nav id="myNavbar" class="navbar navbar-fixed-top bar_top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header pull-right cham_color">
            <?php if(!empty($_SESSION['user']['username'])){ ?>
                <!--<a class="pull-right" href="<?php /*echo $this->url('login/process', array('action'=>'logout')); */?>"><div><?php /*print_r($_SESSION['user']['username']) ;*/?></div> Logout</a>-->
                <a class="navbar-brand" href="#"><?php print_r($_SESSION['user']['username']) ;?></a>  <a class="navbar-brand" href="<?php echo $this->url('login/process', array('action'=>'logout')); ?>"><span class="glyphicon glyphicon-off "></span></a>
            <?php }?>
        </div>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="champ_logo">
            <img src="<?php echo $this->basePath('img/logo.png')?>" width="139" height="122" alt="chalhoub">
        </div>
        <label for="show-menu" class="show-menu">Show Menu</label>

        <!-- MENU -->
        <?php  //echo $this->modulenamespace; ?>
        <?php

        if(!empty($_SESSION['user']['username'])&& $this->modulenamespace !=_APPLICATION_){ ?>
            <div id='cssmenu' class="menu">

                <ul>
                    <li><a href="<?php echo $this->url('application') ?>"><span><?php echo $this->translate('Home') ?></span></a>

                    </li>
                    <!-- <li><a href='#'><span>Dashboard</span></a></li>-->
                    <li class='has-sub'><a href='#'><span>Community</span></a>
                        <ul>

                            <li><a href="<?php echo $this->url('event') ?>"><span><?php echo $this->translate('Event') ?></span></a>

                            </li>
                            <li><a href="<?php echo $this->url('education') ?>"><?php echo $this->translate('Education') ?></span></a></li>

                            <li><a href="<?php echo $this->url('training') ?>"><span><?php echo $this->translate('Training') ?></span></a></li>


                            <li class='last'><a href="<?php echo $this->url('community') ?>"><span><?php echo $this->translate('Community Partnerships') ?></span></a></li>

                        </ul>
                    </li>



              <!--      <li><a href='#'><span>Notification</span></a></li>
                    <li class='last'><a href='#'><span>Setup</span></a></li>-->
                    <li class='has-sub'><a href='#'><span>Analytics</span></a>
                  
                   <ul>
                  <li><a href='<?php echo $this->url('dashboard') ?>'><span>Dashboard</span></a></li>
                    <li class='has-sub'>
                     
                        <a href="#"><span><?php echo $this->translate('Group') ?></span></a>
                        <ul>
                        <li class='last'><a href="<?php echo $this->url('community',array('action' => 'Graph1')) ?>"><span><?php echo $this->translate('Community') ?></span></a></li>
                         </ul>

                    </li>
                   </ul>
                    </li>
                    <li class='last'><a href='#'><span>Help</span></a></li>
                </ul>
            </div>
            <!-- *************************** Second Top Menu ************************* -->
	            
	<?php // if($this->modulenamespace !=_DASHBOARD_){?>
	<!-- <div id='cssmenusecond' class="second_menu">

                <ul>
                    <li><a href="<?php echo $this->url('event') ?>"><span><?php echo $this->translate('Event') ?></span></a>

                    </li>
                    <li><a href="<?php echo $this->url('education') ?>"><?php echo $this->translate('Education') ?></a></li>

                    <li><a href="<?php echo $this->url('training') ?>"><span><?php echo $this->translate('Training') ?></span></a></li>


                    <li class='last'><a href="<?php echo $this->url('community') ?>"><span><?php echo $this->translate('Community Partnerships') ?></span></a></li>


                </ul>
            </div> -->


        <?php }  ?>

    </div>





    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php /*echo $this->url('home') */?>"><img src="<?php /*echo $this->basePath('img/zf2-logo.png') */?>" alt="Zend Framework 2"/>&nbsp;<?php /*echo $this->translate('Skeleton Application') */?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <?php /*if(!empty($_SESSION['user']['username'])){ */?>
                    <ul class="nav navbar-nav">
                        <li><a href="<?php /*echo $this->url('home') */?>"><?php /*echo $this->translate('Home') */?></a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="<?php /*echo $this->url('event') */?>"><?php /*echo $this->translate('Event') */?></a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class=""><a href="<?php /*echo $this->url('education') */?>"><?php /*echo $this->translate('Education') */?></a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="<?php /*echo $this->url('training') */?>"><?php /*echo $this->translate('Training') */?></a></li>
                     </ul>
                        <ul class="nav navbar-nav">
                        <li><a href="<?php /*echo $this->url('community') */?>"><?php /*echo $this->translate('Community Partnerships') */?></a></li>
                    </ul>

                    <a class="pull-right" href="<?php /*echo $this->url('login/process', array('action'=>'logout')); */?>"><div><?php /*print_r($_SESSION['user']['username']) ;*/?></div> Logout</a>
                <?php /*} */?>
                </div>

            </div>
        </nav>-->

    <?php echo $this->content; ?>
</div> <!-- /container -->

<hr>

<div class="col-sm-12">
    <footer class="footer_back">
        <p>&copy; Copyright <?php echo date('Y') ?>. Comstar ISA LTD.<?php echo $this->translate('All rights reserved.') ?></p>
    </footer>
</div>

<hr>


<!--
            <footer>
                <p>&copy; 2005 - <?php /*echo date('Y') */?> by Zend Technologies Ltd. <?php /*echo $this->translate('All rights reserved.') */?></p>
            </footer>-->

<?php echo $this->inlineScript() ?>
</body>
</html>
