<?php echo $this->partial('partial/Gfilter.phtml'); ?>
    <div id="container"  class="col-sm-12 col-md-12 pull-right" style="<?php echo $indicator== 'Ev' ? 'display:block;':'display:none;';?> min-width: 310px; height: 400px; margin: 0 auto;width:100%"></div>
</div>
<?php

$year=  array();
//$quarter=  array();
$emp= array();
$student= array();
//$numItems = count($paginator);
//$i = 0;
/*foreach ($GData as $GData1):

    $year[]= $GData1['YEAR'];
    $quarter[]  = '"'.'Quarter'.$GData1['QUARTER'].'"';
     $student[]= $GData1['no_student'];
endforeach;*/
foreach ($GData as $GData1):
    // if(!empty($GData1['no_student_scholar'])) {
    //  if(date('Y', strtotime($community['create_date'])) == )
    $year[] =   $GData1['MONTH'];
    $emp[] = $GData1['Total'];
    $student[] = "'".$GData1['type']."'";
    // }
endforeach;
//$student= array_sum($student);
$year= implode(',',$year);
$student= implode(',',$student);
$emp= implode(',',$emp);
//$year= array_unique($year);
//$quarter= implode(',',$quarter);
?>
<script>
    $(document).ready(function () {
        $(function () {
            // Set up the chart
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'column',
                    margin: 75,
                    options3d: {
                        enabled: true,
                        alpha: 15,
                        beta: 20,
                        depth: 50,
                        viewDistance: 25
                    }
                },
                title: {
                    text: '# of People engage in Volunteer Work'
                },
                /* subtitle: {
                 text: 'Test options by dragging the sliders below'
                 },*/
                credits: {
                    enabled: false
                },
                xAxis: {
                    crosshair: true,
                    categories: [<?php echo $student; ?>]
                },
                yAxis: {
                    min: 0,
                    tickInterval: 1,
                    title: {
                        text: '# of People'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        depth: 25
                    }
                },
                series: [{
                    name: 'Events',
                    data: [<?php echo $emp; ?>]

                }]

            });
        });
    });
</script>