<p>
    <?php
    $form = $this -> form;
    $form->setAttribute('action', $this->url('request', array('action' => 'add')));
    $form->prepare();


    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('category'));
    echo $this->formHidden($form->get('area'));
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();
    ?>
</p>
<a class="btn8 btn-8 btn-8f pull-right" href="<?php echo $this->url('event', array('action'=>'add'));?>">Add Record</a>

<?php
$title = 'Event Attendance';
$this->headTitle($title);
?>
<!--<h1><?php /*echo $this->escapeHtml($title); */?></h1>-->
<h2><?php echo $this->escapeHtml($title); ?></h2>
<div class="back-grey">
<!--    <div class="table-responsive">-->
<table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
    <thead class="head_event">

    <tr>
        <th style="width:10%">Company</th>
        <th style="width:8%">Region</th>
        <th style="width:10%">Country</th>
     <!--   <th style="width:10%" class="hidden-phone">Department</th>-->
        <th style="width:15%" class="hidden-phone">Type</th>
        <th style="width:10%" class="hidden-phone">Value</th>
        <th style="width:15%" class="hidden-phone">Submitted Date</th>
        <th style="width:10%" class="hidden-phone">Frequency</th>
        <th style="width:12%" class="hidden-phone">Uploaded file</th>
        <th style="width:10%" class="hidden-phone">Next Date</th>
        <th style="width:5%">Action</th>
    </tr>
    </thead>
    <tbody>

    <?php
    $c= 1;
    $count= count($this->paginator);
    if($count > 0) {
    foreach ($paginator as $community) :

    ?>
    <tr>
       <?php if($community['status']== _P_) { ?>
	 <td><a href="<?php echo $this->url('event', array('action' => 'edit', 'id' => $community['event_id']));?>"><?php echo $community['company_name']; ?></a></td>
         <?php  } else { ?>
         <td><?php echo $community['company_name']; ?></td>
         <?php } ?>
        <td><?php echo $community['region_description']; ?></td>
        <td><?php echo $community['country_name']; ?></td>
       <!-- <td><?php /*echo $community['department_name']; */?></td>-->
        <td><?php echo $community['name']; ?></td>
        <td><?php echo number_format($community['value']); ?></td>
        <td><?php echo date('d-m-y',strtotime($community['create_date'])) ;?></td>
        <td><?php echo $community['frequency_name'] ;?></td>
       <?php if (empty ($community['file_name'])) { ?>
            <td>No File Attached</td>
        <?php } else { ?>
            <td><a href="<?php echo $this->url('event',array('action' => 'download','id' => 0 ,'str' => $community['org_name']));?>"> <?php echo $community['file_name'] ;?></a></td>
        <?php } ?>


        <td><?php echo date('d-m-y',strtotime($community['expiry_date'])) ;?></td>
        <?php if($community['status']== _P_) { ?>
            <td><a  href="<?php echo $this->url('event', array('action' => 'delete', 'id' => $community['event_id']));?>" class="btn btn-xs btn-primary">Delete</a><span class="hide"><?=_P_?></span></td>

        <?php } ?>
        <?php if($community['status']== _A_) { ?>
            <td><span class="status_a"> </span> </td>

        <?php } ?>
		
		<?php if($community['status']== _W_) { ?>
           <td> <span class="status_w"> </span><span class="hide"><?=_E_?></span></td>
        <?php } ?>
		
        <?php /*if($community['status']== _P_) { */?><!--
            <td><a onclick="return confirm('Are you sure?');" href="<?php /*echo $this->url('event', array('action' => 'edit', 'id' => $community['event_id']));*/?>"><span style="background-color:#eea236;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></a></td>

        <?php /*}  */?>
        <?php /*if($community['status']== _W_) { */?>
            <td><span style="background-color:#c12e2a;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>

        <?php /*} */?>
        <?php /*if($community['status']== _A_) { */?>
            <td><span style="background-color:#2ca02c;width: 20px;border-radius: 50% 50%;height: 20px;display: block;"> </span></td>

        --><?php /*} */?>


        <div class="clearfix"></div>

        <?php
        $c++;
        endforeach;
        } ?>
        <!-- else { ?>
            <tr>
                <td colspan="9"> No Record Found</td>
            </tr> -->
        <?php /* } */   ?>
    </tbody>
</table>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'event'
    )
);
?>
</div>

<!--<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">
        <tr>
            <th>Serial no</th>
            <th>Company</th>
            <th>Employee Name</th>
            <th>Designation</th>
            <th>Description</th>
            <th>Frequency</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <?php
/*        $c= 1;
        $count =count($event);
        if($count > 0){
            foreach ($event as $events) :
                */?>
                <tr>
                    <td><a href="<?php /*echo $this->url('event',array('action' => 'edit', 'id' => $events['event_id'])); */?>"><?php /*echo $c; */?></a></td>
                    <td><?php /*echo $this->escapeHtml($events['company_name']); */?></td>
                    <td><?php /*echo $this->escapeHtml($events['name']); */?></td>
                    <td><?php /*echo $this->escapeHtml($events['event_atten_designation']); */?></td>
                    <td><?php /*echo $this->escapeHtml($events['event_description']); */?></td>
                    <td><?php /*echo $this->escapeHtml($events['frequency_name']); */?></td>
                    <td><?php /*echo date('d-m-y',strtotime($events['create_date'])) ;*/?></td>
                    <td>

                        <a class="btn btn-primary" href="<?php /*echo $this->url('event', array('action' => 'delete', 'id' => $events['event_id'])); */?>">Delete</a><span class="hide"><?=_P_?></span>
                    </td>
                </tr>
                <?php
/*                $c++;
            endforeach;
        } */?>

    </table>
</div>-->