<?php
extract($_REQUEST);
//set_include_path(get_include_path() . PATH_SEPARATOR . 'vendor/PHPExcel');
//include 'PHPExcel/IOFactory.php';
//use PHPExcel;
//$excel = new PHPExcel();
// This is the file path to be uploaded.
$title = 'Target';
$this->headTitle($title);
?>
<script>
    $(document).ready(function () {
        var indicator = $('#indicator');
        $(function () {
            $("#From").text('From Month');
            $("#To").text('To Month');
            $('#datetimepicker1').datetimepicker({
                viewMode: 'months',
                format: 'YYYY-MM-DD'
            });
            $('#datetimepicker2').datetimepicker({
                viewMode: 'months',
                format: 'YYYY-MM-DD'
            });
        });
     //group and indicator filter
        $('select[name="group_id"]').change(function() {
            var $sel = $('select[name="indicator_id[]"]'),
                val = $(this).val(),
                group = $('option:selected', this).text();
            if (val === '%') {
                $('option,optgroup', $sel).attr('disabled',false);
            }
            else {
                $('optgroup, optgroup > option', $sel).attr('disabled',true);
                $('optgroup[label="' + group + '"]', $sel).children().andSelf().attr('disabled',false);
            }
            indicator.multipleSelect('refresh');
            indicator.multipleSelect({
                multiple: true,
                multipleWidth: 55,
                width: '100%'
            });
        });
    });
</script>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<?php
$form = $this->form;
$event = $this->event;
$form->setAttribute('action', $this->url('milestone', array('action' => 'add')));
$form->prepare();
echo $this->form()->openTag($form);
//echo $this->formElementerrors($form);

echo '<div class="form-group"><label class="control-label col-sm-2">Company</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('company_id')).'</div></div>';
/*echo $this->formRow($form->get('company_id'));*/
echo $this->formElementerrors($form->get('company_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('region_id')).'</div></div>';
echo $this->formElementerrors($form->get('region_id'));
/*echo $this->formRow($form->get('company_id'));*/
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> '.$this->formselect($form->get('country_id')).'</div></div>';
echo $this->formElementerrors($form->get('country_id'));
//echo '<div class="form-group"><label class="control-label col-sm-2">Description</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->formElement($form->get('description')) . '</div>';
echo '<div class="clearfix"></div>';
echo '<label class="control-label col-sm-2">Description</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->formInput($form->get('short_description')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Group</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('group_id')) . '</div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Indicator</label><div class="col-sm-2 col-md-2 col-lg-8 label-space"> ' . $this->formselect($form->get('indicator_id')) . '</div>';
echo '<div class="clearfix"></div>';
echo '<label class="control-label col-sm-2">Frequency</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('frequency_id')) . '</div></div>';
echo '<div class="clearfix"></div>';
//echo '<div class="form-group"><label class="control-label col-sm-2">Gender</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('gender_id')) . '</div></div>';
//echo '<div class="clearfix"></div>';
echo '<div class="form-group">
                <label  class="control-label col-sm-2">Start Date</label>
                 <div class="form-group col-sm-4 col-md-4 col-lg-2 label-space">
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" value=""
                               name="start_date" id="start_date" required class="form-control"/>
                <span id="fromyearbtn" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                </div>';
echo '  <label  class="control-label col-sm-2">End Date</label>
             <div class="form-group col-sm-4 col-md-4 col-lg-2 label-space">
                    <div class="input-group date" id="datetimepicker2">
                        <input type="text" value=""
                               name="end_date" id="end_date" required class="form-control"/>
                <span id="fromyearbtn" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                </div>
            </div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Position</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('position_id')) . '</div>';
//echo '<div class="clearfix"></div>';
echo '<label class="control-label col-sm-2">Nature</label><div class="col-sm-2 col-md-2 col-lg-2 label-space"> ' . $this->formselect($form->get('nature_id')) . '</div></div>';
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Target Value</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->formInput($form->get('tar_value')) . '</div></div>';
echo $this->formElementerrors($form->get('tar_value'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group" id="percent_div" style="display: none;"><label class="control-label col-sm-2">Percentage</label><div class="form-group col-sm-4 col-md-4 col-lg-1 label-space percentInput"> ' . $this->formInput($form->get('percent')) . '</div><span>%</span>';
echo $this->formElementerrors($form->get('percent')) . '</div>';
echo '<div class="clearfix"></div>';
//echo '<div class="form-group"><label class="control-label col-sm-2">Calculation Unit</label><div class="form-group col-sm-4 col-md-4 col-lg-2 label-space"> ' . $this->formElement($form->get('cal_unit')) . '</div></div>';
//echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Status</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space">  <div class="onoffswitch">' . $this->formElement($form->get('status')) . '<label class="onoffswitch-label" for="myonoffswitch"></label></div></div></div>';
echo '<div class="clearfix"></div>';
echo $this->formElement($form->get('cancel'));
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
echo $this->form()->closeTag();
?>
<script>
    $(document).ready(function () {
//        $.fn.bootstrapSwitch.defaults.onText = 'Acitve';
//        $.fn.bootstrapSwitch.defaults.offText = 'De-active';
//        $("input[type=checkbox],.status").bootstrapSwitch();

        $("#nature_id").change(function () {

            if ($(this).val() == 2) {
                $("#percent_div").show();
            }
            else {
                $("#percent_div").hide();
                $("#percent").val('1');
            }
        });
        if ($("#nature_id").val() == 2) {

            $("#percent_div").show();
        }
        else {

            $("#percent_div").hide();
            $("#percent").val('1');
        }
    });
</script>