<a class="btn8 btn-8 btn-8f pull-right" href="<?php echo $this->url('milestone', array('action' => 'add')); ?>">Add
    Target</a>

<?php
$title = 'Targets';
$this->headTitle($title);
?>
<!--<h1><?php /*echo $this->escapeHtml($title); */ ?></h1>-->
<h2><?php echo $this->escapeHtml($title); ?></h2>
<div class="back-grey">
    <!--    <div class="table-responsive">-->
    <table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
        <thead class="head_event">

        <tr>
            <!-- <th style="width:15%">Company</th>-->
            <th style="width:10%" class="hidden-phone">Description</th>
            <th style="width:15%" class="hidden-phone">Frequency</th>
            <th style="width:15%" class="hidden-phone">Group</th>
            <th style="width:15%" class="hidden-phone">Indicator</th>
            <th style="width:15%" class="hidden-phone">Start Date</th>
            <th style="width:10%" class="hidden-phone">End Date</th>
            <th style="width:5%">Action</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c = 1;
        $count = count($this->paginator);
        if ($count > 0) {
        foreach ($paginator as $milestone) :
        ?>
        <tr>
            <!--<td><?php /*echo $milestone['company_name']; */
            ?></td>-->
            <td><?php echo $milestone['short_description']; ?></td>
            <td><?php echo $milestone['frequency_name']; ?></td>
            <td><?php echo $milestone['label']; ?></td>
            <?php if ($milestone['indicator_id'] != NULL) { ?>
                <td><?php echo $milestone['IndicatorName']; ?></td>
            <?php } else { ?>
                <td>_</td>
            <?php }
            ?>

            <td><?php echo date('d-m-y', strtotime($milestone['milestone_create_date'])); ?></td>
            <td><?php echo date('d-m-y', strtotime($milestone['milestone_end_date'])); ?></td>
            <!--  <td><a href="<?php /*echo $this->url('event', array('action' => 'edit', 'id' => $milestone['event_id']));*/
            ?>"><?php /*echo $milestone['company_name']; */
            ?></a></td>-->
            <td>
                <div class="onoffswitch">
                    <input type="checkbox" name="status"  <?= ($milestone['is_active'] == 1) ? 'checked' : ''; ?> class="onoffswitch-checkbox" id="status<?= $c ?>">
                    <label class="onoffswitch-label" for="status<?= $c ?>"></label>
                </div>

                <a href="<?php echo $this->url('milestone', array('action' => 'statusAction', 'id' => $milestone['milestone_id'], 'status' => $milestone['milestone_id'])); ?>"></a>
            </td>

            <div class="clearfix"></div>
            <script>
              $("#status<?=$c?>").click(function(){
                      //  var conf = confirm('Are you sure?');
                      // alert(conf);
                      // if(conf == true){
                      var status;
                  if ($(this).is(':checked') == 1) {
                          status = 1;
                      }
                      else {
                          status = 0;
                      }
                      var id = '<?=$milestone['milestone_id']?>';
                      $.ajax({
                          type: 'post',
                          url: '<?php echo $this->basePath(); ?>/milestone/status/' + id + '/' + status,
                          success: function (resonpse) {

                          }
                      });
                      //}
                      // return conf;
              });
            </script>
            <?php
            $c++;
            endforeach;
            } ?>
            <!-- else { ?>
                <tr>
                    <td colspan="9"> No Record Found</td>
                </tr> -->
            <?php /* } */ ?>


        </tbody>
    </table>
    <?php
    // add at the end of the file after the table
    echo $this->paginationControl(
// the paginator object
        $this->paginator,
        // the scrolling style
        'sliding',
        // the partial to use to render the control
        'partial/paginator.phtml',
        // the route to link to when a user clicks a control link
        array(
            'route' => 'milestone'
        )
    );
    ?>

</div>

