<?php echo $this->partial('milestone/Gfilter_milestone.phtml'); ?>
<?php
extract($_REQUEST);
//echo '<pre>',print_r($GData,1),'</pre>';
$GData['position'];
if($milestone_id) {
    if ($GData['actual_result']) {
        ?>
        <div id="container" class="col-sm-12 col-md-12 pull-right"
             style="min-width: 310px; height: 400px; margin: 0 auto;width:100%"></div>
        <?php
// actual dates
        $start = new DateTime($GData['start_date']);
        $start->modify('first day of this month');
        $end = new DateTime($GData['end_date']);
        $end->modify('last day of this month');
        $interval = DateInterval::createFromDateString('1 month');
        $period = new DatePeriod($start, $interval, $end);
        $month_itr = 0;
        $tar_months_arr = array();
        foreach ($period as $dt) {
            $tar_months_arr[] = $dt->format("M");
            $month_itr++;
        }

       // if ($GData['position'] == 'increament' || $GData['position'] == 'reduction') {
            $tar_months_arr_len = count($tar_months_arr);
            $tar_values_cal = $GData['target_value'] / $tar_months_arr_len;
            round($tar_values_cal);

            // actual values
            $actual_sum = 0;
            $actual_itr = 0;
            $len = count($GData['actual_result']);
            foreach ($GData['actual_result'] as $actual_value) {
                $actual_sum += $actual_value['value'];
                if ($actual_itr == 0) {

                    $actual_start = new DateTime($actual_value['date']);
                }
                if ($actual_itr == $len - 1) {

                    $actual_end = new DateTime($actual_value['date']);
                } else {

                    $actual_end = new DateTime($actual_value['date']);
                }
                $actual_itr++;
            }
            $avg = $actual_sum / $len;

// actual dates
            $actual_start->modify('first day of this month');
            $actual_end->modify('last day of this month');
            $actual_interval = DateInterval::createFromDateString('1 month');
            $actual_period = new DatePeriod($actual_start, $actual_interval, $actual_end);
            $actual_months_arr = array();
            foreach ($actual_period as $dt) {
                $actual_months_arr[] = $dt->format("M");
            }
      //  }


        $proj_months_arr = array_diff_assoc($tar_months_arr, $actual_months_arr);

//actual array
        foreach ($tar_months_arr as $key => $value) {
            if ($actual_months_arr[$key] != $tar_months_arr[$key]) {
                $actual_months_arr[$key] = 'null';
            }
        }
        ksort($actual_months_arr);
        $actual_months_arr_final = array();
        foreach ($actual_months_arr as $x => $x_value) {
            $actual_months_arr_final[$x] = $x_value;
        }

//projected array
        foreach ($tar_months_arr as $key => $value) {
            if ($proj_months_arr[$key] != $tar_months_arr[$key]) {
                $proj_months_arr[$key] = 'null';
            }
        }
//echo '<pre>',print_r(array_filter($actual_months_arr_final),1),'</pre>';
//echo '<pre>',print_r(array_filter($tar_months_arr),1),'</pre>';
        ksort($proj_months_arr);
        $proj_months_arr_final = array();
        foreach ($proj_months_arr as $x => $x_value) {
            $proj_months_arr_final[$x] = $x_value;
        }
//echo '<pre>',print_r(array_filter($proj_months_arr_final),1),'</pre>';

        $itr = 1;
        ?>
        <script>
            $(document).ready(function () {
                $(function () {
                    var chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'container',
                            type: 'area'
                        },
                        title: {
                            text: '<?php echo ($GData['indicator']==NULL || $GData['indicator']=='')? $GData['group']:$GData['indicator']; ?>'
                        },
                        subtitle: {
                            text: '<?= $GData['position'] . '<br> Projection Average :' . round($avg);?>'
                        },
                        credits: {
                            enabled: false
                        },
                        xAxis: {
                            allowDecimals: false,
                            categories: [
                                <?php
                                $months_arr = array();
                                foreach ($period as $dt) {
                                    echo $months_arr[] = "'" . $dt->format("M") . "'" . ",";
                                }
                                ?>
                            ]
                        },
                        yAxis: {
                            allowDecimals: false,
                            max: '<?=$GData['target_value']?>'
                            /*   title: {
                             text: 'Milestone'
                             },
                             labels: {
                             formatter: function () {
                             return this.value /<?=$GData['target_value']?>;
                             }
                             }*/
                        },
                        tooltip: {
                            pointFormat: '{series.name} is <b>{point.y:,.0f}</b><br/><?php echo ($GData['indicator']==NULL || $GData['indicator']=='')? $GData['group']:$GData['indicator']; ?> in {point.x}'
                        },
                        plotOptions: {
                            area: {
                                marker: {
                                    enabled: false,
                                    symbol: 'circle',
                                    radius: 2,
                                    states: {
                                        hover: {
                                            enabled: true
                                        }
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Target',
                            data: [  <?php
                                $itr = 0;
                                $sum_itr = 1;
                                foreach ($period as $dt) {
                                    $tar_values = $tar_values_cal;
                                    $partial_sum = ($tar_values * $sum_itr);

                                    echo $tar_values = $partial_sum . ',';
                                    $itr++;
                                    $sum_itr++;
                                }
                                ?>]
                        }, {
                            name: 'Actual',
                            data: [  <?php
                                foreach ($months_arr as $key => $value) {
                                    if ($months_arr[$value] == $actual_months_arr[$value]) {

                                    } else {
                                        $actual_months_arr[] = null;
                                    }
                                }
                                foreach ($GData['actual_result'] as $actual_value) {
                                    $ac_val += $actual_value['value'];
                                    echo $ac_val . ",";
                                    $itr++;
                                }
                                ?>]
                        }, {
                            name: 'Projection',
                            data: [  <?php
                                $proj_itr = 0;
                                $sum_itr = 1;
                                foreach ($proj_months_arr as $proj_months_arr1) {

                                    if ($proj_months_arr1 == 'null') {
                                        echo 'null' . ',';
                                    } else {
                                        $avg1 = $avg;
                                        $partial_proj_sum = ($avg1 * $sum_itr);

                                        echo $partial_proj_sum . ',';
                                    }
                                    $proj_itr++;
                                    $sum_itr++;
                                }
                                ?>]
                        }]
                    });
                });
            });
        </script>
    <?php } else { ?>
        <div class="clearfix"></div>
        <div class="jumbotron">
            <h1 class="text-center"><?php echo sprintf($this->translate('Graph Can\'t be shown due to unavailability of Records '), '<span class="zf-green">', '</span>') ?></h1>
        </div>
    <?php }
}
else {
    ?>
    <div class="clearfix"></div>
    <div class="jumbotron">
        <h1 class="text-center"><?php echo sprintf($this->translate(' '), '<span class="zf-green">', '</span>') ?></h1>
    </div>
    <?php

} ?>