<?php
/**
 * Created by PhpStorm.
 * User: Admin
 * Date: 4/1/2016
 * Time: 3:29 PM
 */
$form = $this->form;
extract($_REQUEST);
?>
<!-- search criteria Modal -->
<div class="col-lg-12">
    <div class=" panel panel-default" style="">
        <div class="panel-heading panel-heading-custom">
            Search
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-xs " type="button">
                        <span class="pull-right clickable"><i class="fa fa-chevron-up"></i></span>
                    </button>

                </div>

            </div>
        </div>
        <div class="panel-body hide">
            <form method="post" id="searchform" action="<?php echo $this->url('milestone', array('action' => 'Graph1')) ?>">
                <div class="col-sm-12 form-group pull-left"><label for="company_id">Targets</label>
                    <?php
                    echo $this->formselect($form->get('milestone_id'));
                    ?>
                </div>
                <input class="filter btn btn-start pull-left" type="submit" id="search" value="Generate">
            </form>

    </div>
</div>
<!-- search criteria Modal -->
<script>
$(document).ready(function(){
    $('#milestone_id option[value="<?=$milestone_id?>"]').prop('selected', true);
});
</script>
