<?php
extract($_REQUEST);
//set_include_path(get_include_path() . PATH_SEPARATOR . 'vendor/PHPExcel');
//include 'PHPExcel/IOFactory.php';
//use PHPExcel;
//$excel = new PHPExcel();
// This is the file path to be uploaded.
$title = 'User Profile';
$this->headTitle($title);
?>
<script>
    $(document).ready(function () {
        $(function () {
            $("#From").text('From Month');
            $("#To").text('To Month');
            $('#datetimepicker1').datetimepicker({
                viewMode: 'months',
                minDate : 'now',
                format: 'YYYY-MM-DD'
            });
        });

//Hide all of Select region
        var region = $("#region_id");
        var company = $("#company_id");
        var country = $("#country_id");
        var country_opt = $('#country_id option');
        var region_opt = $('#region_id option');
        $("select[name='country_id[]']").next().children().last().empty();
        $("select[name='region_id[]']").next().children().last().empty();
        company.on('change click', function() {
            region.children('option').show();
            var ids = ($(this).val());
            var filter_data = [];
            $.each(ids, function(i, val ) {
                //console.log($(this).val()+'a');
                filter_data.push('[data-company-id=' + val +']');
            });
            var filter=new Array(filter_data);
            if ($(this).data('options') == undefined) {
                /*Taking an array of all options-2 and kind of embedding it on the select1*/
                $(this).data('options', region_opt.clone());
            }
            var id = $(this).val();
            var options_region = $(this).data('options').filter(filter.join(","));
            region.empty();
            country.empty();
            //region.append('<option value=""></option>');
            region.append(options_region);
            /*remove repeated option of region*/
            var region_repeat = {};
            $("select[name='region_id[]'] > option").each(function () {
                if(region_repeat[this.text]) {
                    $(this).remove();
                } else {
                    region_repeat[this.text] = this.value;
                }
            });
            region.multipleSelect('refresh');
        });

        //Hide all of Select region

        region.on('change click', function() {
            country.children('option').show();
            var ids = ($(this).val());
            var company_ids = ($("#company_id").val());
            var filter_data = [];

            $.each(ids, function(j, k ) {
                $.each(company_ids, function(i, v) {
                   // console.log(v);
                    //console.log($(this).val()+'a');
                    filter_data.push('[data-region-id=' + k +'][data-company-id=' + v +']');
                });
            });
            var filter=new Array(filter_data);
           // console.log(filter.join(","));
            if ($(this).data('options') == undefined) {
                /*Taking an array of all options-2 and kind of embedding it on the select1*/
                $(this).data('options', country_opt.clone());
            }
            var id = $(this).val();
            var options_country = $(this).data('options').filter(filter.join(","));
            country.empty();
          //  country.append('<option value=""></option>');
            country.append(options_country);
            /*remove repeated option of country*/
            var country_repeat = {};
            $("select[name='country_id[]'] > option").each(function () {
                if(country_repeat[this.text]) {
                    $(this).remove();
                } else {
                    country_repeat[this.text] = this.value;
                }
            });
            country.multipleSelect('refresh');
        });
        //Hide all of Select region
        var menu = $("#menu_id");
        var sub_menu = $("#sub_menu_id");
        var sub_menu_opt = $('#sub_menu_id option');
       menu.on('change', function() {
           var ids = ($(this).val());
           var filter_data = [];
            $.each(ids, function(i, val ) {
                //console.log($(this).val()+'a');
                 filter_data.push('[data-menu-id=' + val +']');
            });
           var filter=new Array(filter_data);
           if ($(this).data('options') == undefined) {
               /*Taking an array of all options-2 and kind of embedding it on the select1*/
               $(this).data('options', sub_menu_opt.clone());
           }
           var options_sub_menu = $(this).data('options').filter(filter.join(","));
           sub_menu.empty();
         //  sub_menu.append('<option value=""></option>');
           sub_menu.append(options_sub_menu);
           sub_menu.multipleSelect('refresh');
        });
        region.children('option').hide();
        country.children('option').hide();
        /*remove repeated option of region*/
        var region_repeat = {};
        $("select[name='region_id[]'] > option").each(function () {
            if(region_repeat[this.text]) {
                $(this).remove();
            } else {
                region_repeat[this.text] = this.value;
            }
        });
        /*remove repeated option of country*/
        var country_repeat = {};
        $("select[name='country_id[]'] > option").each(function () {
            if(country_repeat[this.text]) {
                $(this).remove();
            } else {
                country_repeat[this.text] = this.value;
            }
        });
    });
</script>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<?php
$form = $this->form;
$event = $this->event;
$form->setAttribute('action', $this->url('login', array('action' => 'add')));
$form->prepare();
echo $this->form()->openTag($form);
//echo $this->formElementerrors($form);

echo '<div class="form-group"><label class="control-label col-sm-2">User Name</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formElement($form->get('user_name')) . '</div></div>';
echo $this->formElementerrors($form->get('user_name'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">User Password</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space"> ' . $this->formElement($form->get('user_password')) . '</div>';
echo $this->formElementerrors($form->get('user_password'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Re-type Password</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space"> ' . $this->formElement($form->get('confirm_password')) . '</div>';
//$this->formElement($form->get('confirm_password'))->addErrorMessage('Password and Re-type password don\'t');
echo $this->formElementerrors($form->get('confirm_password'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Email</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space"> ' . $this->formElement($form->get('user_email')) . '</div>';
echo $this->formElementerrors($form->get('user_email'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Gender</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('gender_id')) . '</div></div>';
echo $this->formElementerrors($form->get('gender_id'));
echo '<div class="clearfix"></div>';
echo '<label class="control-label col-sm-2">City</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('city_id')) . '</div></div>';
echo $this->formElementerrors($form->get('city_id'));
echo '<div class="clearfix"></div>';
echo '<label class="control-label col-sm-2">Company</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space"> ' . $this->formselect($form->get('company_id')) . '</div></div>';
echo $this->formElementerrors($form->get('company_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Region</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('region_id')) . '</div>';
echo $this->formElementerrors($form->get('region_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Country</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('country_id')) . '</div>';
echo $this->formElementerrors($form->get('country_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Indicator</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('indicator_id')) . '</div>';
echo $this->formElementerrors($form->get('indicator_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">User Role</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('user_role_id')) . '</div>';
echo $this->formElementerrors($form->get('user_role_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">User Type</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('user_type')) . '</div>';
echo $this->formElementerrors($form->get('user_type'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Menu Rights</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('menu_id')) . '</div><div class="clearfix"></div><label class="control-label col-sm-2">&nbsp;</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formselect($form->get('sub_menu_id')) . '</div>';
echo $this->formElementerrors($form->get('menu_id'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group" id="expiry_date_div">
                <label  class="control-label col-sm-2">Expiry Date</label>
                 <div class="form-group col-sm-4 col-md-4 col-lg-6 label-space">
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" value=""
                               name="expiry_date" id="expiry_date" required class="form-control"/>
                <span id="fromyearbtn" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                    </div>
                </div></div>';

echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Status</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space">  <div class="onoffswitch">' . $this->formElement($form->get('status')) . '<label class="onoffswitch-label" for="myonoffswitch"></label></div></div></div>';
echo '<div class="clearfix"></div>';
echo $this->formElement($form->get('cancel'));
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
echo $this->form()->closeTag();
?>
<script>
    $(document).ready(function () {
     //   $.fn.bootstrapSwitch.defaults.onText = 'Enable';
    //    $.fn.bootstrapSwitch.defaults.offText = 'Disable';
     //   $("input[type=checkbox],.status").bootstrapSwitch();


/*            $('select[multiple]').multiselect({
            columns: 4,
            placeholder: 'Select options'
        });*/
/*show/hide expiry date */
        var user_type = $("#user_type_id");
        user_type.change(function () {
           //  alert($(this).val());
            if ($(this).val() == 1) {
                $("#expiry_date_div").show();
            }
            else {
                $("#expiry_date_div").hide();
                $("#expiry_date").attr('required',false);
            }
        });
        if (user_type.val() == 1) {

            $("#expiry_date_div").show();
        }
        else {

            $("#expiry_date_div").hide();
            $("#expiry_date").attr('required',false);
            //$("#percent").val('1');
        }
    });
</script>