<?php
/**
 * Created by PhpStorm.
 * User: noman
 * Date: 4/23/2016
 * Time: 6:21 PM
 */
?>

<a class="btn8 btn-8f btn-8 pull-right" href="<?php echo $this->url('login', array('action'=>'add'));?>">Add User</a>

<?php

$title = 'Users';
$this->headTitle($title);
?>
<!--<h1><?php /*echo $this->escapeHtml($title); */?></h1>-->

<h2><?php echo $this->escapeHtml($title); ?></h2>

<!--    <div class="table-responsive">-->
<section>
    <table class="table table-condensed table-striped table-bordered table-hover no-margin scale">
        <thead class="head_event">

        <tr>
            <th style="width:15%">User Name</th>
            <th style="width:25%" class="hidden-phone">Email</th>
            <th style="width:25%" class="hidden-phone">Action</th>

        </tr>
        </thead>
        <tbody>

        <?php
        $c= 1;
        $count= count($this->paginator);
        if($count > 0) {
            foreach ($paginator as $user) :
                ?>
                <tr>
                    <td><?php echo $user['user_name']; ?></td>
                    <td><?php echo $user['user_email']; ?></td>
                    <td>
                        <a class='btn btn-xs btn-primary'href="<?php echo $this->url('login', array('action' => 'edit', 'id' =>$user['user_id'])); ?>">Edit</a>
                    </td>

                </tr>
				<div class="clearfix"></div>
                <?php
                $c++;
            endforeach;
        } ?>

        </tbody>
    </table>
</section>
<div class="clearfix"></div>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'login',
        'child' => '/list'
    )
);
?>