<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-4">
            <img class="img-rounded" src="img/ampuz-logo.png" width="92" height="121" alt="chalhoub">
            <div class="account-wall">

                <h1 class="h7 text-center login-title">Sign in</h1>
            <?php
//module/Login/view/login/login.phtml
$form = $this->form;
$form->setAttribute('action', $this->url(
'login/process',
array(
'action'     => 'authenticate',
)
));
$form->prepare();
echo $this->form()->openTag($form);

echo $this->formCollection($form);
echo $this->form()->closeTag();

if ($this->messages){
    echo '<ul>';
    foreach($this->messages as $message)
    {
        echo '<li>'.$message.'</li>';
    }
    echo '</ul>';
}?>
                </div>
            </div>
        </div>
</div>