<?php
extract($_REQUEST);

$title = 'Measuring Group';
$this->headTitle($title);
?>
<h2><?php echo $this->escapeHtml($title); ?></h2>
<?php
$form = $this->form;
$id = $this->id;
$form->setAttribute('action', $this->url('measuring-group', array('action' => 'edit', 'id' => $id)));
$form->prepare();
$measuringgroup_description = $form->get('description')->getValue();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo '<div class="form-group"><label class="control-label col-sm-2">Measuring Group Name</label><div class="col-sm-2 col-md-2 col-lg-6 label-space"> ' . $this->formElement($form->get('description')) . '</div></div>';
echo $this->formElementerrors($form->get('description'));
echo '<div class="clearfix"></div>';
echo '<div class="form-group"><label class="control-label col-sm-2">Status</label><div class="form-group col-sm-4 col-md-4 col-lg-6 label-space">  <div class="onoffswitch">' . $this->formElement($form->get('is_active')) . '<label class="onoffswitch-label" for="myonoffswitch"></label></div></div></div>';
echo '<div class="clearfix"></div>';
echo $this->formElement($form->get('cancel'));
echo $this->formSubmit($form->get('submit'));
echo '<div class="clearfix"></div>';
echo $this->form()->closeTag();
?>
