<?php

$title = 'Transport';
$this->headTitle($title);
?>
    <!--<h1><?php /*echo $this->escapeHtml($title); */ ?></h1>-->

    <div class="col-sm-12 col-md-12 col-lg-12 heading_back">
        <h2><?php echo $this->escapeHtml($title); ?></h2>
    </div>

    <!--    <div class="table-responsive">-->
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead class="head_event">

        <tr>
            <th style="width:5%">Champion</th>
            <th style="width:10%">Company</th>
            <th style="width:15%">Region</th>
            <th style="width:15%">Country</th>
            <th style="width:25%" class="hidden-phone">Type</th>
            <th style="width:10%" class="hidden-phone">Value</th>
            <th style="width:15%" class="hidden-phone">Submitted Date</th>
            <th style="width:10%" class="hidden-phone">Frequency</th>
            <th style="width:35%" class="hidden-phone">Next Date</th>
            <th style="width:10%" class="hidden-phone">Uploaded file</th>
            <th style="width:10%" class="hidden-phone">Status</th>
        </tr>
        </thead>
        <tbody>

        <?php
        $c = 1;
        $count = count($this->paginator);
        if ($count > 0) {
            foreach ($paginator as $transport) :
                ?>
                <tr>
                    <?php if ($transport['status'] == _P_) { ?>
                        <td>
                            <a href="<?php echo $this->url('transport', array('action' => 'edit', 'id' => $transport['transport_id'])); ?>"><?php echo $transport['user_name']; ?></a>
                        </td>
                    <?php }
                    if ($transport['status'] == _A_) { ?>
                        <td><?php echo $transport['user_name']; ?></td>

                    <?php } ?>
                    <?php if ($transport['status'] == _W_) { ?>
                        <td><?php echo $transport['user_name']; ?></td>

                    <?php } ?>
                    <td><?php echo $transport['company_name']; ?></td>
                    <td><?php echo $transport['region_description']; ?></td>
                    <td><?php echo $transport['country_name']; ?></td>
                    <td><?php echo $transport['name']; ?></td>
                    <td><?php echo number_format($transport['value']); ?></td>


                    <td><?php echo date('d-m-y', strtotime($transport['create_date'])); ?></td>
                    <td><?php echo $transport['frequency_name']; ?></td>
                    <td><?php echo date('d-m-y', strtotime($transport['expiry_date'])); ?></td>
                    <td>
                        <?php if ($transport['org_name'] != '') { ?>
                            <a href="<?php echo $this->url('transport', array('action' => 'download', 'id' => 0, 'str' => str_replace('excels/', '', $transport['org_name']))); ?>"
                               target="_blank"> <?php echo $transport['file_name']; ?></a>
                        <?php } else { ?>
                            <a href="<?php echo $this->url('transport', array('action' => 'download', 'id' => $transport['file_name'])); ?>"
                               target="_blank"> <?php echo $transport['file_name']; ?></a>
                        <?php } ?>
                    </td>
                    <?php if ($transport['status'] == _P_) { ?>
                        <td>
                            <a href="<?php echo $this->url('transport', array('action' => 'edit', 'id' => $transport['transport_id'])); ?>"><span
                                    class="status_p"> </span><span class="hide"><?= _P_ ?></span></a>
                        </td>
                    <?php } ?>

                    <?php if ($transport['status'] == _W_) { ?>
                        <td>
                            <a href="javascript:window.open('<?php echo $this->url('email', array('action' => 'index', 'id' => 0, 'email_id' => $transport['user_email'])); ?>','email','width=700,height=500')"><span
                                    class="status_w"> </span><span class="hide"><?= _E_ ?></span></a></td>
                    <?php } ?>
                    <?php if ($transport['status'] == _A_) { ?>
                        <td><span class="status_a"></span><span class="hide"><?= _A_ ?></span></td>

                    <?php } ?>

                </tr>
                <?php


                $c++;
            endforeach;
        } ?>
        <!-- else { ?>
            <tr>
                <td colspan="9"> No Record Found</td>
            </tr> -->
        <?php /* } */ ?>
        </tbody>
    </table>

    <div class="clearfix"></div>

<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'transport'
    )
);
?>