<?php
/**
 * Created by PhpStorm.
 * User: Admin
 * Date: 5/24/2016
 * Time: 12:18 PM
 */
extract($_REQUEST);
set_include_path(get_include_path() . PATH_SEPARATOR . 'vendor/PHPExcel');
include 'PHPExcel/IOFactory.php';

$indicatorId = $_REQUEST['id'];
$header = $_REQUEST['get'];

//select indicator
$data = array();
foreach ($indicator AS $key => $item) {
    $data[$key] = $item;
    for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {
        if (!empty($item['is_col' . $count])) {
            $dataHeader[] = $item['is_col' . $count];
        }
    }
}

if (!empty($header)) {
    echo '<h2>Records for review</h2>
    <section>
        <div class="table-responsive scale">
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead class="head_event">
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Date</th>';
    foreach ($dataHeader AS $dataItem) {
        echo '<th>' . ucfirst(strtolower($dataItem)) . '</th>';
    }
    echo '<th>Delete</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </section>';
} else {


    $employee_id = array();
    $name = array();
    $designation = array();
    $date = array();

    if (isset($_POST["upload"]) && !empty($_POST["upload"])) {
        // $handle = fopen($_FILES["fileupload"]["tmp_name"], 'r');
        $file_name_tmp = $_FILES["fileupload"]['tmp_name'];
        $file_name = $_FILES["fileupload"]['name'];
        $temp = explode(".", $file_name);
        $newfilename = rand(1, 99999) . '.' . end($temp);
        $add = 'excels/' . "$newfilename"; // the path with the file name where the file will be stored
        $upload = move_uploaded_file($file_name_tmp, $add);

        $inputFileName = $add;

        try {
            $objPHPExcel = PHPExcel_IOFactory::load($inputFileName);
        } catch (Exception $e) {
            die('Error loading file "' . pathinfo($inputFileName, PATHINFO_BASENAME) . '": ' . $e->getMessage());
        }
        $allDataInSheet = $objPHPExcel->getActiveSheet()->toArray(null, true, true, true);

        //$arrayCount = count($allDataInSheet);  // Here get total count of row in that Excel sheet
        //echo '<pre>', print_r($allDataInSheet, 1), '</pre>';
        $itr = 1;
        foreach ($allDataInSheet as $key => $value) {
            if ($itr == 1) {
                $itr++;
                continue;
            }
            foreach ($value as $key1 => $value1) {
                if ($key1 == 'A') {
                    $employee_id[] = $value1;
                }
                if ($key1 == 'B') {
                    $name[] = $value1;
                }
                if ($key1 == 'C') {
                    $designation[] = $value1;
                }
                if ($key1 == 'D') {
                    $date[] = $value1;
                }
                $char = 'E';
                for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {
                    if ($key1 == $char) {
                        ${'column' . $count}[] = $value1;
                    }
                    $char++;
                }
            }
        }

        $employee_id_str = implode(',', $employee_id);
        $name_str = implode(',', $name);
        $designation_str = implode(',', $designation);
        $date_str = implode(',', $date);
        for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {
            ${'column_str' . $count} = implode(',', ${'column' . $count});
        }
    }
    if (isset($_POST["upload"]) && !empty($_POST["upload"])) {
        $c = 0;
        $char = 'A';
        foreach ($allDataInSheet as $key => $value) {
            if ($c == 0) {
                if ($this->escapeHtml(strtolower($value[$char])) != strtolower('S.No')) {
                    echo '<td colspan="8" style="text-align: center;">Error On "' . $char . '" Column</td>';
                    exit;
                }else {
                    $char++;
                }
                if ($this->escapeHtml(strtolower($value[$char])) != strtolower('Name')) {
                    echo '<td colspan="8" style="text-align: center;">Error On "' . $char . '" Column</td>';
                    exit;
                }else {
                    $char++;
                }
                if ($this->escapeHtml(strtolower($value[$char])) != strtolower('Designation')) {
                    echo '<td colspan="8" style="text-align: center;">Error On "' . $char . '" Column</td>';
                    exit;
                }else {
                    $char++;
                }
                if ($this->escapeHtml(strtolower($value[$char])) != strtolower('Date')) {
                    echo '<td colspan="8" style="text-align: center;">Error On "' . $char . '" Column</td>';
                    exit;
                }else {
                    $char++;
                }
                for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {
                    if (!empty($data[0]['is_col' . $count])) {
                        if ($this->escapeHtml(strtolower($value[$char])) != strtolower($data[0]['is_col' . $count])) {
                            echo '<td colspan="8" style="text-align: center;">Error On "' . $char . '" Column</td>';
                            exit;
                        }
                    }
                    $char++;
                }
                $c++;
            } else {
                echo '<tr id="record' . $c . '">
            <td class="emp_id">' . $this->escapeHtml($value["A"]) . '</td>
            <td class="name">' . $this->escapeHtml($value['B']) . '</td>
            <td class="designation">' . $this->escapeHtml($value['C']) . '</td>
            <td class="date">' . $this->escapeHtml($value['D']) . '</td>';
            $char = 'E';
                for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {
                    if (!empty($data[0]['is_col' . $count])) {
                        echo '<td class="col' . $count . '">' . $this->escapeHtml($value[$char]) . '</td>';
                    }
                    $char++;
                }
            echo '<td>
                <input type="button"  id="delete' . $c . '" class="btn btn-primary" value="Delete">
            </td>
        </tr>' ?>
                <script>
                    $(document).ready(function () {
                        var emp_id = Array();
                        var name = Array();
                        var designation = Array();
                        var date = Array();
                        <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                        var col<?php echo $count;?> = Array();
                        <?php }?>
                        $('#delete<?php echo $c; ?>').click(function (e) {
                            console.log('<?php echo $c; ?>');
                            e.preventDefault();
                            var confirm1 = confirm('Are you sure?');
                            if (confirm1) {
                                $('#record<?php echo $c; ?>').animate({'line-height': 0}, 1000).hide(1);
                                $('#record<?php echo $c; ?>').remove();
                                $("table tr").each(function (i, v) {
                                    emp_id[i] = Array();
                                    name[i] = Array();
                                    designation[i] = Array();
                                    date[i] = Array();
                                    $(this).children('.emp_id').each(function (ii, vv) {
                                        emp_id[i][ii] = $(this).text();

                                    });
                                    $(this).children('.name').each(function (ii, vv) {
                                        name[i][ii] = $(this).text();

                                    });
                                    $(this).children('.designation').each(function (ii, vv) {
                                        designation[i][ii] = $(this).text();
                                    });
                                    $(this).children('.date').each(function (ii, vv) {
                                        date[i][ii] = $(this).text();
                                    });
                                    <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                                    col<?php echo $count;?>[i] = Array();
                                    $(this).children('.col<?php echo $count;?>').each(function (ii, vv) {
                                        col<?php echo $count;?>[i][ii] = $(this).text();
                                    });
                                    <?php }?>
                                });
                                $('input[name^=employee_id]').val(emp_id);
                                $('input[name^=employee_name]').val(name);
                                $('input[name^=designation]').val(designation);
                                $('input[name^=date]').val(date);
                                <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
                                $('input[name^=col<?php echo $count;?>]').val(col<?php echo $count;?>);
                                <?php }?>
                                $('#record<?php echo $c; ?>').remove();
                                /*subtract distance from total distance*/
                                var total_value = $("input[name=value]").val();
                                var current_value = 1;
                                var diff_value = total_value - current_value;
                                console.log(diff_value);
                                $("input[name=value]").val(diff_value);
                                /*subtract distance from total distance*/
                            }
                        });
                        $("input[name=value]").val('<?= $c;?>');
                    });
                </script>
                <?php
                $c++;
            }
        }
    }
    ?>
    <script>
        $(document).ready(function () {
            $('input[name^=file_name]').val('<?php echo $file_name; ?>');
            $('input[name^=org_name]').val('<?php echo $inputFileName; ?>');

            $("#file_upload_div").show();
            $("#file_upload_section_event").show();
            $('input[name^=employee_id]').val('<?php echo $employee_id_str;?>');
            $('input[name^=employee_name]').val('<?php echo $name_str;?>');
            $('input[name^=designation]').val('<?php echo $designation_str;?>');
            $('input[name^=date]').val('<?php echo $date_str;?>');
            <?php for ($count = 1; $count <= _BULK_FIELD_EXTRA_; $count++) {?>
            $('input[name^=col<?php echo $count;?>]').val('<?php echo ${'column_str'.$count};?>');
            <?php }?>

            $('input[name^=travel_from]').val('');
            $('input[name^=travel_to]').val('');
            $('input[name^=travel_date]').val('');
            $('input[name^=travel_distance]').val('');

            $('input[name^=dob]').val('');
            $('input[name^=nationality]').val('');
            $('input[name^=gender]').val('');
        });
    </script>
    <script>
        $('input[name="submit"]').bind('click', function () {
            var rowtable=0;
            var result='';
            $('.table tr').each(function(){
                var columntable=1;
                $(this).find('td').each (function() {
                    if($(this).text() == ''){
                        result += '[row = '+rowtable+' column = '+columntable+'] ';
                    }
                    columntable++;
                });
                rowtable++;
            });
            if(result==''){
                return true;
                $('#excel_error').hide();
            }else{
                $('#excel_error').empty();
                var totaltop = $("#file_upload_section h2").offset().top - 200;
                $('html, body').animate({
                    scrollTop: totaltop
                }, 2000);
                //$('#excel_error').focus();
                $('#excel_error').append("Document not saved. You have an error on excel file <br>"+result);
                $('#excel_error').show();
            }
            return false;
        });
    </script>
<?php } ?>