<!--<div class="box-with-text">
    <div class="texts">Sustainability</div>
</div>-->
<div class="jumbotron m-t">
    <h1 class="text-center"><?php echo sprintf($this->translate('SUSTAINABILITY'), '<span class="zf-green">', '</span>') ?></h1>
    <h3 class="text-center"><?php echo sprintf($this->translate('TOOL'), '<span class="zf-green">', '</span>') ?></h3>
</div>

<div class="row" style="display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;">
    <ul class="pict ih-item circle effect1">
        <?php
        $lg = '';
        $col_lg = '';
        $md = '';
        $col_md = '';
        if($_SESSION['user']['user_type']  == _CHAMPION_)
        {
            $lg = 'col-lg-3';
            $col_lg="col-lg-12";
            $md = 'col-sm-2';
        }
        if($_SESSION['user']['user_type']  == _ADMIN_) {
            $lg= 'col-lg-1';
            $col_lg='col-lg-12';
            $col_md = 'col-sm-12';
        }
        ?>
        <div class="<? ?> <? ?>"></div>
        <div class="<?= $col_md; ?> <?= $col_lg; ?>">
            <a href="<?php echo $this->url('procurement') ?>" >
                <li >
                    <span class="da_font">Environment Health & Safety</span><br>
                    <div class="spinner"></div>
                    <img src="img/EnviornmentHealth1.png">
                </li>
<!--                <li class="envior_ani"><span class="da_font">Environment Health & Safety</span><br><img src="img/EnviornmentHealth_anim.gif"></li>-->
            </a>
<!--            <li class="slice1 hidden-sm hidden-xs img-responsive"><img src="img/slice.png"></li>-->
            <a href="<?php echo $this->url('event') ?>" class="">
                <li class="comm">
                    <span class="da_font">Community</span><br />
                    <div class="spinner"></div>
                    <img src="img/2.png">
                </li>
                <!--                <li class="comm_ani"><span class="da_font">Community</span><br><img src="img/community1.gif"></li>-->
            </a>
<!--            <li class="slice2 hidden-sm hidden-xs img-responsive"><img src="img/slice.png"></li>-->
            <a href="<?php echo $this->url('national') ?>" >
                <li>
                    <span class="da_font">Our People</span><br><br><br>
                    <div class="spinner"></div>
                    <img src="img/our_people.png">
                </li>
<!--                <li class="our_ani"><span class="da_font">Our People</span><br><img src="img/our_people_anim.gif"></li>-->
            </a>
            <?php if($_SESSION['user']['user_type']  == _ADMIN_) { ?>
<!--                <li class="slice3 hidden-sm hidden-xs img-responsive"><img src="img/slice.png"></li>-->
                <a href="<?php echo $this->url('dashboard') ?>" class="">
                    <li class="analy">
                        <span class="da_font">Analytics</span><br/>
                        <div class="spinner"></div>
                        <img src="img/analytics.png">
                    </li>
<!--                    <li class="analy_ani"><span class="da_font">Analytics</span><br><img src="img/analy-anim.gif"></li>-->
                </a>
            <?php } ?>
        </div>
        <div class="<?php  ?>"></div>
    </ul>
</div>