<?php
extract($_REQUEST);
?>
<!-- search criteria Modal -->
<img id="wheel_loader" style="display: none;background: transparent;"
     src="<?php echo $this->basePath('img/wheel_loader.gif') ?>">
<div class="modal fade" id="set_criteria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <!-- <div id="wheel_loader" class="center" style="display: none;"><img
                    src="<?php /*echo $this->basePath('img/wheel_loader.gif') */ ?>"></div>-->
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Set Criteria</h2>
                </div>
                <?php echo $this->partial('carboncalculator/Gfilter.phtml'); ?>
            </div>
        </div>
    </div>
</div>
<!-- search criteria Modal -->

<h2>Carbon Calculator</h2>

<div class="carbon-main-container">
    <!--main panel-->

    <div class="panel panel-default" style="display:<?= (empty($GData)) ? 'block' : 'none' ?>">
        <div class="panel-body center">
            <img src="<?php echo $this->basePath('img/Carbon.png') ?>" class="btn" width="180px">

            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-start btn-lg" data-toggle="modal" data-target="#set_criteria">
                Start Calculating
            </button>
        </div>
    </div>
    <!--main panel-->
    <!--applied filter panel-->
    <div class="panel panel-primary" style="display:<?= (empty($GData)) ? 'none' : 'block' ?>">
        <div class="panel-heading">Applied Filter</div>
        <div class="panel-body">
            <div>
                <div class="col-lg-6">
                    <div><b>Company</b></div>
                    <div><?php echo $company_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Region</b></div>
                    <div><?php echo $region_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Country</b></div>
                    <div><?php echo $country_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Group</b></div>
                    <div><?php echo $group_name; ?></div>
                </div>
                <div class="col-lg-6">
                    <div><b>Date</b></div>
                    <div><?php echo date('M,Y', strtotime($fromyear)) . '-' . date('M,Y', strtotime($toyear)); ?></div>
                </div>
            </div>
        </div>
    </div>
    <!--applied filter panel-->
    <!-- select color Modal -->
    <div class="panel panel-primary" style="display:<?= (empty($GData)) ? 'none' : 'block' ?>">
        <div class="panel-heading">Legends</div>
        <div class="panel-body">
            <div class="col-sm-2 col-md-2 col-lg-6 label-space">
                <div id="colorpicker">

                </div>
                <div class="col-sm-2 col-md-2 col-lg-6 label-space">
                    <button type="button" id="submit-color" class="btn"><span>Submit</span></button>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-6 label-space">
                <div class="col-sm-2 col-md-2 col-lg-8 label-space">
                    <button type="button" id="btnSaveAsImage" class="btn fa fa-picture-o"><span> Download Image</span>
                    </button>
                    <button type="button" id="btnSaveAsPDF" class="btn fa fa-download"><span> Download PDF</span>
                    </button>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-8 label-space">
                    <input type="text" id="graphname" class="form-control" placeholder="Chart Name" value=""/>
                </div>
            </div>
        </div>
    </div>
    <!-- search criteria Modal -->
    <!--graph panel-->
    <div class="panel panel-default " style="display:<?= (empty($GData)) ? 'none' : 'block' ?>">
        <div class="panel-heading panel-heading-custom">Carbon Graph

            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-bar-chart"></i>
                    </button>
                    <ul class="dropdown-menu" style=" min-width:0px !important;">
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/bar-chart.png') ?>" id="bar">
                        </li>
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/pie-chart.png') ?>" id="pie">
                        </li>
                        <li><img class="btn btn-xs" src="<?php echo $this->basePath('img/line-chart.png') ?>" id="line">
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#set_criteria">Filters
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body" id="canvas_body">
            <canvas id="CarbonChart" class="col-sm-12 col-md-12 pull-right" style="width:100%;"></canvas>
            <canvas id="CarbonChart1" class="col-sm-12 col-md-12 pull-right"
                    style="width:100%; display: none;"></canvas>
            <canvas id="CarbonChart2" class="col-sm-12 col-md-12 pull-right"
                    style="width:100%; display: none;"></canvas>
        </div>
    </div>
    <!--graph panel-->
    <?php
    if ($GData) {
        $total_carbon_emission = null;
        $avg_carbon_emission = null;
        $year_count = null;
        $year_arr = array();
        $starting_year = null;
        $ending_year = null;
        $carbon = array();

        $mons = array(1 => "Jan", 2 => "Feb", 3 => "Mar", 4 => "Apr", 5 => "May", 6 => "Jun", 7 => "Jul", 8 => "Aug", 9 => "Sep", 10 => "Oct", 11 => "Nov", 12 => "Dec");
        $i = 0;
        $j = 1;
        $indicator_status = null;
        $first_indicator_name = '';
        $carbon1 = array();
        $len = count($GData);
        foreach ($GData as $GData1):
            if ($GData1['indicator_status'] == 'noindicator') {
                $indicator_status = $GData1['indicator_status'];
            }
            if ($i == 0) {
                // first
                $starting_year = "'" . ltrim(date("Y", strtotime($GData1['date'])), '0') . "'";
            } else if ($i == $len - 1) {
                // last
                $ending_year = "'" . ltrim(date("Y", strtotime($GData1['date'])), '0') . "'";
            }
            // …

            $label = $GData1['label'];
            $month = ltrim(date("m", strtotime($GData1['date'])), '0');
            $month_name = $mons[$month];
            if (!in_array("'" . $month_name . "'", $year_arr)) {
                $year_arr[] = "'" . $month_name . "'";
            }
            // if different type

            if ($i == 0) {
                $carbon[] = $GData1['value'] * $GData1['carbon_value'];
                $carbon_str = implode(',', $carbon);
                $first_indicator_name = $GData1['indicator_name'];

            } else if ($GData[$i - 1]['type'] == $GData[$i]['type']) {

                if ($j > 1) {
                    ${"carbon" . $j}[] = $GData1['value'] * $GData1['carbon_value'];
                    ${"carbon_str" . $j} = implode(',', ${"carbon" . $j});

                } else {
                    $carbon[] = $GData1['value'] * $GData1['carbon_value'];
                    $carbon_str = implode(',', $carbon);
                }

            } else if ($GData[$i - 1]['type'] != $GData[$i]['type']) {
                $j++;
                ${"carbon" . $j}[] = $GData1['value'] * $GData1['carbon_value'];
                ${"carbon_str" . $j} = implode(',', ${"carbon" . $j});
                ${'indicator_name' . $j} = rtrim($GData1['indicator_name']);
            }

            $i++;
        endforeach;
        $year_count = count($year_arr);
        //$carbon= array_sum($carbon);
        $year = implode(',', $year_arr);

        $year_f = current($year_arr);
        $year_l = end($year_arr);

        $carbon = implode(',', $carbon);
        $carbon1 = implode(',', $carbon1);
        if ($ending_year == '' || empty($ending_year)) {
            $ending_year = $starting_year;
        }
    } else {
        echo 'Data not found';
    }
    ?>

    <script>
        $(document).ready(function () {
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            var ctx = document.getElementById("CarbonChart");
            var backgroundColor = ['#2F93D1', '#3396D2', '#5BC3B8', '#0D3B58', '#E7E7E7', '#FF9800', '#FFC107', '#4CAF50', '#00BCD4', '#CDDC39'];

            var labels = [
                <?php
                $carbon_exp = explode(',', $carbon_str);
                if($indicator_status == 'noindicator'){
                    for ($c = 2; $c <= $j; $c++) {
                        $carbon_exp1 = explode(',', ${"carbon_str" . $c});
                    }
                    //count($carbon_exp);
                    for ($cs = 0; $cs < count($carbon_exp); $cs++) {
                        ${"carbon_sum" . $cs} = $carbon_exp[$cs] + $carbon_exp1[$cs];
                        $carbon_sum_arr[] = ${"carbon_sum" . $cs};
                        $carbon_sum_str = implode(',', $carbon_sum_arr);
                    }
                ?>
                '<?php echo rtrim($label); ?>',
                <?php
                //$carbon_sum = array_sum($carbon_exp) + array_sum($carbon_exp1);
                }else{ ?>

                '<?php echo rtrim($first_indicator_name); ?>',

                <?php  }
                $colorcount=2;
                for($c = 2;$c <= $j;$c++){
                $indicator_name = ${'indicator_name' . $c};
                if($indicator_status != 'noindicator'){ ?>
                '<?php echo rtrim($indicator_name); ?>',
                <?php
                $colorcount++;
                }else{
                $colorcount=2;
                }
                }
                ?>
            ];


            var data = {
                labels: [<?php echo $year; ?>],
                datasets: [
                    <?php
                    $carbon_exp = explode(',', $carbon_str);
                    if($indicator_status == 'noindicator'){
                        for ($c = 2; $c <= $j; $c++) {
                            $carbon_exp1 = explode(',', ${"carbon_str" . $c});
                        }
                        //count($carbon_exp);
                        for ($cs = 0; $cs < count($carbon_exp); $cs++) {
                            ${"carbon_sum" . $cs} = $carbon_exp[$cs] + $carbon_exp1[$cs];
                            $carbon_sum_arr[] = ${"carbon_sum" . $cs};
                            $carbon_sum_str = implode(',', $carbon_sum_arr);
                        }
                    ?>
                    {
                        fill: false,
                        label: '<?php echo rtrim($label); ?>',
                        data: [<?php  $total_carbon_emission = array_sum($carbon_sum_arr);
                            echo $carbon_sum_str; ?>],
                        backgroundColor: backgroundColor[1],
                        borderColor: '#CCCCCC'
                    },
                    <?php
                    //$carbon_sum = array_sum($carbon_exp) + array_sum($carbon_exp1);
                    }else{ ?>
                    {
                        fill: false,
                        label: '<?php echo rtrim($first_indicator_name); ?>',
                        data: [<?php
                            $total_carbon_emission = array_sum($carbon_exp);
                            echo $carbon_str; ?>],
                        backgroundColor: backgroundColor[1],
                        borderColor: '#CCCCCC'
                    }

                    <?php  }
                        for($c = 2;$c <= $j;$c++){
                            $indicator_name = ${'indicator_name' . $c};
                            if($indicator_status != 'noindicator'){ ?>
                    , {
                        fill: false,
                        label: '<?php echo rtrim($indicator_name); ?>',
                        data: [<?php $total_carbon_emission += ${"carbon_str" . $c} + ${"carbon_str" . $c};
                                        echo ${"carbon_str" . $c}; ?>],
                        backgroundColor: backgroundColor[<?=$c;?>],
                        borderColor: '#CCCCCC'
                    }
                    <?php
                }
            }
        ?>
                ]
            };
            var canvas = document.getElementById('CarbonChart');
            var context = canvas.getContext('2d');

            for (var a = 0; a <= <?php echo $colorcount-2;?>; a++) {
                $('#colorpicker').append('<div class="col-sm-2 col-md-2 col-lg-8 label-space"><input type="text" id="wheel-demo' + a + '" class="form-control demo minicolors-input" data-control="wheel" value="' + backgroundColor[a + 1] + '" size="7"><div>');
            }

            $('#submit-color').bind('click', function () {
                backgroundColor = [];
                backgroundColor.push('#2F93D1');
                for (var a = 0; a <= <?php echo $colorcount-2;?>; a++) {
                    backgroundColor.push($('#wheel-demo' + a).val());
                }

                console.log(backgroundColor);
                data = {
                    labels: [<?php echo $year; ?>],
                    datasets: [
                        <?php
                        $carbon_exp = explode(',', $carbon_str);
                        if($indicator_status == 'noindicator'){
                        for ($c = 2; $c <= $j; $c++) {
                            $carbon_exp1 = explode(',', ${"carbon_str" . $c});
                        }
                        //count($carbon_exp);
                        for ($cs = 0; $cs < count($carbon_exp); $cs++) {
                            ${"carbon_sum" . $cs} = $carbon_exp[$cs] + $carbon_exp1[$cs];
                            $carbon_sum_arr[] = ${"carbon_sum" . $cs};
                            $carbon_sum_str = implode(',', $carbon_sum_arr);
                        }
                        ?>
                        {
                            fill: false,
                            label: '<?php echo rtrim($label); ?>',
                            data: [<?php
                            $total_carbon_emission = array_sum($carbon_sum_arr);
                            echo $carbon_sum_str; ?>],
                            backgroundColor: backgroundColor[1],
                            borderColor: '#CCCCCC'
                        },
                        <?php
                        //$carbon_sum = array_sum($carbon_exp) + array_sum($carbon_exp1);
                        }else{ ?>
                        {
                            fill: false,
                            label: '<?php echo rtrim($first_indicator_name); ?>',
                            data: [<?php
                            $total_carbon_emission = array_sum($carbon_exp);
                            echo $carbon_str; ?>],
                            backgroundColor: backgroundColor[1],
                            borderColor: '#CCCCCC'
                        }

                        <?php  }
                        for($c = 2;$c <= $j;$c++){

                        $indicator_name = ${'indicator_name' . $c};
                            if($indicator_status != 'noindicator'){ ?>
                        , {
                            fill: false,
                            label: '<?php echo rtrim($indicator_name); ?>',
                            data: [<?php
                                $total_carbon_emission += ${"carbon_str" . $c} + ${"carbon_str" . $c};
                                echo ${"carbon_str" . $c}; ?>],
                            backgroundColor: backgroundColor[<?=$c;?>],
                            borderColor: '#CCCCCC'
                        }
                        <?php
                        }
                    }
                    ?>
                    ]
                };
                $(".chartjs-hidden-iframe").remove();
                $("#CarbonChart").remove();
                $('<canvas>').attr({
                    id: 'CarbonChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("CarbonChart");
                var ctx = canvas.getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            });

            $("#pie").click(function () {
                $(".chartjs-hidden-iframe").remove();
                $("#CarbonChart").remove();
                $('<canvas>').attr({
                    id: 'CarbonChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("CarbonChart");
                var ctx = canvas.getContext('2d');
                if (data == '') {
                    data = data;
                }
                new Chart(ctx, {
                    type: 'pie',
                    data: data
                })
            });
            $("#bar").click(function () {
                $(".chartjs-hidden-iframe").remove();
                $("#CarbonChart").remove();
                $('<canvas>').attr({
                    id: 'CarbonChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("CarbonChart");
                var ctx = canvas.getContext('2d');
                if (data != '') {
                    data = data;
                }
                new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            });
            $("#line").click(function () {
                $(".chartjs-hidden-iframe").remove();
                $("#CarbonChart").remove();
                $('<canvas>').attr({
                    id: 'CarbonChart'
                    //class : 'col-sm-12 col-md-12 pull-right'
                }).css({
                    width: '100%',
                    height: '100%'
                }).appendTo('#canvas_body');
                var canvas = document.getElementById("CarbonChart");
                var ctx = canvas.getContext('2d');
                if (data != '') {
                    data = data;
                }
                new Chart(ctx, {
                    type: 'line',
                    data: data
                })
            });
            new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            $("#btnSaveAsPDF").click(function () {
                var graphname = $('#graphname');
                if (graphname.val() != '') {
                    var can = document.getElementById('CarbonChart'),
                        ctx = can.getContext('2d');
                    var can1 = document.getElementById('CarbonChart1'),
                        ctx1 = can1.getContext('2d');
                    var can2 = document.getElementById('CarbonChart2'),
                        ctx2 = can2.getContext('2d');

                    var width = can.width;
                    var height = can.height;
                    $('#CarbonChart1').attr('width', width);
                    $('#CarbonChart1').attr('height', height);

                    $('#CarbonChart2').attr('width', width);
                    $('#CarbonChart2').attr('height', height);

                    ctx1.fillStyle = '#fff';
                    //console.log(can.height);
                    ctx1.fillRect(0, 0, can.width, can.height);
                    ctx2.drawImage(can1, 0, 0);
                    ctx2.drawImage(can, 0, 0);
                    //$('#CarbonChart')[0].toDataURL("image/png");
                    var src = can2.toDataURL("image/jpeg", 1.0);
                    var pdf = new jsPDF('l', 'mm', 'letter');

                    pdf.addImage(src, 'JPEG', 0, 20);
                    //var download = document.getElementById('download');

                    pdf.save(graphname.val());
                    //console.log(src);
                    //src = src.replace("image/png", "image/octet-stream");
                    //document.location.href = src;
                    //saveAs(src, graphname.val());
                } else {
                    graphname.focus();
                }
            });
            $("#btnSaveAsImage").click(function () {
                var graphname = $('#graphname');
                if (graphname.val() != '') {
                    var can = $('#CarbonChart');
                    //$('#CarbonChart')[0].toDataURL("image/png");
                    var src = can[0].toDataURL("image/octet-stream");
                    //console.log(src);
                    //src = src.replace("image/png", "image/octet-stream");
                    //document.location.href = src;
                    saveAs(src, graphname.val());
                } else {
                    graphname.focus();
                }
            });
            function saveAs(uri, filename) {
                var link = document.createElement('a');
                if (typeof link.download === 'string') {
                    link.href = uri;
                    link.download = filename;

                    //Firefox requires the link to be in the body
                    document.body.appendChild(link);

                    //simulate click
                    link.click();

                    //remove the link when done
                    document.body.removeChild(link);
                } else {
                    window.open(uri);
                }
            }

        });
    </script>
    <!--total carbon  emission-->
    <div class="row" style="display:<?= (empty($GData)) ? 'none' : 'block' ?>">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading  panel-heading-custom">Total Carbon Emission</div>
                <div class="panel-body panel-heading-custom center">
                    <div class="content">
                        <?php
                        if ($GData1) {
                            echo $total_carbon_emission;
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>

        <!--total carbon  emission-->
        <!--avg carbon  emission-->

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading  panel-heading-custom1">Average Carbon Emission</div>
                <div class="panel-body panel-heading-custom1 center">
                    <div class="content">
                        <?php
                        if ($GData1) {
                            echo $avg_carbon_emission = ($total_carbon_emission) / ($year_count);
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--avg carbon  emission-->
</div>
<script type="text/javascript">
    $(function () {
        var colpick = $('.demo').each(function () {
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: 'lowercase',
                opacity: false,
                change: function (hex, opacity) {
                    if (!hex) return;
                    if (opacity) hex += ', ' + opacity;
                    try {
                        console.log(hex);
                    } catch (e) {
                    }
                    $(this).select();
                },
                theme: 'bootstrap'
            });
        });

        var $inlinehex = $('#inlinecolorhex h3 small');
        $('#inlinecolors').minicolors({
            inline: true,
            theme: 'bootstrap',
            change: function (hex) {
                if (!hex) return;
                $inlinehex.html(hex);
            }
        });
//        $("#btnSaveAsImage").click(function () {
//
//            var theCanvas = $("#canvas_body");
//
//            $(this).href = theCanvas.toDataURL();
//            $(this).download = 'test.png';
//            //downloadCanvas(this, 'canvas', 'test.png');
//            //$("#img-out").append(canvas);
//            // Clean up
//            //document.body.removeChild(canvas);
//        });


    });
</script>